<?php
/*
  ##############  Author   : AFOLABI Jamal Deen
  ##############  Email    : jamaldeen25@gmail.com
  ##############  Date     : 15 avr. 2017 A  15:00:06
  ##############  File     : index.phtml
  ##############  Edit Part ###################
  ##############  Date     :
  ##############  Author   :
 */
?>
<table id="table" class="table table-info table-striped box"
       data-toggle="table"
       data-toolbar="#toolbar"
       data-unique-id="id"
       data-url="<?php echo $this->url('app/participant', array('action' => 'lister')); ?>"
       data-side-pagination="server"
       data-pagination="true"
       data-page-list="[10, 20, 50, 100, 200]"
       data-search="true">
    <thead>
        <tr>
            <th data-field="fullName">Participant</th>
            <th data-field="sexe">Sexe</th>
            <th data-field="contact">Contact</th>
            <th data-field="email">Email</th>
            <th data-field="etat" data-formatter="etatFormatter" class="text-center" style="width: 100px;">Etat</th>
            <th data-field="id" class="menu-option" data-formatter="optionFormatter"><i class="fa fa-wrench"></i></th>
        </tr>
    </thead>
</table>

<div class="modal fade bs-modal-ajout" role="dialog" data-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <span class="circle bg-primary">
                    <i class="glyphicon"></i>
                    Gestion des participants
                </span>
            </div>
            <div class="modal-body" id="formCtrl" ng-controller="formCtrl">
                <form id="formAjout" class="form-horizontal" action="participant/ajouter" method="post">
                    <input type="text" class="hidden" ng-hide="true" ng-model="participant.id" name="idParticipant" value="" />
                    <div class="box-body">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <div class="form-group">
                                <label for="fullName" class="control-label">Nom et pr&eacute;noms *</label>
                                <input type="text" class="form-control" ng-model="participant.fullName" id="fullName" name="fullName" placeholder="Nom" required>
                            </div>
                            <div class="form-group">
                                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                                    <label for="sexe" class="control-label">Sexe *</label>
                                    <select class="form-control" ng-model="participant.sexe" id="sexe" name="sexe" required>
                                        <option value="Masculin" selected="selected"> Masculin </option>
                                        <option value="Feminin"> Feminin </option>
                                    </select>
                                </div>
                                <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                                    <label for="email" class="control-label">E-mail *</label>
                                    <input type="text" class="form-control" ng-model="participant.email" id="email" name="email" placeholder="E-mail" required>
                                </div>
                                <label for="email" class="control-label">E-mail *</label>
                                <input type="text" class="form-control" ng-model="participant.email" id="email" name="email" placeholder="E-mail" required>
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8"> 
                                        <label for="contact" class="control-label">Contact *</label>
                                        <input type="text" class="form-control" ng-model="participant.contact" id="contact" name="contact" placeholder="Contact" required>
                                    </div>
                                    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4"> 
                                        <label for="etat" class="control-label"> Etat </label><br>
                                        <input type="checkbox" name="etat" ng-model="participant.etat" id="etat" value="1" checked=""/>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <span></span><button type="submit" class="btn btn-primary btn-sm "><?php echo $this->translate('Enregistrer'); ?> <i class="fa fa-angle-right ml5"></i></button>
                    </div> 
                </form>
            </div>
        </div>
    </div>
</div>
</div>

<div class="modal deleteModal  fade bs-delete-modal-static" role="dialog" data-backdrop="static">
    <div class="modal-dialog ">
        <div class="modal-content deleteModal-style">
            <div class="modal-header ">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <span class="circle bg-danger">
                    <i class="fa fa-question-circle"></i>
                    Confimation
                </span>
            </div>
            <div class="modal-body " id="deleteCtrl" ng-controller="deleteCtrl">
                <form id="formDelete" action="participant/supprimer" method="post">
                    <input type="text" class="hidden" ng-hide="true" ng-model="participant.id" name="idParticipant" value="" />
                    <div class="clearfix">
                        <div class="text-center" id="question"><i class="fa fa-question-circle fa-2x"></i> Etes vous certains de vouloir supprimer ce participant<br /><b>{{infoDelete}}</b></div>
                        <div class="text-center vertical" id="processing">Suppression en cours</div>
                        <div class="pull-right">
                            <button type="button" data-dismiss="modal" class="btn btn-default btn-sm"><?php echo $this->translate('Non'); ?> </button>
                            <button type="submit" class="btn btn-danger btn-sm "><?php echo $this->translate('Oui'); ?></button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    var participantBaseUrl = "<?php echo $this->basePath("/app/participant/"); ?>";
    var action = 'ajouter', $table = jQuery('#table'), rows;
    appStock.controller('formCtrl', function ($scope) {
        $scope.populateForm = function (participant) {
            $scope.participant = participant;
        };
        $scope.initForm = function () {
            $scope.participant = {};
        };
    }).controller('deleteCtrl', function ($scope) {
        $scope.populateForm = function (participant) {
            $scope.participant = participant;
            $scope.infoDelete = participant.libelle;
        };
    });

    jQuery(document).ready(function ($) {
        $(".loader, .loader-delete, #processing").hide();
        $("#formAjout").submit(function (e) {
            e.preventDefault();
            var $valid = $(this).valid();
            if (!$valid) {
                $validator.focusInvalid();
                return false;
            }
            sendAction($(this).serialize());
        });

        $('.bs-modal-ajout').on('hidden.bs.modal', function (e) {
            action = "ajouter";
            var $scope = angular.element(document.getElementById("formCtrl")).scope();
            $scope.$apply(function () {
                $scope.initForm();
            });
        });

        $table.on('load-success.bs.table', function (e, data) {
            rows = data.rows;
        });

        $("#formDelete").submit(function (e) {
            e.preventDefault();
            var formData = $(this).serialize();
            $.ajax({
                type: "POST",
                url: participantBaseUrl + action,
                cache: false,
                data: formData,
                success: function (reponse) {
                    if (reponse.code === 1) {
                        $table.bootstrapTable('remove', {
                            field: 'id',
                            values: [reponse.data.id]
                        });
                    }
                    $.gritter.add({
                        // heading of the notification
                        title: reponse.msg,
                        // the text inside the notification
                        image: '<?php echo $this->basePath("/img/gritter/confirm.png"); ?>',
                    });
                },
                error: function () {
                    $(".loader-delete").hide();
                    $('#processing').hide();
                    $('#processing').show();
                },
                beforeSend: function () {
                    $("#formDelete").attr("disabled", true);
                    $('#processing').show();
                    $("#question").hide();
                },
                complete: function () {
                    $("#formDelete").removeAttr("disabled");
                    $('#processing').hide();
                    $("#question").show();
                    $(".bs-delete-modal-static").modal('hide');
                }
            });
        });

        // Wizard With Form Validation
        var $validator = jQuery("#formAjout").validate({
            highlight: function (formElement, label) {
                jQuery(label).closest('.form-group').removeClass('has-success').addClass('has-error');
            },
            success: function (label, formElement) {
                jQuery(label).closest('.form-group').removeClass('has-error');
                $(label).remove();
            }
        });
    });

    function updateRow(idTypeQuestion, index) {
        var $scope = angular.element(document.getElementById("formAjout")).scope();

        var participant = _.findWhere(rows, {id: idTypeQuestion});
        action = "modifier";
        $scope.$apply(function () {
            $scope.populateForm(participant);
        });
        $(".bs-modal-ajout").modal("show");
    }

    function deleteRow(idTypeQuestion, index) {
        var participant = _.findWhere(rows, {id: idTypeQuestion});
        var $scope = angular.element(document.getElementById("deleteCtrl")).scope();
        action = "supprimer";
        $scope.$apply(function () {
            $scope.populateForm(participant);
        });
        $(".bs-delete-modal-static").modal("show");
    }

    function sendAction(formData) {
        var $ajoutLoader = $("#formAjout .modal-footer span");
        var $formAjout = jQuery("#formAjout");
        jQuery.ajax({
            type: "POST",
            url: participantBaseUrl + action,
            cache: false,
            data: formData,
            success: function (reponse) {
                if (reponse.code === 1) {
                    if (action === 'modifier') {
                        $table.bootstrapTable('updateByUniqueId', {
                            id: reponse.data.id,
                            row: reponse.data
                        });
                        $(".bs-modal-ajout").modal("hide");
                    }
                    else { //add
                        var $scope = angular.element(document.getElementById("formAjout")).scope();
                        $scope.$apply(function () {
                            $scope.initForm();
                        });
                        $table.bootstrapTable('refresh');
                    }
                }
                $.gritter.add({
                    // heading of the notification
                    title: reponse.msg,
                    // the text inside the notification
                    image: '<?php echo $this->basePath("/img/gritter/confirm.png"); ?>'
                });
            },
            error: function (err) {
                $.gritter.add({
                    // heading of the notification
                    title: "Erreur survenue, réessayer plus tard",
                    // the text inside the notification
                    image: '<?php echo $this->basePath("/img/gritter/confirm.png"); ?>'
                });
                $formAjout.removeAttr("disabled");
                $ajoutLoader.removeClass("loader");
            },
            beforeSend: function () {
                $formAjout.attr("disabled", true);
                $ajoutLoader.addClass("loader");
            },
            complete: function () {
                $ajoutLoader.removeClass("loader");
            }
        });
    }

    function optionFormatter(id, row, index) {
        return '<button class="btn btn-xs btn-primary" data-placement="left" data-toggle="tooltip" data-original-title="Modifier" onClick="javascript:updateRow(' + id + ',' + index + ');"><i class="fa fa-edit"></i></button>\n\
                <button class="btn btn-xs btn-danger" data-placement="left" data-toggle="tooltip" data-original-title="Supprimer" onClick="javascript:deleteRow(' + id + ',' + index + ');"><i class="fa fa-trash"></i></button>';
    }

    function etatFormatter(etat) {
        if (etat === true)
            return '<i class="glyphicon glyphicon-ok text-primary"></i>';
        else
            return '<i class="glyphicon glyphicon-remove text-danger"></i>';
    }
</script>

<?php
$this->headScript()->appendFile($this->basePath('js/jquery.validate.min.js'));
$this->headScript()->appendFile($this->basePath('plugins/bootstrap-table/bootstrap-table.js'));
$this->headScript()->appendFile($this->basePath('plugins/bootstrap-table/locale/bootstrap-table-fr-FR.js'));
$this->headLink()->appendStylesheet($this->basePath('plugins/bootstrap-table/bootstrap-table.css'));
