/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 14 mai 2016, 17:50:56
    Author     : wilfried
*/

.error{
    color: #ff3300;
}

.info-success{
    color: #008d4c;
    font-weight: bold;
}

.menu-option{
    width: 100px;
    text-align: center;
}

.loader-login{
    margin-top: 5px;
    padding-top: 10px;
    padding-left: 30px;
    line-height: 10px;
    background-image: url("../../img/loaders/loader19.gif");
    background-position-x: right;
    background-repeat: no-repeat;
}

.process-loader{
    /*padding: 4px 10px 10px 25px;*/
    padding-top: 5px;
    background-color: #008d4c;
    background-image: url("../../img/loaders/loader27.gif");
    background-size: 100%;
    background-position-x: left;
    background-repeat: no-repeat;
}

.loader{
    margin-right: 5px;
    background-repeat: no-repeat;
    padding: 4px 20px 20px 20px;
    background-image: url("../img/loaders/loader.gif");
}

.loader19{
    margin-right: 5px;
    background-repeat: no-repeat;
    padding: 4px 5px 5px 30px;
    background-image: url("../img/loaders/loader19.gif");
}

.loader27{
    margin-right: 5px;
    background-repeat: no-repeat;
    padding: 4px 5px 5px 30px;
    background-image: url("../img/loaders/loader27.gif");
}

#processing{
    background-image: url('../img/loaders/loading-tools.gif');
    background-repeat: no-repeat;
    background-position-x: 150px;
    height: 50px;
    font-size: 16px;
}

.login-box, .register-box{
    margin: 2% auto;
}

.danger{
    color: #ff3300;
}

.soldeInitial{
    font-weight: bold;
}
.bg-white {
    background-color: #fff !important;
}

.user-header-custom {
    background-color: #fff;
    margin: auto;
}
.skin-blue .main-header li.user-header {
    background-color: #f9f9f9 !important;
}

.navbar-nav>.user-menu>.dropdown-menu>li.user-header>p {
    z-index: 5;
    /*color: #fff;*/ 
    color: rgba(0,0,0,0.6); 
    font-size: 17px;
    margin-top: 10px;
}

.img-circle, ul.dropdown-menu{
    -webkit-box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.75);
}

.custom-title{
    margin-top: 20px;
    border-bottom: solid 2px #00c0ef;
}

/*.select2 span[aria-expanded="false"] input.select2-search__field{
    width: 100% !important;
}*/

#formAjout .select2-container--default .select2-selection--multiple .select2-selection__choice{
    color: #000;
}

#camera {
  display: inline-block;
  background-color: #eee;
  width: 250px;
  height: 300px;
  margin: 0.5em;
}

#camera .placeholder {
  padding: 0.5em;
}

#snapshots {
  height: 180px;
  margin: 0.5em 0;
  padding: 3px;

  border: 1px solid #aaa;

  white-space: nowrap;
  /*overflow-x: auto;*/
  overflow-y: hidden;
}

#snapshots canvas, #snapshots img {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;

  height: 100%;
  margin-left: 3px;
  border: 3px solid transparent;
}

#snapshots .selected {
  border: 3px solid #000;
}

#upload_status, #upload_result, #loader {
  margin: 0.5em;
}

.slider.slider-horizontal{
    width: 100%!important;
}

.slider-handle {
	background: green;
}
