/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 17 déc. 2015, 08:12:56
    Author     : wilfried
*/

.entete{
    width: 100%;
    padding-bottom: 5px;
    font-family: 'arial, tahoma';
    font-size: 0.8em;
    border-bottom: solid 2px #D9D9D9;
    color: #979797;
    margin-bottom: 50px;
}

.pied{
    width: 100%;
    padding: 5px;
    font-family: 'arial, tahoma';
    font-size: 0.8em;
    border-top: solid 2px #D9D9D9;
    color: #979797;
    text-align: center;
}

.entete div{
    float: left;
}

.entete .logo{
    width: 24%;
}
.entete .libelle{
    width: 45%;
    text-align: center;
}

.entete .date{
    float: right;
    width: 24%;
    text-align: right;
}

.border-style{
    border: solid 1px #0063dc;
}

table{
    font-size: 0.8em;
    vertical-align: top;
    margin-bottom: 50px;
}

table#detailCommande{
    font-size: 0.8em;
    margin-top: 50px;
    vertical-align: top;
    margin-top: 50px;
}

#detailCommande thead tr th{
    text-align: left;
}

#detailCommande .bord{
    border: solid 1px;
    border-bottom: 0;
}

.block-detail div{
    border: solid 1px #979797;
    float: left;
    padding: 5px;
}

.block-detail .block-prestation{
    width: 72%;
    border-right: 0;
}

.block-detail .block-montant{
    width: 22%;
}

div .noborder-top{
    border-top: none;
}

.footer .noborder{
    border: none;
    padding-right: 6px;
}

.text-right{
    text-align: right;
}

.trame-font{
    background-color: #D9D9D9;
}


.table-print{
    display: table;
    width: 100%;
    background-color: transparent;
    border-spacing: 0;
    border-collapse: collapse;
    border: 1px solid #000;
}


.table-print tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}

.table-print tr {
    display: table-row;
    border-top: 1px solid #f4f4f4;
    vertical-align: inherit;
    border-color: inherit;
}

.table-print tr td{
    display: table-row;
    border: 1px solid #f4f4f4;
    vertical-align: inherit;
    border-color: inherit;
}

table.table-print tr td, table.table-print tr th {
    border: 1px solid #f4f4f4;
    border-top: 1px solid #f4f4f4;
    padding: 8px;
    line-height: 1.42857143;
    vertical-align: top;
}

.fond-gris{
    background-color: #f9f9f9;
}

table {
    border-spacing: 0;
    border-collapse: collapse;
}
td,
th {
    padding: 0;
}

.table {
    border-collapse: collapse !important;
}
.table td,
.table th {
    background-color: #fff !important;
}
.table-bordered th,
.table-bordered td {
    border: 1px solid #ddd !important;
}

.label-danger{
    color: red;
}