<section class="content-header">
    <h1>
        Gestion des Privilege <?php echo $this->listeRole->getName(); ?>

    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Accueil</a></li>
        <li><a href="#">Role</a></li>
        <li class="active">Privilege</li>
    </ol>
    <hr>
</section>
<section>
    <div class="row">
        <div class="col-md-12">
            <!-- Custom Tabs -->
            <div class="nav-tabs-custom">


                <ul class="nav nav-tabs">
                    <?php foreach ($this->listeModule as $module): ?>
                        <li class="active"><a href="#<?php echo $module->getModule() ?>" data-toggle="tab"><?php echo ucfirst($module->getModule()) ?></a></li>
                    <?php endforeach; ?>

                </ul>
                <div class="tab-content">

                    <!-- Morris chart - Sales -->
                    <?php
                    $i = 0;
                    foreach ($this->listeModule as $module):
                        ?>
                        <?php
                        if ($i == 0) {
                            $active = 'active';
                        } else {
                            $active = '';
                        }
                        $i++;
                        ?>
                        <div class="chart tab-pane <?php echo $active ?>" id="<?php echo $module->getModule() ?>" style="position: relative; ">
                            <table class="table table-hidaction table-striped table-info mb30">
                                <thead>
                                    <tr class="bg-blue-active">
                                        <th width="20%"><?php echo $this->translate('Route'); ?></th>
                                        <th class="" colspan="<?php echo $this->nbr; ?>"><?php echo $this->translate('Ressources'); ?></th>
                                    </tr>
                                </thead>
                                <tbody> 
                                    <?php
                                    foreach ($this->listeRoute as $route):
                                        if ($module->getModule() == $route->getModule()) {
                                            ?>
                                            <tr data-id="">
                                                <td class = "txtName"><?php echo $this->translate($route->getName()); ?></td>
                                                <?php foreach ($this->listeRessource[$route->getId()] as $ressource): ?>
                                                    <td class = "txtName cocher">
                                                        <?php if(in_array($ressource->getId(),$this->listePrivilege)): ?> 
                                                        <input class="checker" type = "checkbox" name="privilege[]" value="<?php echo $ressource->getId() ?>" id="case_<?php echo $ressource->getId() ?>" checked="checked">
                                                        <label for ="case_<?php echo $ressource->getId() ?>"><?php echo $ressource->getAction() ?></label>
                                                        <?php else: ?>
                                                        <input class="checker" type = "checkbox" name="privilege[]" value="<?php echo $ressource->getId() ?>" id="case_<?php echo $ressource->getId() ?>">
                                                        <label for ="case_<?php echo $ressource->getId() ?>"><?php echo $ressource->getAction() ?></label>
                                                        <?php endif ?>
                                                    </td>
                                                <?php endforeach; ?>
                                            </tr>

                                        <?php } endforeach; ?>       
                                </tbody>
                            </table>
                        </div>
                        <!--<div class="chart tab-pane" id="authacl" style="position: relative; height: 300px;">sdsdsdsdsd</div>-->
                    <?php endforeach; ?>

                </div><!-- /.tab-content -->
            </div>
            <!-- nav-tabs-custom -->
        </div><!-- /.col -->
    </div>
</section>

<script>
//    $('document').ready(function () {
//        $('.checker').click(function () {
//            alert($(this).val());
//        });
//    });
</script>
<script type="text/javascript">
    $(document).ready(function () {
        $(":checkbox").on('change', function () {
            var ressource = this.value;
            var role = "<?php echo $this->listeRole->getId(); ?>";

            $.ajax({
                type: "POST",
                url: "<?php echo $this->basePath("role/add-privilege/"); ?> ",
                cache: false,
                dataType: "json",
                timeout: 3000,
                data: {ress: ressource, rol: role},
                success: function (data) {
                    console.log(data);
                    if (data.code === 1) {
                         $.gritter.add({
                        // heading of the notification
                        title: 'Confirmation',
                        // the text inside the notification
                        text: 'Enregistrement fait avec succes',
                        sticky: false,
                        // the time you want it to be alive for before fading out
                    });
                    }
                },
                error: function (e) {
                    console.log(e);
                    alert("Impossible de joindre le serveur.");
                    //jQuery("#charge").hide();
                },
                beforeSend: function () {
                    //jQuery("#charge").show();
                },
                complete: function () {
                    //jQuery("#charge").hide();
                }
            });
        });
    });
</script>