<table id="table" class="table table-info table-striped box"
       data-toggle="table"
       data-toolbar="#toolbar"
       data-click-to-select="true"
       data-single-select="true"
       data-url="<?php echo $this->url('role/default', array('action' => 'list')); ?>"
       data-side-pagination="server"
       data-pagination="true"
       data-page-list="[10, 20, 50, 100, 200]"
       data-search="false">
    <thead>
        <tr>
            <th data-field="name">Libell&eacute;</th>
            <th data-field="id" class="menu-option" data-formatter="optionFormatter"><i class="fa fa-wrench"></i></th>
        </tr>
    </thead>
</table>

<div class="modal fade bs-modal-ajout" role="dialog" data-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <span class="circle bg-primary">
                    <i class="glyphicon"></i>
                    Gestion des roles
                </span>
            </div>
            <div class="modal-body" id="formCtrl" ng-controller="formCtrl">
                <form id="formAjout" class="form-horizontal" action="role/ajouter" method="post">
                    <input type="text" class="hidden" ng-hide="true" ng-model="role.id" name="idRole" value="" />
                    <div class="box-body">
                        <div class="form-group">
                            <label for="name" class="col-sm-4 control-label">Libell&eacute; *</label>
                            <div class="col-sm-8">
                                <input type="text" name="name" ng-model="role.name" id="name" required="" class="form-control"  placeholder="Libellé" autocomplete="off"/>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <span></span><button type="submit" class="btn btn-primary btn-sm "><?php echo $this->translate('Enregistrer'); ?> <i class="fa fa-angle-right ml5"></i></button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal deleteModal  fade bs-delete-modal-static" role="dialog" data-backdrop="static">
    <div class="modal-dialog ">
        <div class="modal-content deleteModal-style">
            <div class="modal-header ">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <span class="circle bg-danger">
                    <i class="fa fa-question-circle"></i>
                    Confimation
                </span>
            </div>
            <div class="modal-body " id="deleteCtrl" ng-controller="deleteCtrl">
                <form id="formDelete" action="role/delete" method="post">
                    <input type="text" class="hidden" ng-hide="true" ng-model="role.id" name="idRole" value="" />
                    <div class="clearfix">
                        <div class="font-modal text-center" id="question"><i class="fa fa-question-circle fa-2x"></i> Etes vous certains de vouloir supprimer cette op&eacute;ration<br /><br />{{infoDelete}}</div>
                        <div class="font-modal text-center" id="processing"><span class="processing">Suppression en cours</span></div>
                        <div class="pull-right">
                            <button type="button" data-dismiss="modal" class="btn btn-default btn-sm"><?php echo $this->translate('Non'); ?> </button>
                            <button type="submit" class="btn btn-danger btn-sm "><?php echo $this->translate('Oui'); ?></button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    var roleBaseUrl = "<?php echo $this->basePath("/role/"); ?>";
    var action = 'add', $table = jQuery('#table'), rows;
    appStock.controller('formCtrl', function ($scope) {
        $scope.populateForm = function (role) {
            $scope.role = role;
        };
        $scope.initForm = function () {
            $scope.role = {};
        };
    }).controller('deleteCtrl', function ($scope) {
        $scope.populateForm = function (role) {
            $scope.role = role;
            $scope.infoDelete = role.name;
        };
    });

    jQuery(document).ready(function ($) {
        $("#question").addClass('afficher');
        $('#processing').addClass('masquer');
        $(".loader").hide();
        $(".loader-delete").hide();
        $("#formAjout").submit(function (e) {
            e.preventDefault();
            var $valid = $(this).valid();
            if (!$valid) {
                $validator.focusInvalid();
                return false;
            }
            sendAction($(this).serialize());
        });

        $('.bs-modal-ajout').on('hidden.bs.modal', function (e) {
            action = "add";
            var $scope = angular.element(document.getElementById("formCtrl")).scope();
            $scope.$apply(function () {
                $scope.initForm();
            });
        });

        $table.on('load-success.bs.table', function (e, data) {
            rows = data.rows;
            console.log("Boot load success", data.rows);
        });

//        $table.on('pre-body.bs.table', function (e, data) {
//            //rows = data;
//            console.log("pre-body.bs.table", data);
//        });

        $("#formDelete").submit(function (e) {
            e.preventDefault();
            var formData = $(this).serialize();
            $.ajax({
                type: "POST",
                url: roleBaseUrl + action,
                cache: false,
                data: formData,
                success: function (reponse) {
                    if (reponse.code === 1) {
                        var ids = $.map($table.bootstrapTable('getSelections'), function (row) {
                            return row.id;
                        });
                        $table.bootstrapTable('remove', {
                            field: 'id',
                            values: ids
                        });
                        $(".bs-delete-modal-static").modal('show');
                    }
                },
                error: function () {
                    $(".loader-delete").hide();
                },
                beforeSend: function () {
                    $("#formDelete").attr("disabled", true);
                    $('#processing').removeClass('masquer').addClass('afficher');
                    $("#question").removeClass('afficher').addClass('masquer');
                },
                complete: function () {
                    $("#formDelete").removeAttr("disabled");
                    $('#processing').removeClass('afficher').addClass('masquer');
                    $("#question").removeClass('masquer').addClass('afficher');
                    $(".bs-delete-modal-static").modal('hide');
                }
            });
        });

        // Wizard With Form Validation
        var $validator = jQuery("#formAjout").validate({
            highlight: function (formElement, label) {
                jQuery(label).closest('.form-group').removeClass('has-success').addClass('has-error');
            },
            success: function (label, formElement) {
                jQuery(label).closest('.form-group').removeClass('has-error');
                $(label).remove();
            }
        });
    });

    function updateRow(idRole, index) {
        $(".bs-modal-ajout").modal("show");
        var $scope = angular.element(document.getElementById("formAjout")).scope();
        var role = _.findWhere(rows, {id: idRole});
        updateComboRole(role);
        action = "update";
        $scope.$apply(function () {
            $scope.populateForm(role);
        });
        //jQuery(".sectionContrat input, .sectionContrat select").attr("disabled", "disabled");
    }

    function deleteRow(idRole, index) {
        $(".bs-delete-modal-static").modal("show");
        var role = _.findWhere(rows, {id: idRole});
        var $scope = angular.element(document.getElementById("deleteCtrl")).scope();
        $scope.$apply(function () {
            $scope.populateForm(role);
        });
    }

    function sendAction(formData) {
        var $ajoutLoader = $("#formAjout .modal-footer span");
        var $formAjout = jQuery("#formAjout");
        jQuery.ajax({
            type: "POST",
            url: roleBaseUrl + action,
            cache: false,
            data: formData,
            success: function (reponse) {
                if (reponse.code === 1) {
                    if (action === 'update') {
                        $table.bootstrapTable('updateRow', {
                            index: $table.find('tr.selected').data('index'),
                            row: reponse.data
                        });
                        //TODO Ajouter un message du gritter
                    } else { //add
                        var $scope = angular.element(document.getElementById("formAjout")).scope();
                        $scope.$apply(function () {
                            $scope.initForm();
                        });
                        $table.bootstrapTable('refresh');
//                        $table.bootstrapTable('prepend', [reponse.data]);
//                        $table.bootstrapTable('scrollTo', 'top');
                    }
                }
                $.gritter.add({
                    // heading of the notification
                    title: reponse.msg,
                    // the text inside the notification
                    image: './img/gritter/confirm.png',
                });
            },
            error: function (err) {
                $.gritter.add({
                    // heading of the notification
                    title: "Erreur survenue, réessayer plus tard",
                    // the text inside the notification
                    image: './img/gritter/confirm.png',
                });
                $formAjout.removeAttr("disabled");
                $ajoutLoader.removeClass("loader");
            },
            beforeSend: function () {
                $formAjout.attr("disabled", true);
                $ajoutLoader.addClass("loader");
            },
            complete: function () {
                $ajoutLoader.removeClass("loader");
            }
        });
    }

    function optionFormatter(id, row, index) {
        return '<button class="btn btn-xs btn-warning" data-toggle="tooltip" data-original-title="<?php echo $this->translate('Privilège'); ?>"><i class="fa fa-check-circle"></i></button>\n\
                <button class="btn btn-xs btn-primary" data-toggle="tooltip" data-placement="left" onClick="javascript:updateRow(' + id + ',' + index + ');" data-original-title="<?php echo $this->translate('Modifier'); ?>"><i class="fa fa-edit"></i></button>\n\
                <button class="btn btn-xs btn-danger" data-toggle="tooltip" data-placement="left" onClick="javascript:deleteRow(' + id + ',' + index + ');" data-original-title="<?php echo $this->translate('Supprimer'); ?>"><i class="fa fa-trash"></i></button>';
    }

    function updateComboRole(role) {
        jQuery("#typeRole").val(role.typeRole);
    }
</script>

<?php
$this->headScript()->appendFile($this->basePath('js/jquery.validate.min.js'));
$this->headScript()->appendFile($this->basePath('plugins/bootstrap-table/bootstrap-table.js'));
$this->headScript()->appendFile($this->basePath('plugins/bootstrap-table/locale/bootstrap-table-fr-FR.js'));
$this->headLink()->appendStylesheet($this->basePath('plugins/bootstrap-table/bootstrap-table.css'));
