<?php
/*
  ##############  Author   : AFOLABI Jamal Deen
  ##############  Email    : jamaldeen25@gmail.com
  ##############  Date     : 15 avr. 2017 A  12:14:34
  ##############  File     : index.phtml
  ##############  Edit Part ###################
  ##############  Date     :
  ##############  Author   :
 */
?>

<table id="table" class="table table-info table-striped box"
       data-toggle="table"
       data-toolbar="#toolbar"
       data-unique-id="id"
       data-url="<?php echo $this->url('app/type-question', array('action' => 'lister')); ?>"
       data-side-pagination="server"
       data-pagination="true"
       data-page-list="[10, 20, 50, 100, 200]"
       data-search="true">
    <thead>
        <tr>
            <th data-field="libelle">Libell&eacute;</th>
            <!--<th data-field="type" data-formatter="typeFormatter">Type</th>-->
            <th data-field="etat" data-formatter="etatFormatter" class="text-center" style="width: 100px;">Etat</th>
            <!--<th data-field="id" class="menu-option" data-formatter="optionFormatter"><i class="fa fa-wrench"></i></th>-->
        </tr>
    </thead>
</table>

<div class="modal fade bs-modal-ajout" role="dialog" data-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <span class="circle bg-primary">
                    <i class="glyphicon"></i>
                    Gestion des types de question
                </span>
            </div>
            <div class="modal-body">
                <form id="formAjout" ng-controller="formCtrl" class="form-horizontal" action="type-question/ajouter" method="post">
                    <input type="text" class="hidden" ng-hide="true" ng-model="typequestion.id" name="idTypeQestion" value="" />
                    <div class="box-body">
                        <div class="form-group">
                            <label for="libelle" class="col-sm-4 control-label">Libell&eacute; *</label>
                            <div class="col-sm-8">
                                <input type="text" name="libelle" ng-model="typequestion.libelle" id="libelle" required="required" class="form-control"  placeholder="Libellé" autocomplete="off"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="type" class="col-sm-4 control-label">Type *</label>
                            <div class="col-sm-8">
                                <select name="type" ng-model="typequestion.type" id="type" required="required" class="form-control">
                                    <option value="radio"> Cases à cocher </option>
                                    <option value="checkbox"> Choix multiple </option>
                                    <option value="textarea"> Zone de message ou commentaire </option>
                                    <option value="date"> Date </option>
                                    <option value="hierachie"> Hi&eacute;rachie </option>
                                    <option value="matrice"> Matrice </option>
                                    <option value="text"> Saisie </option>
                                    <option value="select"> Sélection dans une liste </option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="etat" class="col-sm-4 control-label"> Etat </label>
                            <div class="col-sm-8 checkbox">
                                <input type="checkbox" name="etat" ng-model="typequestion.etat" id="etat" value="1" checked=""/>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <span></span><button type="submit" class="btn btn-primary btn-sm "><?php echo $this->translate('Enregistrer'); ?> <i class="fa fa-angle-right ml5"></i></button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal deleteModal  fade bs-delete-modal-static" role="dialog" data-backdrop="static">
    <div class="modal-dialog ">
        <div class="modal-content deleteModal-style">
            <div class="modal-header ">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <span class="circle bg-danger">
                    <i class="fa fa-question-circle"></i>
                    Confimation
                </span>
            </div>
            <div class="modal-body " id="deleteCtrl" ng-controller="deleteCtrl">
                <form id="formDelete" action="type-question/supprimer" method="post">
                    <input type="text" class="hidden" ng-hide="true" ng-model="typequestion.id" name="idTypeQestion" value="" />
                    <div class="clearfix">
                        <div class="text-center" id="question"><i class="fa fa-question-circle fa-2x"></i> Etes vous certains de vouloir supprimer ce type de question<br /><b>{{infoDelete}}</b></div>
                        <div class="text-center vertical" id="processing">Suppression en cours</div>
                        <div class="pull-right">
                            <button type="button" data-dismiss="modal" class="btn btn-default btn-sm"><?php echo $this->translate('Non'); ?> </button>
                            <button type="submit" class="btn btn-danger btn-sm "><?php echo $this->translate('Oui'); ?></button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    var typequestionBaseUrl = "<?php echo $this->basePath("/app/type-question/"); ?>";
    var action = 'ajouter', $table = jQuery('#table'), rows;
    appStock.controller('formCtrl', function ($scope) {
        $scope.populateForm = function (typequestion) {
            $scope.typequestion = typequestion;
        };
        $scope.initForm = function () {
            $scope.typequestion = {};
        };
    }).controller('deleteCtrl', function ($scope) {
        $scope.populateForm = function (typequestion) {
            $scope.typequestion = typequestion;
            $scope.infoDelete = typequestion.libelle;
        };
    });

    jQuery(document).ready(function () {
        $(".loader, .loader-delete, #processing").hide();
        $("#formAjout").submit(function (e) {
            e.preventDefault();
            var $valid = $(this).valid();
            if (!$valid) {
                $validator.focusInvalid();
                return false;
            }
            sendAction($(this).serialize());
        });

        $('.bs-modal-ajout').on('hidden.bs.modal', function (e) {
            action = "ajouter";
            var $scope = angular.element(document.getElementById("formAjout")).scope();
            $scope.$apply(function () {
                $scope.initForm();
            });
        });

        $table.on('load-success.bs.table', function (e, data) {
            rows = data.rows;
        });

        $("#formDelete").submit(function (e) {
            e.preventDefault();
            var formData = $(this).serialize();
            $.ajax({
                type: "POST",
                url: typequestionBaseUrl + action,
                cache: false,
                data: formData,
                success: function (reponse) {
                    if (reponse.code === 1) {
                        $table.bootstrapTable('remove', {
                            field: 'id',
                            values: [reponse.data.id]
                        });
                    }
                    $.gritter.add({
                        // heading of the notification
                        title: reponse.msg,
                        // the text inside the notification
                        image: '<?php echo $this->basePath("/img/gritter/confirm.png"); ?>'
                    });
                },
                error: function () {
                    $(".loader-delete").hide();
                    $('#processing').hide();
                    $('#processing').show();
                },
                beforeSend: function () {
                    $("#formDelete").attr("disabled", true);
                    $('#processing').show();
                    $("#question").hide();
                },
                complete: function () {
                    $("#formDelete").removeAttr("disabled");
                    $('#processing').hide();
                    $("#question").show();
                    $(".bs-delete-modal-static").modal('hide');
                }
            });
        });

        // Wizard With Form Validation
        var $validator = jQuery("#formAjout").validate({
            highlight: function (formElement, label) {
                jQuery(label).closest('.form-group').removeClass('has-success').addClass('has-error');
            },
            success: function (label, formElement) {
                jQuery(label).closest('.form-group').removeClass('has-error');
                $(label).remove();
            }
        });

        //iCheck for checkbox and radio inputs
        $('input[type="checkbox"].minimal, input[type="radio"].minimal').iCheck({
            checkboxClass: 'icheckbox_minimal-blue',
            radioClass: 'iradio_minimal-blue'
        });
        //Red color scheme for iCheck
        $('input[type="checkbox"].minimal-red, input[type="radio"].minimal-red').iCheck({
            checkboxClass: 'icheckbox_minimal-red',
            radioClass: 'iradio_minimal-red'
        });
        //Flat red color scheme for iCheck
        $('input[type="checkbox"].flat-red, input[type="radio"].flat-red').iCheck({
            checkboxClass: 'icheckbox_flat-green',
            radioClass: 'iradio_flat-green'
        });
        
        $.datetimepicker.setLocale('fr');
        $(".typeQuestionDate").datetimepicker({
            timepicker: false,
            mask: true,
            formatDate: 'd/m/Y',
            format: 'd/m/Y',
            maxDate: new Date()
        });
    });

    function updateRow(idTypeQuestion, index) {
        var $scope = angular.element(document.getElementById("formAjout")).scope();

        var typequestion = _.findWhere(rows, {id: idTypeQuestion});
        action = "modifier";
        $scope.$apply(function () {
            $scope.populateForm(typequestion);
        });
        $(".bs-modal-ajout").modal("show");
    }

    function deleteRow(idTypeQuestion, index) {
        var typequestion = _.findWhere(rows, {id: idTypeQuestion});
        var $scope = angular.element(document.getElementById("deleteCtrl")).scope();
        action = "supprimer";
        $scope.$apply(function () {
            $scope.populateForm(typequestion);
        });
        $(".bs-delete-modal-static").modal("show");
    }

    function sendAction(formData) {
        var $ajoutLoader = $("#formAjout .modal-footer span");
        var $formAjout = jQuery("#formAjout");
        jQuery.ajax({
            type: "POST",
            url: typequestionBaseUrl + action,
            cache: false,
            data: formData,
            success: function (reponse) {
                if (reponse.code === 1) {
                    if (action === 'modifier') {
                        $table.bootstrapTable('updateByUniqueId', {
                            id: reponse.data.id,
                            row: reponse.data
                        });
                        $(".bs-modal-ajout").modal("hide");
                    }
                    else { //add
                        var $scope = angular.element(document.getElementById("formAjout")).scope();
                        $scope.$apply(function () {
                            $scope.initForm();
                        });
                        $table.bootstrapTable('refresh');
                    }
                }
                $.gritter.add({
                    // heading of the notification
                    title: reponse.msg,
                    // the text inside the notification
                    image: '<?php echo $this->basePath("/img/gritter/confirm.png"); ?>',
                });
            },
            error: function (err) {
                $.gritter.add({
                    // heading of the notification
                    title: "Erreur survenue, réessayer plus tard",
                    // the text inside the notification
                    image: '<?php echo $this->basePath("/img/gritter/confirm.png"); ?>',
                });
                $formAjout.removeAttr("disabled");
                $ajoutLoader.removeClass("loader");
            },
            beforeSend: function () {
                $formAjout.attr("disabled", true);
                $ajoutLoader.addClass("loader");
            },
            complete: function () {
                $ajoutLoader.removeClass("loader");
            }
        });
    }

    function optionFormatter(id, row, index) {
        return '<button class="btn btn-xs btn-primary" data-placement="left" data-toggle="tooltip" data-original-title="Modifier" onClick="javascript:updateRow(' + id + ',' + index + ');"><i class="fa fa-edit"></i></button>\n\
                <button class="btn btn-xs btn-danger" data-placement="left" data-toggle="tooltip" data-original-title="Supprimer" onClick="javascript:deleteRow(' + id + ',' + index + ');"><i class="fa fa-trash"></i></button>';
    }

    function etatFormatter(etat) {
        if (etat === true)
            return '<i class="glyphicon glyphicon-ok text-primary"></i>';
        else
            return '<i class="glyphicon glyphicon-remove text-danger"></i>';
    }

    function typeFormatter(type, row) {
        if (type === 'select')
            return '<select name="' + type + '">\n\
                    <option value="0"> Selection dans la liste </option>\n\
                    <option value="' + type + '_1"> '+row.libelle+' 1 </option>\n\
                    <option value="' + type + '_2"> '+row.libelle+' 2</option>\n\
                    <option value="' + type + '_3"> '+row.libelle+' 3</option>\n\
                    </select>';
        
        else if(type === 'date')
            return '<input type="text" class="typeQuestionDate" name="' + type + '[]" value="<?php echo date('d-m-Y');?>">';
        
        else if(type === 'hierachie')
            return '1 <input type="radio" name="' + type + '[]" value="' + row.libelle + '_1">\n\
                    2 <input type="radio" name="' + type + '[]" value="' + row.libelle + '_2">\n\
                    3 <input type="radio" name="' + type + '[]" value="' + row.libelle + '_3">';
        
        else if(type === 'textarea')
            return '<textarea name="' + type + '[]" placeholder="Entrer votre message ou commentaire"></textarea>';
        
        else if(type === 'matrice')
            return 'Matrice de choix a definir dans les questions';
        
        else if(type)
            return '<input type="' + type + '" name="' + type + '[]" placeholder="' + row.libelle + '_1">\n\
                    <input type="' + type + '" name="' + type + '[]" placeholder="' + row.libelle + '_2">\n\
                    <input type="' + type + '" name="' + type + '[]" placeholder="' + row.libelle + '_3">';
        
        else 
            return 'Non defini'; //matrice
    }
</script>

<?php
$this->headScript()->appendFile($this->basePath('js/jquery.validate.min.js'));
$this->headScript()->appendFile($this->basePath('js/jquery.datetimepicker.full.min.js'));
$this->headScript()->appendFile($this->basePath('plugins/iCheck/icheck.min.js'));
$this->headScript()->appendFile($this->basePath('plugins/bootstrap-table/bootstrap-table.js'));
$this->headScript()->appendFile($this->basePath('plugins/bootstrap-table/locale/bootstrap-table-fr-FR.js'));


$this->headLink()->appendStylesheet($this->basePath('plugins/iCheck/all.css'));
$this->headLink()->appendStylesheet($this->basePath('plugins/bootstrap-table/bootstrap-table.css'));
$this->headLink()->appendStylesheet($this->basePath('css/jquery.datetimepicker.min.css'));
