<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title"><?php echo $this->translate('Compte inactif !') ?></h3>
            </div>
            <div class="panel-body">
                <p>
                    <?php echo sprintf($this->translate('Veuillez nous contacter pour le réactiver.')); ?>
                </p>
                <div class="box">
                    <div class="box-header">
                        <h3 class="box-title">Contacts</h3>
                    </div><!-- /.box-header -->
                    <div class="box-body no-padding">
                        <table class="table table-striped">
                            <tbody>
                                <tr>
                                    <th><i class="fa fa-phone"></i> <span>(+225) 22000000</span></th>
                                    <th><i class="fa fa-print"></i> <span>(+225) 22010101</span></th>
                                    <th><i class="fa fa-link"></i> <span><a href="https://collarcorporation.com">www.collarcorporation.com</a></span></th>
                                    <th><i class="fa fa-envelope"></i> <span> info@collarcorporation.com</span></th>
                                </tr>
                            </tbody>
                        </table>
                    </div><!-- /.box-body -->
                </div>
            </div>
        </div>
    </div>
</div>
