<div class="login-box">
    <div class="login-logo">
        <p class="login-box-msg text-gray">Gestion de stock</p>
    </div><!-- /.login-logo -->
    <div class="login-box-body login-box-border">
        <image class="img-responsive login-img" src="<?php echo $this->basePath('/img/login_button.png'); ?>">
        
        <form action="" method="post">
            <div class="form-group has-feedback">
                <input type="text" class="form-control" name="email" placeholder="<?php echo $this->translate('E-mail'); ?>">
                <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
            </div>
            <div class="form-group has-feedback">
                <input type="password" class="form-control" name="password" placeholder="<?php echo $this->translate('Mot de passe'); ?>">
                <span class="glyphicon glyphicon-lock form-control-feedback"></span>
            </div>
            <div class="row margin-form">
                <div class="col-xs-8">    
                    <div class="checkbox icheck">
                        <label>
                            <input id="rememberMe" name="rememberMe" type="checkbox" value="1"> &nbsp;&nbsp;
                            <?php echo $this->translate('Garder ma session'); ?>
                        </label>
                    </div>                        
                </div><!-- /.col -->
                <div class="col-xs-4">
                    <button type="submit" class="btn btn-primary btn-block btn-flat"><?php echo $this->translate('Connecter'); ?></button>
                </div><!-- /.col -->
            </div>
            
        </form>
        <a href="#"  data-toggle="modal" data-target=".forgot-password-modal"><?php echo $this->translate('Mot de passe oublié'); ?></a><br>

    </div><!-- /.login-box-body -->
</div><!-- /.login-box -->

<div class="modal fade forgot-password-modal warning" tabindex="-1" role="dialog" data-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" style="padding: 5px 15px; background-color: #285e8e;">
                <button aria-hidden="true" data-dismiss="modal" class="close" type="button">&times;</button>
                <h4 class="modal-title" style="color: #fff;"><?php echo $this->translate('Mot de passe oublié'); ?> ?</h4>
            </div>
            <div class="modal-body">
                <input type="email" name="email" placeholder="<?php echo $this->translate('Veuillez saisir votre adresse e-mail'); ?>" autocomplete="off" class="form-control placeholder-no-fix">
            </div>
            <div class="modal-footer">
                <button data-dismiss="modal" class="btn btn-warning" type="button">Quitter</button>
                <button class="btn btn-info" type="button">Valider</button>
            </div>
        </div>
    </div>
</div>