<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title"><?php echo $this->translate('Accès non authorisé !') ?></h3>
            </div>
            <div class="panel-body">
                <p><?php echo $this->translate('Veuillez contacter l\'administrateur'); echo " Username: ".$this->layout()->userName; ?></p>
            </div>
        </div>
    </div>
</div>
