<?php
/*
  ##############  Author   : AFOLABI Jamal Deen
  ##############  Email    : jamaldeen25@gmail.com
  ##############  Date     : 15 avr. 2017 A  13:53:54
  ##############  File     : index.phtml
  ##############  Edit Part ###################
  ##############  Date     :
  ##############  Author   :
 */
?>
<table id="table" class="table table-info table-striped box"
       data-toggle="table"
       data-toolbar="#toolbar"
       data-unique-id="id"
       data-url="<?php echo $this->url('app/groupe', array('action' => 'lister')); ?>"
       data-side-pagination="server"
       data-pagination="true"
       data-page-list="[10, 20, 50, 100, 200]"
       data-search="true">
    <thead>
        <tr>
            <th data-field="libelle">Libell&eacute;</th>
            <th data-field="sondages" class="text-center">Nb. enquete</th>
            <th data-field="etat" data-formatter="etatFormatter" class="text-center" style="width: 100px;">Etat</th>
            <th data-field="id" data-width="120px" data-formatter="optionFormatter"><i class="fa fa-wrench"></i></th>
        </tr>
    </thead>
</table>

<div class="modal fade bs-modal-ajout" role="dialog" data-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-primary">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <span class="circle">
                    <i class="fa fa-object-group fa-2x"></i>
                    Gestion des groupes
                </span>
            </div>
            <div class="modal-body" id="formCtrl" ng-controller="formCtrl">
                <form id="formAjout" class="form-horizontal" action="groupe/ajouter" method="post">
                    <input type="text" class="hidden" ng-hide="true" ng-model="groupe.id" name="idGroupe" value="" />
                    <div class="box-body">
                        <div class="form-group">
                            <div class="col-md-10"><label for="" class="control-label">Creation des groupes *</label></div>
                            <div class="col-md-2"><label for="" class="control-label"> Etat </label></div>
                        </div>
                        <div id="libelleCloneGroupe">
                            <div class="form-group libellePere">
                                <div class="col-md-10">
                                    <input type="text" name="libelle[]" ng-model="groupe.libelle" class="form-control libelle"  placeholder="Libelle du groupe" required="required" autocomplete="off"/>
                                </div>
                                <div class="col-md-2">
                                    <input type="checkbox" name="etat[]" ng-model="groupe.etat" class="etatGroupe" id="etat" value="1" checked=""/>
                                </div>
                                <label class="control-label pull-right"><a href="#" class="remove">supprimer ce groupe</a></label>
                            </div>
                        </div>
                        <a href="#" style="font-size: 11px;" class="addsectionGroupe btn btn-xs btn-default">Ajouter un groupe</a>
                    </div>
                    <div class="modal-footer">
                        <span></span><button type="submit" class="btn btn-primary btn-sm "><?php echo $this->translate('Enregistrer'); ?> <i class="fa fa-angle-right ml5"></i></button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal deleteModal  fade bs-delete-modal-static" role="dialog" data-backdrop="static">
    <div class="modal-dialog ">
        <div class="modal-content deleteModal-style">
            <div class="modal-header ">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <span class="circle bg-danger">
                    <i class="fa fa-question-circle"></i>
                    Confimation
                </span>
            </div>
            <div class="modal-body " id="deleteCtrl" ng-controller="deleteCtrl">
                <form id="formDelete" action="groupe/supprimer" method="post">
                    <input type="text" class="hidden" ng-hide="true" ng-model="groupe.id" name="idGroupe" value="" />
                    <div class="clearfix">
                        <div class="text-center" id="question"><i class="fa fa-question-circle fa-2x"></i> Etes vous certains de vouloir supprimer ce groupe<br /><b>{{infoDelete}}</b></div>
                        <div class="text-center vertical" id="processing">Suppression en cours</div>
                        <div class="pull-right">
                            <button type="button" data-dismiss="modal" class="btn btn-default btn-sm"><?php echo $this->translate('Non'); ?> </button>
                            <button type="submit" class="btn btn-danger btn-sm "><?php echo $this->translate('Oui'); ?></button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal  sondageModal  fade bs-sondage-modal-static" role="dialog" data-backdrop="static">
    <div class="modal-dialog ">
        <div class="modal-content deleteModal-style" ng-controller="sondageCtrl">
            <div class="modal-header bg-primary">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <span class="circle">
                    <i class="fa fa-search-plus fa-2x"></i>
                    Creer des enquetes pour le groupe - <b>{{infoSondage}}</b>
                </span>
            </div>
            <div class="modal-body " id="sondageCtrl">
                <form id="formSondage" action="groupe/sondages" method="post">
                    <input type="text" class="hidden" ng-hide="true" ng-model="groupe.id" name="idGroupe" value="" />
                    <div class="box-body">
                        <div class="form-group">
                            <label for="" class="control-label">Creation des enquetes *</label>
                        </div>
                        <div id="libelleClone">
                            <div class="form-group libellePere">
                                <input type="text" name="libelle[]" class="form-control"  placeholder="Libelle de l'enquete" required autocomplete="off"/>
                                <label class="control-label pull-right"><a href="#" class="remove">supprimer cette enquete</a></label>
                            </div>
                        </div>
                        <a href="#" style="font-size: 11px;" class="addsection btn btn-xs btn-default">Ajouter une autre enquete</a>
                    </div>
                    <div class="modal-footer">
                        <span></span><button type="submit" class="btn btn-primary btn-sm "><?php echo $this->translate('Enregistrer'); ?> <i class="fa fa-angle-right ml5"></i></button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal fade bs-modal-utilisateur" id="formUtilisateurCtrl" ng-controller="formUtilisateurCtrl" role="dialog" data-backdrop="static">
    <div class="modal-dialog" style="width: 60%;">
        <div class="modal-content">
            <div class="modal-header bg-primary">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <span class="circle">
                    <i class="fa fa-users fa-2x"></i>
                    Liste des utilisateurs du groupe <b>{{groupe.libelle}}</b>
                </span>
            </div>
            <div class="modal-body">
                <input type="text" class="hidden" ng-hide="true" ng-model="groupe.id" ng-init="-1" id="idGroupe" name="idGroupe" />
                <div class="row">
                    <div class="col-md-10">
                        <select id="choixUtilisateur" class="form-control select2" data-placeholder="Ajouter un utilisateur" style="width: 100%;">
                            <option value=""></option>
                        </select>
                    </div>
                    <div class="col-md-2">
                        <button type="button" id="btnAjouter" data-placement="right" data-toggle="tooltip" data-original-title="Ajouter" class="btn btn-warning"><i class="fa fa-plus"></i></button>
                        <span class="ajout-utilisateur"></span>
                    </div>
                </div>
                <div id="toolbarUtiliateur">
                    <button type="button" id="btnSupprimer" data-placement="top" data-toggle="tooltip" data-original-title="Supprimer la selection" class="btn btn-danger"><i class="fa fa-remove"></i> Supprimer</button>
                </div>
                <table id="tableUtilisateur"  class="table box table-info table-striped"
                        data-toggle="table"
                        data-toolbar="#toolbarUtiliateur"
                        data-query-params="queryUtilisateurParam"
                        data-click-to-select="true"
                        data-url="<?php echo $this->url('app/groupe', array('action' => 'utilisateurs')); ?>"
                        data-side-pagination="server"
                        data-pagination="true"
                        data-page-size="10"
                        data-page-list="[10, 20, 50, 100, 200]">
                     <thead>
                         <tr>
                             <th data-field="state" data-checkbox="true"></th>
                             <th data-field="fullName">Nom complet</th>
                             <th data-field="email">E-mail</th>
                             <th data-field="contact">Contact</th>
                             <th data-field="role.name">Role</th>
                         </tr>
                     </thead>
                 </table>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    var groupeBaseUrl = "<?php echo $this->basePath("/app/groupe/"); ?>";
    var action = 'ajouter', $table = jQuery('#table'), $tableUtilisateur = jQuery('#tableUtilisateur'), rows, rowsUtilissateur = [], groupeUtilisateurs = [];
    appStock.controller('formCtrl', function ($scope) {
        $scope.populateForm = function (groupe) {
            $scope.groupe = groupe;
        };
        $scope.initForm = function () {
            $scope.groupe = {};
        };
    }).controller('formUtilisateurCtrl', function ($scope) {
        $scope.populateForm = function (groupe) {
            $scope.groupe = groupe;
        };
        $scope.initForm = function () {
            $scope.groupe = {};
        };
    }).controller('deleteCtrl', function ($scope) {
        $scope.populateForm = function (groupe) {
            $scope.groupe = groupe;
            $scope.infoDelete = groupe.libelle;
        };
    }).controller('sondageCtrl', function ($scope) {
        $scope.populateForm = function (groupe) {
            $scope.groupe = groupe;
            $scope.infoSondage = groupe.libelle;
        };
    });

    jQuery(document).ready(function ($) {
        $(".loader, .loader-delete, #processing, #toolbarUtiliateur").hide();
        $("#formAjout").submit(function (e) {
            e.preventDefault();
            var $valid = $(this).valid();
            if (!$valid) {
                $validator.focusInvalid();
                return false;
            }
            sendAction($(this).serialize());
        });
        
        $('#choixUtilisateur').select2();

        $('.bs-modal-ajout').on('hidden.bs.modal', function (e) {
            action = "ajouter";
            $(".addsectionGroupe").show();
            $(".libelle").attr("name", "libelle[]");
            $(".etatGroupe").attr("name", "etat[]");
            var $scope = angular.element(document.getElementById("formCtrl")).scope();
            $scope.$apply(function () {
                $scope.initForm();
            });
        });

        $table.on('load-success.bs.table', function (e, data) {
            rows = data.rows;
        });

        $tableUtilisateur.on('load-success.bs.table', function (e, data) {
            groupeUtilisateurs = data.rows;
        });

        $tableUtilisateur.on('check.bs.table', function (e, data) {
            rowsUtilissateur.push(data);
            $("#toolbarUtiliateur").show(500);//tableUtilisateur
        });

        $tableUtilisateur.on('uncheck.bs.table', function (e, data) {
            rowsUtilissateur = _.reject(rowsUtilissateur, function(row){ return row.id == data.id});
            if(rowsUtilissateur.length == 0){
                $("#toolbarUtiliateur").hide(500);
            }
        });

        $("#formDelete").submit(function (e) {
            e.preventDefault();
            var formData = $(this).serialize();
            $.ajax({
                type: "POST",
                url: groupeBaseUrl + action,
                cache: false,
                data: formData,
                success: function (reponse) {
                    if (reponse.code === 1) {
                        $table.bootstrapTable('remove', {
                            field: 'id',
                            values: [reponse.data.id]
                        });
                    }
                    $.gritter.add({
                        // heading of the notification
                        title: reponse.msg,
                        // the text inside the notification
                        image: '<?php echo $this->basePath("/img/gritter/confirm.png"); ?>'
                    });
                },
                error: function () {
                    $(".loader-delete").hide();
                    $('#processing').hide();
                    $('#processing').show();
                },
                beforeSend: function () {
                    $("#formDelete").attr("disabled", true);
                    $('#processing').show();
                    $("#question").hide();
                },
                complete: function () {
                    $("#formDelete").removeAttr("disabled");
                    $('#processing').hide();
                    $("#question").show();
                    $(".bs-delete-modal-static").modal('hide');
                }
            });
        });

        $("#formSondage").submit(function (e) {
            var $ajoutLoader = $("#formSondage .modal-footer span");
            var $formAjout = jQuery("#formSondage");
            e.preventDefault();
            var formData = $(this).serialize();
            $.ajax({
                type: "POST",
                url: groupeBaseUrl + action,
                cache: false,
                data: formData,
                success: function (reponse) {
                    if (reponse.code === 1) {
                        var $scope = angular.element(document.getElementById("formSondage")).scope();
                        $scope.$apply(function () {
                            $scope.initForm();
                        });
                        $table.bootstrapTable('refresh');
                        location.href = '<?php echo $this->basePath("/app/sondage"); ?>';
                    }
                    $.gritter.add({
                        // heading of the notification
                        title: reponse.msg,
                        // the text inside the notification
                        image: '<?php echo $this->basePath("/img/gritter/confirm.png"); ?>'
                    });
                },
                error: function () {
                    $formAjout.removeAttr("disabled");
                    $ajoutLoader.removeClass("loader");
                },
                beforeSend: function () {
                    $formAjout.attr("disabled", true);
                    $ajoutLoader.addClass("loader");
                },
                complete: function () {
                    $ajoutLoader.removeClass("loader");
                }
            });
        });

        $("#btnAjouter").click(function (e) {
            e.preventDefault();
            //Check if user is not defined
            var idUtilisateur = parseInt($("#choixUtilisateur").val()) ? parseInt($("#choixUtilisateur").val()) : 0;
            var utilisateur = _.findWhere(groupeUtilisateurs, {id: idUtilisateur});
            if(utilisateur){
                $.gritter.add({
                    // heading of the notification
                    title: "Utilisateur existant",
                    // the text inside the notification
                    image: '<?php echo $this->basePath("/img/gritter/confirm.png"); ?>'
                });
                return false;
            }
            var $ajoutLoader = $("#formUtilisateurCtrl span.ajout-utilisateur");
            var $btnAjout = $(this);
            $.ajax({
                type: "POST",
                url: groupeBaseUrl + "utilisateur",
                cache: false,
                data: {utilisateur: idUtilisateur, groupe: $("#idGroupe").val()},
                success: function (reponse) {
                    if (reponse.code === 1) {
                        $tableUtilisateur.bootstrapTable('refresh');
                    }
                    $.gritter.add({
                        // heading of the notification
                        title: reponse.msg,
                        // the text inside the notification
                        image: '<?php echo $this->basePath("/img/gritter/confirm.png"); ?>'
                    });
                },
                error: function () {
                    $btnAjout.removeAttr("disabled");
                    $ajoutLoader.removeClass("loader");
                },
                beforeSend: function () {
                    $btnAjout.attr("disabled", true);
                    $ajoutLoader.addClass("loader");
                },
                complete: function () {
                    $btnAjout.removeAttr("disabled");
                    $ajoutLoader.removeClass("loader");
                }
            });
        });
        
        loadUtilisateur(10, 0);

        // Wizard With Form Validation
        var $validator = jQuery("#formAjout").validate({
            highlight: function (formElement, label) {
                jQuery(label).closest('.form-group').removeClass('has-success').addClass('has-error');
            },
            success: function (label, formElement) {
                jQuery(label).closest('.form-group').removeClass('has-error');
                $(label).remove();
            }
        });

        var template = $('#libelleClone div.libellePere:first').clone();
        var templateGroupe = $('#libelleCloneGroupe div.libellePere:first').clone();
        $('#libelleClone div.libellePere a.remove:first, #libelleCloneGroupe div.libellePere a.remove:first').hide();

        //add new section clone 
        $(".addsection").on('click', function () {
            template.clone().appendTo('#libelleClone');
            return false;
        });
        $(".addsectionGroupe").on('click', function () {
            templateGroupe.clone().appendTo('#libelleCloneGroupe');
            return false;
        });

        //remove section clone
        $('#libelleClone').on('click', '.remove', function () {
            //fade out section
            $(this).parent().fadeOut(300, function () {
                //remove parent element (main section)
                $(this).parent().empty();
                return false;
            });
            return false;
        });
        $('#libelleCloneGroupe').on('click', '.remove', function () {
            //fade out section
            $(this).parent().fadeOut(300, function () {
                //remove parent element (main section)
                $(this).parent(".libellePere").empty();
                return false;
            });
            return false;
        });
    });
    
    function loadUtilisateur(limit, offset){
        var params = "limit="+limit+"&offset="+offset;
        $.getJSON("<?php echo $this->basePath("/app/utilisateur/list?"); ?>" + params, function (reponse) {
            $utilisateur = $("#choixUtilisateur");
            $.each(reponse.rows, function (index, utilisateur) {
                $utilisateur.append('<option value="' + utilisateur.id + '">' + utilisateur.fullName + '</option>');
            });
            $utilisateur.trigger('change');
            if(reponse.rows.length >= limit){
                loadUtilisateur(limit, eval(offset+limit));
            }
        });
    }

    function updateRow(idTypeQuestion, index) {
        var $scope = angular.element(document.getElementById("formAjout")).scope();
        var groupe = _.findWhere(rows, {id: idTypeQuestion});
        action = "modifier";
        $scope.$apply(function () {
            $scope.populateForm(groupe);
        });
        $(".addsectionGroupe").hide();
        $(".libelle").attr("name", "libelle");
        $(".etatGroupe").attr("name", "etat");
        $(".bs-modal-ajout").modal("show");
    }

    function deleteRow(idTypeQuestion, index) {
        var groupe = _.findWhere(rows, {id: idTypeQuestion});
        var $scope = angular.element(document.getElementById("deleteCtrl")).scope();
        action = "supprimer";
        $scope.$apply(function () {
            $scope.populateForm(groupe);
        });
        $(".bs-delete-modal-static").modal("show");
    }

    function addUtilisateur(idGroupe) {
        var $scope = angular.element(document.getElementById("formUtilisateurCtrl")).scope();
        var groupe = _.findWhere(rows, {id: idGroupe});
        $scope.$apply(function () {
            $scope.populateForm(groupe);
        });
        $tableUtilisateur.bootstrapTable("refresh");
        $(".bs-modal-utilisateur").modal("show");
    }

    function addSondage(idTypeQuestion, index) {
        var groupe = _.findWhere(rows, {id: idTypeQuestion});
        var $scope = angular.element(document.getElementById("sondageCtrl")).scope();
        action = "sondages";
        $scope.$apply(function () {
            $scope.populateForm(groupe);
        });
        $(".bs-sondage-modal-static").modal("show");
    }

    function sendAction(formData) {
        var $ajoutLoader = $("#formAjout .modal-footer span");
        var $formAjout = jQuery("#formAjout");
        jQuery.ajax({
            type: "POST",
            url: groupeBaseUrl + action,
            cache: false,
            data: formData,
            success: function (reponse) {
                if (reponse.code === 1) {
                    if (action === 'modifier') {
                        $table.bootstrapTable('updateByUniqueId', {
                            id: reponse.data.id,
                            row: reponse.data
                        });
                        $(".bs-modal-ajout").modal("hide");
                    }
                    else { //add
                        var $scope = angular.element(document.getElementById("formAjout")).scope();
                        $scope.$apply(function () {
                            $scope.initForm();
                        });
                        $table.bootstrapTable('refresh');
                        location.reload();
                    }
                }
                $.gritter.add({
                    // heading of the notification
                    title: reponse.msg,
                    // the text inside the notification
                    image: '<?php echo $this->basePath("/img/gritter/confirm.png"); ?>',
                });
            },
            error: function (err) {
                $.gritter.add({
                    // heading of the notification
                    title: "Erreur survenue, réessayer plus tard",
                    // the text inside the notification
                    image: '<?php echo $this->basePath("/img/gritter/confirm.png"); ?>',
                });
                $formAjout.removeAttr("disabled");
                $ajoutLoader.removeClass("loader");
            },
            beforeSend: function () {
                $formAjout.attr("disabled", true);
                $ajoutLoader.addClass("loader");
            },
            complete: function () {
                $ajoutLoader.removeClass("loader");
            }
        });
    }

    function addUserAction(formData) {
        var $ajoutLoader = $("#formAjout .modal-footer span");
        var $formAjout = jQuery("#formAjout");
        jQuery.ajax({
            type: "POST",
            url: groupeBaseUrl + action,
            cache: false,
            data: formData,
            success: function (reponse) {
                if (reponse.code === 1) {
                    if (action === 'modifier') {
                        $table.bootstrapTable('updateByUniqueId', {
                            id: reponse.data.id,
                            row: reponse.data
                        });
                        $(".bs-modal-ajout").modal("hide");
                    }
                    else { //add
                        var $scope = angular.element(document.getElementById("formAjout")).scope();
                        $scope.$apply(function () {
                            $scope.initForm();
                        });
                        $table.bootstrapTable('refresh');
                        location.reload();
                    }
                }
                $.gritter.add({
                    // heading of the notification
                    title: reponse.msg,
                    // the text inside the notification
                    image: '<?php echo $this->basePath("/img/gritter/confirm.png"); ?>',
                });
            },
            error: function (err) {
                $.gritter.add({
                    // heading of the notification
                    title: "Erreur survenue, réessayer plus tard",
                    // the text inside the notification
                    image: '<?php echo $this->basePath("/img/gritter/confirm.png"); ?>',
                });
                $formAjout.removeAttr("disabled");
                $ajoutLoader.removeClass("loader");
            },
            beforeSend: function () {
                $formAjout.attr("disabled", true);
                $ajoutLoader.addClass("loader");
            },
            complete: function () {
                $ajoutLoader.removeClass("loader");
            }
        });
    }

    function optionFormatter(id, row, index) {
        return '<button class="btn btn-xs btn-primary" data-placement="left" data-toggle="tooltip" data-original-title="Modifier" onClick="javascript:updateRow(' + id + ',' + index + ');"><i class="fa fa-edit"></i></button>\n\
                <button class="btn btn-xs btn-danger" data-placement="left" data-toggle="tooltip" data-original-title="Supprimer" onClick="javascript:deleteRow(' + id + ',' + index + ');"><i class="fa fa-trash"></i></button>\n\
                <button class="btn btn-xs btn-info" data-placement="left" data-toggle="tooltip" data-original-title="Utilisateur" onClick="javascript:addUtilisateur(' + id + ');"><i class="fa fa-users"></i></button>\n\
                <button class="btn btn-xs btn-info" data-placement="left" data-toggle="tooltip" data-original-title="Ajouter des enqutes a: ' + row.libelle + '" onClick="javascript:addSondage(' + id + ',' + index + ');"><i class="fa fa-search"></i></button>';
    }
    
    function queryUtilisateurParam(params) {
        params.groupe = $("#idGroupe").val();
        return params;
    }

    function etatFormatter(etat) {
        if (etat === true)
            return '<i class="glyphicon glyphicon-ok text-primary"></i>';
        else
            return '<i class="glyphicon glyphicon-remove text-danger"></i>';
    }
</script>

<?php
$this->headScript()->appendFile($this->basePath('js/jquery.validate.min.js'));
$this->headScript()->appendFile($this->basePath('plugins/bootstrap-table/bootstrap-table.js'));
$this->headScript()->appendFile($this->basePath('plugins/bootstrap-table/locale/bootstrap-table-fr-FR.js'));
$this->headLink()->appendStylesheet($this->basePath('plugins/bootstrap-table/bootstrap-table.css'));
