<?php
/*
  ##############  Author   : AFOLABI Jamal Deen
  ##############  Email    : jamaldeen25@gmail.com
  ##############  Date     : 11 mai 2017 A  07:06:46
  ##############  File     : questionnaire.phtml
  ##############  Edit Part ###################
  ##############  Date     :
  ##############  Author   :
 */
?>

<div class="image-container set-full-height" style="background-image: url(<?php echo $this->basePath('/img/wizard-city.jpg'); ?>)">
    <div class="row">
        <div class="col-sm-10 col-sm-offset-1">
            <div class="wizard-container" style="padding-top: 20px important; ">
                <div class="card wizard-card" data-color="orange" id="wizardProfile">
                    <form id="formAjout" action="groupe/ajouter-questionnaire" method="post">
                        <div class="wizard-header">
                            <h3>
                                <b>Creer</b> Votre questionnaire <br>
                                <small>Creation complet du formulaire de questionnaire</small>
                            </h3>
                        </div>

                        <div class="wizard-navigation">
                            <ul>
                                <li><a href="#groupe" data-toggle="tab">Groupe</a></li>
                                <li><a href="#enquete" data-toggle="tab">Enquete</a></li>
                                <li><a href="#questions" data-toggle="tab">Question</a></li>
                                <li><a href="#validation" data-toggle="tab">Validation</a></li>
                            </ul>

                        </div>

                        <div class="tab-content">
                            <div class="tab-pane" id="groupe">
                                <div class="row">
                                    <h4 class="info-text"> Selectionner vote groupe ou creer en un</h4>
                                    <div class="col-sm-10 col-sm-offset-1">
                                        <div class="form-group">
                                            <label>Selection du groupe <small>(*)</small></label>
                                            <select name="groupeID" id="groupeFilter" class="form-control select2" placeholder="libelle du groupe" required>
                                                <option value="0"> -- Selectionner un groupe --</option>
                                                <option value="nouveau"> Creer un nouveau groupe </option>
                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <label>Entrer votre groupe <small>(*)</small></label>
                                            <input name="groupeLibelle" id="groupeSondage" type="text" class="form-control" placeholder="libelle du groupe" required>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane" id="enquete">
                                <div class="row">
                                    <h4 class="info-text"> Creer votre enquete lie au groupe precedent</h4>
                                    <div class="col-sm-10 col-sm-offset-1">
                                        <div class="form-group">
                                            <label>Enquete <small>(*)</small></label>
                                            <input name="sondageLibelle" id="sondage" type="text" class="form-control" placeholder="libelle de l'enquete" required>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane" id="questions">
                                <h4 class="info-text"> Quelles sont les questions liees a cette enquete ? </h4>
                                <div class="row">
                                    <div class="col-sm-10 col-sm-offset-1">
                                        <div class="row">
                                            <div id="libelleCloneQuestion">
                                                <div class="form-group libellePere" style="padding-bottom: 45px;">
                                                    <div class="row form-group">
                                                        <div class="col-md-8">
                                                            <label>Question <small>(*)</small></label>
                                                            <input name="question[]" type="text" class="form-control" placeholder="libelle de la question" required>
                                                        </div>
                                                        <div class="col-md-4">
                                                            <label>Type de question <small>(*)</small></label>
                                                            <select class="form-control typeQuestion" name="typeQuestion[]" required>
                                                                <?php if (count($this->typeQuestions) > 0): ?>
                                                                    <?php foreach ($this->typeQuestions as $typeQuestion): ?>
                                                                        <option data-type="<?php echo $typeQuestion->getType(); ?>"  value="<?php echo $typeQuestion->getId(); ?>"> <?php echo $typeQuestion->getLibelle(); ?> </option>
                                                                    <?php endforeach; ?>
                                                                <?php endif; ?>
                                                            </select>
                                                        </div>
                                                    </div>

                                                    <div class="row form-group">
                                                        <div class="col-sm-10 col-sm-offset-1">
                                                            <div class="col-sm-4 form-group">
                                                                <label>Proposition de reponse <small>(*)</small></label>
                                                            </div>
                                                            <div class="col-sm-8">
                                                                <div class="row libelleCloneProposition">
                                                                    <div class="libelleFils">
                                                                        <div class="col-md-10 form-group">
                                                                            <input name="propositionReponse_1[]" type="text" class="form-control propositionChange" placeholder="libelle de la proposition de reponse" required>
                                                                        </div>
                                                                        <label class="control-label col-md-2"><a href="#" class="removeFils">Retirer</a></label>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <label class="control-label pull-right"><a href="#" class="remove text-red">supprimer cette question</a></label>
                                                </div>
                                            </div>
                                            <a href="#" style="font-size: 11px;" class="addQuestion btn btn-xs btn-primary">Ajouter une nouvelle question</a>
                                            <a href="#" style="font-size: 11px;" class="addProposition btn btn-xs btn-default">Ajouter une nouvelle proposition de reponse</a>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="tab-pane" id="validation">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <h4 class="info-text"> Validation des donnees precedentes </h4>
                                    </div>

                                    <div class="row">
                                        <div class="col-sm-10 col-sm-offset-1">
                                            <div class="col-sm-4">
                                                <div class="choice" data-toggle="wizard-checkbox">
                                                    <input type="checkbox" name="jobb" value="Design">
                                                    <div class="icon">
                                                        <i class="fa fa-group"></i>
                                                    </div>
                                                    <h6>Groupe</h6>
                                                </div>
                                            </div>
                                            <div class="col-sm-4">
                                                <div class="choice" data-toggle="wizard-checkbox">
                                                    <input type="checkbox" name="jobb" value="Code">
                                                    <div class="icon">
                                                        <i class="fa fa-search"></i>
                                                    </div>
                                                    <h6>Sondage</h6>
                                                </div>

                                            </div>
                                            <div class="col-sm-4">
                                                <div class="choice" data-toggle="wizard-checkbox">
                                                    <input type="checkbox" name="jobb" value="Develop">
                                                    <div class="icon">
                                                        <i class="fa fa-question"></i>
                                                    </div>
                                                    <h6>Question</h6>
                                                </div>

                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <div class="wizard-footer height-wizard">
                                <div class="pull-right">
                                    <span></span>
                                    <input type='button' class='btn btn-next btn-fill btn-warning btn-wd btn-sm' name='next' value='Suivant>' />
                                    <input type='submit' class='btn btn-finish btn-fill btn-warning btn-wd btn-sm' name='finish' value='Terminer' />

                                </div>

                                <div class="pull-left">
                                    <input type='button' class='btn btn-previous btn-fill btn-default btn-wd btn-sm' name='previous' value='<Precedent' />
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </form>
                </div>
            </div> <!-- wizard container -->
        </div>
    </div>
</div>

<script type="text/javascript">
    jQuery(document).ready(function ($) {
        
        //$("#groupeSondage").val('').attr('disabled', true);

        $("#groupeFilter").change(function () {
            var groupeFilterValue = $(this).val();
            if (groupeFilterValue === 'nouveau') {
                $("#groupeSondage").val('').removeAttr('disabled', false);
                $("#groupeSondage").focusin();
            }
            else if (groupeFilterValue > 0) {
                $("#groupeSondage").val('').attr('disabled', true);
            }
            else {
                $("#groupeSondage").val('').removeAttr('disabled', false);
            }
        });

//        $(".typeQuestion").change(function () {
//            var statusType = $(this).find(':selected').attr('data-type');
//            if(statusType === 'hierachie'){
//                alert(statusType);
//            }
//        });

        //Liste des groupe
        $.getJSON("<?php echo $this->basePath("/app/groupe/lister"); ?>?limit=1000", function (reponse) {
            $.each(reponse.rows, function (index, groupe) {
                $("#groupeFilter").append('<option value="' + groupe.id + '">' + groupe.libelle + '</option>');
            });
        });

        var template = $('#libelleCloneQuestion div.libellePere:first').clone();
        var templateProposition = $('#libelleCloneQuestion div.libelleCloneProposition div.libelleFils:first').clone();
        $('#libelleCloneQuestion div.libellePere a.remove:first').hide();
        $('#libelleCloneQuestion .libellePere .libelleFils a.removeFils:first').hide();

        //add new section clone 
        $(".addQuestion").on('click', function () {
            template.clone().appendTo('#libelleCloneQuestion');
            return false;
        });
        $(".addProposition").on('click', function () {
            var nbQuestion = $('#libelleCloneQuestion div.libellePere').length;
            templateProposition.clone().appendTo('.libelleCloneProposition:last');
            $("#libelleCloneQuestion div.libellePere:last .propositionChange").attr("name", "propositionReponse_" + nbQuestion + "[]");
            return false;
        });

        //remove section clone 
        $('#libelleCloneQuestion').on('click', '.remove', function () {
            //fade out section
            $(this).parent().fadeOut(300, function () {
                //remove parent element (main section)
                $(this).parent(".libellePere").empty();
                return false;
            });
            return false;
        });
        $('#libelleCloneQuestion').on('click', '.removeFils', function () {
            //fade out section
            $(this).parent().fadeOut(300, function () {
                //remove parent element (main section)
                $(this).parent(".libelleFils").empty();
                return false;
            });
            return false;
        });

        $("#formAjout").submit(function (e) {
            e.preventDefault();
            var $valid = $(this).valid();
            if (!$valid) {
                return false;
            }
            sendAction($(this).serialize());
        });
    });

    function sendAction(formData) {
        var $ajoutLoader = $("#formAjout .wizard-footer span");
        var $formAjout = jQuery("#formAjout");
        jQuery.ajax({
            type: "POST",
            url: "<?php echo $this->basePath("/app/groupe/ajouter-questionnaire"); ?>",
            cache: false,
            data: formData,
            success: function (reponse) {
                if (reponse.code === 1) {
                    $.gritter.add({
                        // heading of the notification
                        title: reponse.msg,
                        // the text inside the notification
                        image: '<?php echo $this->basePath("/img/gritter/confirm.png"); ?>'
                    });
                    location.href = '<?php echo $this->basePath("/app/questionnaire/evaluer/"); ?>' + reponse.data.id;
                }

            },
            error: function (err) {
                $.gritter.add({
                    // heading of the notification
                    title: "Erreur survenue, réessayer plus tard",
                    // the text inside the notification
                    image: '<?php echo $this->basePath("/img/gritter/confirm.png"); ?>',
                });
                $formAjout.removeAttr("disabled");
                $ajoutLoader.removeClass("loader");
            },
            beforeSend: function () {
                $formAjout.attr("disabled", true);
                $ajoutLoader.addClass("loader");
            },
            complete: function () {
                $ajoutLoader.removeClass("loader");
            }
        });
    }
</script>
<?php
$this->headScript()->appendFile($this->basePath('js/jquery.validate.min.js'));
$this->headScript()->appendFile($this->basePath('js/jquery.bootstrap.wizard.js'));
$this->headScript()->appendFile($this->basePath('js/gsdk-bootstrap-wizard.js'));


$this->headLink()->appendStylesheet($this->basePath('css/gsdk-bootstrap-wizard.css'));
$this->headLink()->appendStylesheet($this->basePath('css/demo.css'));

