<?php
/*
  ##############  Author   : AFOLABI Jamal Deen
  ##############  Email    : jamaldeen25@gmail.com
  ##############  Date     : 30 avr. 2017 A  18:03:50
  ##############  File     : index.phtml
  ##############  Edit Part ###################
  ##############  Date     :
  ##############  Author   :
 */
?>
<div class="row">
    <div class="col-xs-5">
        <h4> Liste des participants (<b><?php echo count($this->participants) - count($this->participantsSondage); ?></b>) </h4>
    </div>

    <div class="col-xs-2 text-center">
        <h6> Inscrire des participants a l'enquete <b><?php echo $this->sondage->getLibelle(); ?></b></h6>
    </div>

    <div class="col-xs-5">
        <h4> Enquete &DoubleRightArrow; <?php echo $this->sondage->getLibelle(); ?> (<b><?php echo count($this->participantsSondage); ?></b>)</h4>
    </div>
</div>
<div class="row">
    <form id="formAjout" class="form-horizontal" action="participer/add" method="POST">
        <div class="col-xs-5">
            <select name="participant[]" id="searchContact" class="form-control" size="15" multiple="multiple">
                <?php if (count($this->participants) > 0): ?>
                    <?php foreach ($this->participants as $participant): ?>
                        <option value="<?php echo $participant->getId(); ?>">
                            <?php echo $participant->getFullName(); ?> 
                        </option>
                    <?php endforeach; ?>
                <?php endif; ?>
            </select>
        </div>

        <div class="col-xs-2">
            <button type="button" id="search_rightAll" class="btn btn-block"><i class="glyphicon glyphicon-forward"></i></button>
            <button type="button" id="search_rightSelected" class="btn btn-block"><i class="glyphicon glyphicon-chevron-right"></i></button>
            <button type="button" id="search_leftSelected" class="btn btn-block"><i class="glyphicon glyphicon-chevron-left"></i></button>
            <button type="button" id="search_leftAll" class="btn btn-block"><i class="glyphicon glyphicon-backward"></i></button>
            <input type="hidden" name="sondage" id="sondage" value="<?php echo $this->sondage->getId(); ?>">
            <button type="submit" id="btnEnvoyer" class="btn btn-primary btn-block" style="margin-top: 50px;">
                <i class="glyphicon glyphicon-save"></i> Enregistrer
            </button>
            <span></span>
        </div>

        <div class="col-xs-5">
            <select name="participerSondage[]" id="searchParticipantSondage" class="form-control" size="15" multiple="multiple">
                <?php if (count($this->participantsSondage) > 0): ?>
                    <?php foreach ($this->participantsSondage as $participantSondage): ?>
                        <option value="<?php echo $participantSondage->getParticipant()->getId(); ?>">
                            <?php echo $participantSondage->getParticipant()->getFullName(); ?> 
                        </option>
                    <?php endforeach; ?>
                <?php endif; ?>
            </select>
        </div>
    </form>
</div>


<script type="text/javascript">
    jQuery(document).ready(function ($) {
        var roleBaseUrl = "<?php echo $this->basePath("/app/participer/"); ?>";
        var action = 'ajouter';

        $('#searchContact').multiselect({
            search: {
                left: '<input type="text" name="q" class="form-control" placeholder="Recherche..." />',
                right: '<input type="text" name="q" class="form-control" placeholder="Recherche..." />'
            },
            right: '#searchParticipantSondage',
            rightAll: '#search_rightAll',
            rightSelected: '#search_rightSelected',
            leftSelected: '#search_leftSelected',
            leftAll: '#search_leftAll'

        });

        $("#formAjout").submit(function (e) {
            e.preventDefault();
            sendAction($(this).serialize());
        });
    });

    function sendAction(formData) {
        var $ajoutLoader = jQuery("#formAjout .col-xs-2 span");
        var $formAjout = jQuery("#formAjout");
        jQuery.ajax({
            type: "POST",
            url: '<?php echo $this->basePath("/app/participer/ajouter"); ?>',
            cache: false,
            data: formData,
            success: function (reponse) {
                if (reponse.code === 1) {
                    location.href = "<?php echo $this->basePath("/app/sondage"); ?>";
                }
                $.gritter.add({
                    // heading of the notification
                    title: reponse.msg,
                    // the text inside the notification
                    image: '<?php echo $this->basePath("/img/gritter/confirm.png"); ?>'
                });
            },
            error: function (err) {
                jQuery.gritter.add({
                    // heading of the notification
                    title: "Erreur survenue, réessayer plus tard",
                    // the text inside the notification
                    image: '<?php echo $this->basePath("/img/gritter/confirm.png"); ?>'
                });
                $formAjout.removeAttr("disabled");
                $ajoutLoader.removeClass("loader");
            },
            beforeSend: function () {
                $formAjout.attr("disabled", true);
                $ajoutLoader.addClass("loader");
            },
            complete: function () {
                $ajoutLoader.removeClass("loader");
            }
        });
    }
</script>

<?php
$this->headScript()->appendFile($this->basePath('mod_enquete/multiselect-master/js/multiselect.min.js'));
$this->headLink()->appendStylesheet($this->basePath('mod_enquete/multiselect-master/css/style.css'));
