<?php
$serviceLocator = $this->getHelperPluginManager()->getServiceLocator();

//$storage = $serviceLocator->get('AitAuthStorage');
//if ($compte = $storage->getCompte()) {
//    $sigle = $compte->getSigle();
//    $nom = $compte->getNom();
//} else {
$sigle = "Enq";
$nom = "Enquete IT";
//}
?>
<?php echo $this->doctype(); ?>

<html lang="fr">
    <head>
        <meta charset="utf-8">
        <?php echo $this->headTitle('Enquete ' . $this->translate('Administration'))->setSeparator(' - ')->setAutoEscape(false) ?>

        <?php
        echo $this->headMeta()
                ->appendName('viewport', 'width=device-width, initial-scale=1.0')
                ->appendHttpEquiv('X-UA-Compatible', 'IE=edge')
        ?>

        <!-- Le styles -->
        <?php
        echo $this->headLink(array('rel' => 'shortcut icon', 'type' => 'image/vnd.microsoft.icon', 'href' => $this->basePath() . '/img/favicon.ico'))
                ->prependStylesheet($this->basePath('css/jquery.gritter.css'))
                ->prependStylesheet($this->basePath('mod_enquete/css/ait-stock.css'))
                ->prependStylesheet($this->basePath('mod_enquete/css/skins/_all-skins.css'))
                ->prependStylesheet($this->basePath('mod_enquete/css/AdminLTE.min.css'))
                ->prependStylesheet($this->basePath('plugins/select2/select2.min.css'))
                ->prependStylesheet($this->basePath('bootstrap/font-awesome/css/font-awesome.min.css'))
                ->prependStylesheet($this->basePath('bootstrap/css/bootstrap.min.css'));
        ?>

        <!-- Scripts -->
        <?php
        echo $this->headScript()
                ->prependFile($this->basePath('js/jquery.number.min.js'))
                ->prependFile($this->basePath('plugins/angular.js/angular.js'))
                ->prependFile($this->basePath('js/jquery.min.js'))
                ->prependFile($this->basePath('js/respond.min.js'), 'text/javascript', array('conditional' => 'lt IE 9',))
                ->prependFile($this->basePath('js/html5shiv.min.js'), 'text/javascript', array('conditional' => 'lt IE 9',))
        ;
        ?>

    </head>
    <body id="fApp" ng-app="fApp"  class="skin-blue sidebar-mini">
        <script type="text/javascript">
            var appStock = angular.module('fApp', []);
            var listeArticles = [];
        </script>
        <!-- Site wrapper -->
        <div class="wrapper">
            <header class="main-header">
                <!-- Logo -->
                <a href="<?php echo $this->basePath("/"); ?>" class="logo">
                    <!-- mini logo for sidebar mini 50x50 pixels -->
                    <span class="logo-mini"><b><?php echo substr($sigle, 0, 1); ?></b><?php echo substr($sigle, 1); ?></span>
                    <!-- logo for regular state and mobile devices -->
                    <span class="logo-lg"><b><?php echo $nom; ?></b></span>
                </a>
                <!-- Header Navbar: style can be found in header.less -->
                <nav class="navbar navbar-static-top" role="navigation">
                    <!-- Sidebar toggle button-->
                    <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </a>
                    <div class="navbar-custom-menu">
                        <ul class="nav navbar-nav">
<!--                            <li id="topSeuil" class="dropdown user user-menu">
                                <a title="Alerte Seuil" href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    <i class="fa fa-warning"></i>
                                    <span class="label label-danger topSeuil">0</span>
                                </a>
                                <ul class="dropdown-menu listeSeuil">

                                </ul>
                            </li>
                            <li id="topEcheance" class="dropdown user user-menu">
                                <a title="Alerte écheance" href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    <i class="fa fa-bell"></i>
                                    <span class="label label-success topEcheance">0</span>
                                </a>
                                <ul class="dropdown-menu listeEcheance">

                                </ul>
                            </li>-->
                            <!-- User Account: style can be found in dropdown.less -->
                            <li class="dropdown user user-menu">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    <img src="<?php echo $this->basePath('img/profil.png') ?>" class="user-image" alt="User Image">
                                    <span class="hidden-xs"><?php echo $this->identity()->getFullName(); ?></span>
                                </a>
                                <ul class="dropdown-menu">
                                    <!-- User image -->
                                    <li class="user-header">
                                        <img src="<?php echo $this->basePath('img/profil.png') ?>" class="img-circle" alt="User Image">
                                        <p>
                                            <?php echo $this->identity()->getFullName() . "<br>" . $this->identity()->getRole()->getName(); ?>
                                            <small>inscrit(e) le <?php echo $this->identity()->getCreatedAt()->format("d/m/Y"); ?></small>
                                        </p>
                                    </li>
                                    <!-- Menu Footer-->
                                    <li class="user-footer">
                                        <div class="pull-left">
                                            <a href="#" class="btn btn-default btn-flat">Mon profil</a>
                                        </div>
                                        <div class="pull-right">
                                            <a href="<?php echo $this->basePath('/auth/logout') ?>" class="btn btn-danger btn-flat">D&eacute;connexion</a>
                                        </div>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </nav>
            </header>


            <!-- ======== MENU PRINCIPALE DE LA ZONE DE GAUCHE ============================ AIT = -->
            <aside class="main-sidebar">
                <section class="sidebar">
                    <ul class="sidebar-menu">
                        <li class="header">NAVIGATION PRINCIPALE</li>
                        <li class="<?php echo $this->dashbordActive; ?>">
                            <a href="<?php echo $this->basePath("/"); ?>"><i class="fa fa-dashboard text-success"></i> <span>TABLEAU DE BORD</span> </a>
                        </li>
                        <li class="<?php echo $this->typeQuestionActive; ?>"> <a href="<?php echo $this->basePath("/app/type-question"); ?>"><i class="fa fa-question-circle"></i> <span>Type Question</span></a></li>
                        <li class="<?php echo $this->typePropositionActive; ?>"> <a href="<?php echo $this->basePath("/app/type-proposition"); ?>"><i class="fa fa-question-circle"></i> <span>Type proposition de reponse</span></a></li>
                        <li class="<?php echo $this->groupeActive; ?>"> <a href="<?php echo $this->basePath("/app/groupe"); ?>"><i class="fa fa-object-group"></i> <span>Groupe</span></a></li>
                        <li class="<?php echo $this->sondageActive; ?>"> <a href="<?php echo $this->basePath("/app/sondage"); ?>"><i class="fa fa-search"></i> <span>Enquete</span></a></li>
                        <li class="<?php echo $this->questionActive; ?>"> <a href="<?php echo $this->basePath("/app/question"); ?>"><i class="fa fa-book"></i> <span>Question</span></a></li>
                        <li class="<?php echo $this->propositionActive; ?>"> <a href="<?php echo $this->basePath("/app/proposition"); ?>"><i class="fa fa-archive"></i> <span>Proposition</span></a></li>
                        <li class="<?php echo $this->questionnaireActive; ?>"> <a href="<?php echo $this->basePath("/app/questionnaire"); ?>"><i class="fa fa-qrcode"></i> <span>Voir questionnaire</span></a></li>
                        <li class="treeview <?php echo $this->statistiqueActive; ?>">
                            <a href="#">
                                <i class="fa fa-th-list"></i> <span>Statistique</span> <i class="fa fa-angle-left pull-right"></i>
                            </a>
                            <ul class="treeview-menu">
                                <li class="<?php echo $this->enqueteGroupeActive; ?>">     <a href="<?php echo $this->basePath("/app/statistique/enquete-groupe"); ?>"><i class="fa fa-group"></i> <span>Enquete par groupe</span></a></li>
                                <li class="<?php echo $this->enqueteParticipantActive; ?>"><a href="<?php echo $this->basePath("/app/statistique/enquete-participant"); ?>"><i class="fa fa-user"></i> <span>Participant par enquete</span></a></li>
                            </ul>
                        </li>
                    </ul>
                </section>
            </aside>
            <!-- ========= FIN MENU PRINCIPALE ============================================ AIT = -->

            <div class="content-wrapper">
                <section class="content-header">
                    <?php if ($this->menuPrincipal): ?>
                        <h1>
                            <i class="<?php echo $this->icone; ?>"></i> <?php echo $this->menuPrincipal; ?> 
                        </h1>
                        <!-- ======== SENTIER OL ============================ AIT = -->                    
                        <ol class="breadcrumb">
                            <li><a href="#"><i class="fa fa-dashboard"></i> Accueil</a></li>
                            <?php if ($this->lienPrincipal): ?>
                                <li><a href="<?php echo $this->basePath($this->lienPrincipal); ?>"> <?php echo $this->menuPrincipal; ?></a></li>
                            <?php endif; ?>
                            <?php if ($this->menuInterne): ?>
                                <li class="active"> <?php echo $this->menuInterne; ?></li>
                            <?php endif; ?>
                        </ol>
                    <?php endif; ?>    
                </section>

                <!-- Main content -->
                <?php if (!$this->tableauDeBord): ?>
                    <section class="content">
                        <div class="box">
                            <div class="box-header with-border">
                                <h3 class="box-title">
                                    <?php if ($this->titleControlleur): ?>
                                        <?php echo $this->titleControlleur; ?>
                                    <?php endif; ?>
                                </h3>
                                <div class="box-tools pull-right">
                                    <?php if ($this->btnModalAjout): ?><button id="btnAddLayout" type="button" class="btn btn-primary btn-xs" data-placement="top" data-toggle="tooltip" data-original-title="<?php echo $this->translate('Ajouter un enregistrement'); ?>"><i class="fa fa-plus"></i></button><?php endif; ?>
    <!--                                <button class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="Collapse"><i class="fa fa-minus"></i></button>
                                    <button class="btn btn-box-tool" data-widget="remove" data-toggle="tooltip" title="Remove"><i class="fa fa-times"></i></button>-->
                                </div>
                            </div>
                            <div class="box-body">
                                <?php echo $this->content; ?>
                            </div><!-- /.box-body -->
                        </div><!-- /.box -->
                    </section><!-- /.content -->
                <?php else : ?>
                    <?php echo $this->content; ?>
                <?php endif; ?>
            </div><!-- /.content-wrapper -->

            <footer class="main-footer">
                <div class="pull-right hidden-xs">
                    <b>Version</b> 1.0.1
                </div>
                <strong>Copyright &copy; <?php echo date("Y"); ?> <a href="http://futurama.tech" target="_blank">Futurama Sarl</a>.</strong> Tous droits réservés.
            </footer>
        </div><!-- ./wrapper -->

        <?php
        echo $this->inlineScript()
                ->appendFile($this->basePath('plugins/select2/select2.full.min.js'))
                ->appendFile($this->basePath('js/bootstrap.min.js'))
                ->appendFile($this->basePath('js/underscore-min.js'))
                ->prependFile($this->basePath('js/jquery.gritter.min.js'))
                ->appendFile($this->basePath('js/jquery.cookies.js'))
                ->appendFile($this->basePath('plugins/slimScroll/jquery.slimscroll.min.js'))
                ->appendFile($this->basePath('plugins/fastclick/fastclick.min.js'))
                ->appendFile($this->basePath('mod_enquete/js/app.min.js'))
                ->appendFile($this->basePath('mod_enquete/js/ait-stock.js'));
        ?>
        <script type="text/javascript">
            jQuery.cookie.json = true;
            $(function () {
                $("#btnAddLayout").on("click", function () {
                    $(".bs-modal-ajout").modal("show");
                });
                $(".select2").select2({width: '100%'});

                /*window.setInterval(function () {
                 //Les fonctions de rafraichissement
                 $.get("<?php // echo $this->basePath('/app/article/seuil');  ?>?seuil=1",
                 function (data) {
                 if (data.total > 0) {
                 $("#topSeuil .topSeuil").html(data.total);
                 refreshSeuil(true);
                 } else {
                 
                 }
                 });
                 $.get("<?php // echo $this->basePath('/app/index/echeance');  ?>?seuil=1",
                 function (data) {
                 if (data.total > 0) {
                 $("#topEcheance .topEcheance").html(data.total);
                 refreshCreance(true);
                 } else {
                 
                 }
                 });
                 
                 }, 120 * 1000); //Chaque 2min, interroger le serveur
                 
                 $.get("<?php // echo $this->basePath('/app/article/seuil');  ?>?seuil=1",
                 function (data) {
                 if (data.total > 0) {
                 $("#topSeuil .topSeuil").html(data.total);
                 refreshSeuil(true);
                 } else {
                 
                 }
                 });
                 
                 $.get("<?php // echo $this->basePath('/app/index/echeance');  ?>?seuil=1",
                 function (data) {
                 if (data.total > 0) {
                 $("#topEcheance .topEcheance").html(data.total);
                 refreshCreance(true);
                 } else {
                 
                 }
                 });*/
            });

            /*function refreshSeuil(refresh) {
             
             $.getJSON("<?php // echo $this->basePath('/app/article/seuil');  ?>?limit=5&seuil=2",
             function (reponse) {
             var ligne = "";
             var select = $("#topSeuil .listeSeuil");
             $.each(reponse.rows,
             function (index, row) {
             ligne += '<li class="user-body"> ' + row.article.libelle + ' / ' + row.description + ' <span class="pull-right">' + row.quantite + '</span></li>';
             });
             if (reponse.total > 5)
             {
             ligne += '<li class="user-footer">\n\
             <a href="<?php // echo $this->basePath('/app/article/seuil');  ?>" class="btn btn-default btn-flat">\n\
             Voir la suite ...\n\
             </a>\n\
             </li>';
             }
             select.html(ligne);
             }
             );
             }
             
             function refreshCreance(creance) {
             
             $.getJSON("<?php // echo $this->basePath('/app/index/echeance');  ?>?limit=5&seuil=2",
             function (reponse) {
             var ligne = "";
             var select = $("#topEcheance .listeEcheance");
             $.each(reponse.rows,
             function (index, row) {
             var contact = row.facture.client.contact || row.facture.client.contact2;
             var client = contact ? row.facture.client.civilite + ' ' + row.facture.client.fullName + '<span class="pull-right">' + contact + '</span>' : row.facture.client.civilite + ' ' + row.facture.client.fullName;
             ligne += '<li class="user-body"><div>' + client + '</div><small>' + row.dateRdv + '<span class="pull-right bg-green">' + $.number(row.montant) + '</span></small></li>';
             });
             
             if (reponse.total > 5)
             {
             ligne += '<li class="user-footer">\n\
             <a href="<?php // echo $this->basePath('/app/index/echeance');  ?>" class="btn btn-default btn-flat">\n\
             Voir la suite ...\n\
             </a>\n\
             </li>';
             }
             select.html(ligne);
             }
             );
             }*/
        </script>
    </body>
</html>
