<?php echo $this->doctype(); ?>

<html lang="fr">
    <head>
        <meta charset="utf-8">
        <?php echo $this->headTitle('Enquete ' . $this->translate('Authentification'))->setSeparator(' - ')->setAutoEscape(false) ?>

        <?php
        echo $this->headMeta()
                ->appendName('viewport', 'width=device-width, initial-scale=1.0')
                ->appendHttpEquiv('X-UA-Compatible', 'IE=edge')
        ?>

        <!-- Le styles -->
        <?php
        echo $this->headLink(array('rel' => 'shortcut icon', 'type' => 'image/vnd.microsoft.icon', 'href' => $this->basePath() . '/img/favicon.ico'))
                ->appendStylesheet($this->basePath('bootstrap/css/bootstrap.min.css'))
                ->appendStylesheet($this->basePath('bootstrap/font-awesome/css/font-awesome.min.css'))
                ->appendStylesheet($this->basePath('mod_enquete/css/AdminLTE.min.css'))
                ->appendStylesheet($this->basePath('plugins/iCheck/square/blue.css'))
                ->appendStylesheet($this->basePath('mod_enquete/css/ait-stock.css'))
                ->appendStylesheet($this->basePath('css/jquery.gritter.css'));
        ?>

        <!-- Scripts -->
        <?php
        echo $this->headScript()
                ->prependFile($this->basePath('js/jquery.min.js'))
                ->prependFile($this->basePath('js/respond.min.js'), 'text/javascript', array('conditional' => 'lt IE 9',))
                ->prependFile($this->basePath('js/html5shiv.min.js'), 'text/javascript', array('conditional' => 'lt IE 9',))
        ;
        ?>

    </head>
    <body class="login-page">
        <div class="login-box">
            <div id="browser"></div>
            <!--<div class="text-center"><img src="<?php echo $this->basePath("img/logo.jpg"); ?>"></div>-->
            <div class="login-logo">
                <b>Enquete</b>
            </div><!-- /.login-logo -->
            <div class="login-box-body">
                <p class="login-box-msg">Authentification</p>
                <form id="formLogin" action="#" method="post">
                    <div class="form-group has-feedback">
                        <input type="email" name="email" class="form-control" placeholder="E-mail" required="required">
                        <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
                    </div>
                    <div class="form-group has-feedback">
                        <input type="password" name="password" class="form-control" placeholder="Mot de passe" required="required">
                        <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                    </div>
                    <div class="row">
                        <div class="col-xs-7">
                            <div class="checkbox icheck">
                                <label>
                                    <input name="rememberMe" type="checkbox"> Garder ma session
                                </label>
                            </div>
                        </div><!-- /.col -->
                        <div class="col-xs-5 action">
                            <button type="submit" class="btn btn-primary btn-block btn-flat">Se connecter</button>
                            <span class="pull-right"></span>
                        </div><!-- /.col -->
                    </div>
                </form>

                <div class="passLoader">
                    <a href="#" id="forgotPassword">Mot de passe oublié</a>
                    <span class="pull-right"></span>
                </div>
                <form id="formResetPassword" action="#" method="post">
                    <div class="input-group" id="emailRequest">
                        <div class="form-group has-feedback">
                            <input type="email" class="form-control" name="email" placeholder="E-mail" required="required" />
                            <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
                        </div>
                        <span class="input-group-btn">
                            <button class="btn btn-info btn-flat" type="submit"><i class="fa fa-paper-plane"></i></button>
                        </span>
                    </div>
                </form>
            </div><!-- /.login-box-body -->
        </div><!-- /.login-box -->
        <?php
        echo $this->inlineScript()
                ->appendFile($this->basePath('js/bootstrap.min.js'))
                ->prependFile($this->basePath('js/jquery.gritter.min.js'))
                ->appendFile($this->basePath('js/jquery.cookies.js'))
                ->appendFile($this->basePath('plugins/iCheck/icheck.min.js'));
        ?>
        <script type="text/javascript">
            $(function () {
                $("#formResetPassword").hide();
//                var msg = navigator.appName + ", " + navigator.appCodeName + ", " + navigator.userAgent;
//                console.log("browser", navigator.platform);
                $('input').iCheck({
                    checkboxClass: 'icheckbox_square-blue',
                    radioClass: 'iradio_square-blue',
                    increaseArea: '20%' // optional
                });
                $("#forgotPassword").click(function (e) {
                    e.preventDefault();
                    $("#formResetPassword").show();
                    //$("#emailRequest").removeClass("hidden");
//                    $("#formLogin").hide(1000);
                });

                $("#formLogin").submit(function (e) {
                    e.preventDefault();
                    var $formLogin = $(this);
                    var loginLoader = $(".action span");

                    var formData = $formLogin.serialize();
                    $.ajax({
                        type: "POST",
                        headers: {
                            token: navigator.platform,
                            plateform: navigator.platform
                        },
                        url: "<?php echo $this->basePath("/auth"); ?>",
                        cache: false,
                        data: formData,
                        success: function (reponse) {
                            if (reponse.code === 1) {
                                if (reponse.data.status === true) {
                                    //Redirect to home, authentication succed
                                    location.href = "<?php echo $this->basePath("/"); ?>";
                                } else {
                                    //Redirect to inactive, compte disabled
                                    location.href = "<?php echo $this->basePath("/inactive"); ?>";
                                }
                            } else {
                                //TODO Afficher un message d'erreur
                                $formLogin.removeAttr("disabled");
                            }
                            $.gritter.add({
                                // heading of the notification
                                title: reponse.msg,
                                // the text inside the notification
                                image: './img/gritter/confirm.png',
                            });
                        },
                        error: function () {
                            //Afficher un message d'erreur
                            //Serveur injoignable par exemple
                            $.gritter.add({
                                // heading of the notification
                                title: "Erreur survenue, réessayer plus tard",
                                // the text inside the notification
                                image: './img/gritter/confirm.png',
                            });
                            $formLogin.removeAttr("disabled");
                            loginLoader.removeClass("loader-login");
                        },
                        beforeSend: function () {
                            $formLogin.attr("disabled", true);
                            loginLoader.addClass("loader-login");
                        },
                        complete: function () {
                            loginLoader.removeClass("loader-login");
                        }
                    });
                });

                $("#formResetPassword").submit(function (e) {
                    e.preventDefault();
                    var $formResetPassword = $(this);
                    var $resetPasswordLoader = $(".passLoader span");

                    var formData = $formResetPassword.serialize();
                    $.ajax({
                        type: "POST",
                        url: "<?php echo $this->basePath("/auth/forgot-password"); ?>",
                        cache: false,
                        data: formData,
                        success: function (reponse) {
                            if (reponse.code === 1) {
                                //TODO Notifier que le mail a bien été envoyé
                                $(".passLoader, #formResetPassword").hide(500);
                            } else {
                                //TODO Afficher un message d'erreur (reponse.msg contient le message d'erreur)
                                $formResetPassword.removeAttr("disabled");
                            }
                            $.gritter.add({
                                // heading of the notification
                                title: reponse.msg,
                                // the text inside the notification
                                image: './img/gritter/confirm.png',
                            });
                        },
                        error: function () {
                            //Afficher un message d'erreur
                            //Serveur injoignable par exemple
                            $.gritter.add({
                                // heading of the notification
                                title: "Erreur survenue, réessayer plus tard",
                                // the text inside the notification
                                image: './img/gritter/confirm.png',
                            });
                            $formResetPassword.removeAttr("disabled");
                            $resetPasswordLoader.removeClass("loader-login");
                        },
                        beforeSend: function () {
                            $formResetPassword.attr("disabled", true);
                            $resetPasswordLoader.addClass("loader-login");
                        },
                        complete: function () {
                            $resetPasswordLoader.removeClass("loader-login");
                        }
                    });
                });
            });
        </script>
    </body>
</html>
