<?php
/*
  ##############  Author   : AFOLABI Jamal Deen
  ##############  Email    : jamaldeen25@gmail.com
  ##############  Date     : 2 mai 2017 A  23:54:44
  ##############  File     : evaluer.phtml
  ##############  Edit Part ###################
  ##############  Date     :
  ##############  Author   :
 */
?>
<?php if ($this->sondage): ?>
    <h2 class="page-header">Evaluation de l'enquete : <b><?php echo $this->sondage->getLibelle(); ?></b></h2>
    <form name="reponseSondage" id="reponseSondage" action="questionnaire/ajouter" method="post" enctype="multipart/form-data">
        <div class="col-md-12">
            <div class="box box-danger">
                <div class="box-header with-border">
                    <h3 class="box-title">Information de la personne enqu&ecirc;t&eacute;e</h3>
                </div>
                <div class="box-body">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="fullName">Personne enqu&ecirc;t&eacute;e </label>
                            <input type="text" class="form-control" id="fullName" name="fullName" placeholder="Nom du participant">
                            <input type="hidden" class="form-control" id="idSondage" name="idSondage" value="<?php echo $this->sondage->getId(); ?>">
                        </div>
                        <div class="form-group">
                            <label for="email">Email </label>
                            <input type="email" class="form-control" id="email" name="email" placeholder="Email">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="sexe">Sexe </label>
                            <select class="form-control" name="sexe" id="sexe">
                                <option value="M">Masculin</option>
                                <option value="F">Feminin</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="contact">Contact </label>
                            <input type="text" class="form-control" name="contact" id="contact" placeholder="Contact">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
        <?php if (count($this->questions) > 0) : $compteur = 1; ?>
            <?php
            foreach ($this->questions as $question) :
                $typeDeQuestion = $question->getTypeQuestion()->getType();
                ?>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" id="question_num_<?php echo $question->getId(); ?>">
                    <div class="box box-info">
                        <div class="box-header">
                            <h3 class="box-title"> <span class="text-blue text-bold">Q.<?php echo $compteur++; ?></span>  - <?php echo $question->getLibelle(); ?>
                                <label class="small"> ( <?php echo $question->getTypeQuestion()->getLibelle(); ?> )</label>
                            </h3>
                        </div>
                        <div class="box-body">
                            <?php
                            switch ($typeDeQuestion) {
                                case "information":
                                    echo
                                    '<div class = "col-md-12 col-sm-12" >
                                    <div class = "form-group"> 
                                        ' . $question->getLibelle() . '
                                    </div>
                                </div>';
                                    break;

                                case "date":
                                    echo
                                    '<div class = "col-md-3 col-sm-3" >
                                    <div class = "form-group"> 
                                        <input name="questionDate[' . $question->getId() . ']" type="text" class="form-control typeQuestionDate">
                                    </div>
                                </div>';
                                    break;

                                case "textarea":
                                    echo
                                    '<div class = "col-md-12 col-sm-12" >
                                    <div class = "form-group"> 
                                        <textarea name="questionText[' . $question->getId() . ']" cols="10" rows="4" class="form-control"  placeholder="Saisir ici"></textarea>
                                    </div>
                                </div>';
                                    break;

                                case "text":
                                    echo
                                    '<div class = "col-md-12 col-sm-12" >
                                    <div class = "form-group"> 
                                        <input name="questionText[' . $question->getId() . ']" type="text" class="form-control">
                                    </div>
                                </div>';
                                    break;

                                case "checkbox":
                                    if (count($this->propositions[$question->getId()]) > 0) {
                                        echo '<div class = "col-md-12 col-sm-12" >';
                                        foreach ($this->propositions[$question->getId()] as $proposition) {
                                            echo '<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                                                <label>
                                                    <input name="questionCheckbox[' . $proposition->getId() . ']" type="checkbox" class="flat-blue" value="' . $proposition->getId() . '">
                                                    ' . $proposition->getLibelle() . '
                                                </label>
                                              </div>';
                                        }
                                        echo '</div>';
                                    }
                                    break;

                                case "radio":
                                    if (count($this->propositions[$question->getId()]) > 0) {
                                        echo '<div class = "col-md-12 col-sm-12" >';
                                        foreach ($this->propositions[$question->getId()] as $proposition) {
                                            echo '<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                                                <label>
                                                    <input name="questionRadio[' . $question->getId() . ']" type="radio" class="flat-blue" value="' . $proposition->getId() . '">
                                                    ' . $proposition->getLibelle() . '
                                                </label>
                                              </div>';
                                        }
                                        echo '</div>';
                                    }
                                    break;

                                case "illustrationradio":
                                    $lien = $question->getLien() ? $question->getLien() : 'enquete/image/default.png'; //TODO
                                    echo '<div class = "col-md-4 col-sm-4" >
                                            <div class = "form-group"> 
                                                <img style="width: 300px; height: 200px;" src="' . $this->basePath("$lien") . '"/>
                                            </div>
                                        </div>';
                                    if (count($this->propositions[$question->getId()]) > 0) {
                                        echo '<div class = "col-md-8 col-sm-8" >';
                                        foreach ($this->propositions[$question->getId()] as $proposition) {
                                            echo '<div>
                                                <label>
                                                    <input name="questionRadio[' . $question->getId() . ']" type="radio" class="flat-blue" value="' . $proposition->getId() . '">
                                                    ' . $proposition->getLibelle() . '
                                                </label>
                                              </div>';
                                        }
                                        echo '</div>';
                                    }
                                    break;

                                case "illustrationcheckbox":
                                    $lien = $question->getLien() ? $question->getLien() : 'enquete/image/default.png'; //TODO
                                    echo '<div class = "col-md-4 col-sm-4" >
                                            <div class = "form-group"> 
                                                <img style="width: 300px; height: 200px;" src="' . $this->basePath("$lien") . '"/>
                                            </div>
                                        </div>';
                                    if (count($this->propositions[$question->getId()]) > 0) {
                                        echo '<div class = "col-md-8 col-sm-8" >';
                                        foreach ($this->propositions[$question->getId()] as $proposition) {
                                            echo '<div>
                                                <label>
                                                    <input name="questionCheckbox[' . $proposition->getId() . ']" type="checkbox" class="flat-blue" value="' . $proposition->getId() . '">
                                                    ' . $proposition->getLibelle() . '
                                                </label>
                                              </div>';
                                        }
                                        echo '</div>';
                                    }
                                    break;

                                case "imagecheckbox":
                                    if (count($this->propositions[$question->getId()]) > 0) {
                                        echo '<div class = "col-md-12 col-sm-12" >';
                                        foreach ($this->propositions[$question->getId()] as $proposition) {
                                            $image = $proposition->getLibelle() ? $proposition->getLibelle() : 'enquete/image/default.png';
                                            echo '<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                                <div class = "form-group"> 
                                                    <label>
                                                        <input name="questionCheckbox[' . $proposition->getId() . ']" type="checkbox" class="flat-blue" value="' . $proposition->getId() . '">
                                                        <img style="width: 300px; height: 200px;" src="' . $this->basePath($image) . '"/>
                                                    </label>
                                                </div>
                                              </div>';
                                        }
                                        echo '</div>';
                                    }
                                    else {
                                        echo
                                        '<div class = "col-md-12 col-sm-12" >
                                    <div class = "form-group"> 
                                        Aucune image trouvee
                                    </div>
                                </div>';
                                    }
                                    break;

                                case "imageradio":
                                    if (count($this->propositions[$question->getId()]) > 0) {
                                        echo '<div class = "col-md-12 col-sm-12" >';
                                        foreach ($this->propositions[$question->getId()] as $proposition) {
                                            $image = $proposition->getLibelle();
                                            echo '<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                                <div class = "form-group">
                                                    <label>
                                                        <input name="questionRadio[' . $question->getId() . ']" type="radio" class="flat-blue" value="' . $proposition->getId() . '">
                                                        <img style="width: 200px; height: 150px;" src="' . $this->basePath("$image") . '"/>
                                                    </label>
                                                </div>
                                              </div>';
                                        }
                                        echo '</div>';
                                    }
                                    else {
                                        echo
                                        '<div class = "col-md-12 col-sm-12" >
                                    <div class = "form-group"> 
                                        Aucune image trouvee
                                    </div>
                                </div>';
                                    }
                                    break;

                                case "matrice":
                                    if (count($this->propositions[$question->getId()]) > 0) {

                                        //Gestion des colonnes
                                        $propositionType = ''; //Trouver le nombre de colonne
                                        $nbColonne = 0; //Trouver le nombre de colonne
                                        $colonne = '<tr><td>&nbsp;</td>';
                                        $listeColonnes = [];
                                        foreach ($this->propositions[$question->getId()] as $proposition) {
                                            if ($proposition->getTypeProposition() != NULL) {
                                                $colonne .= '<th class="text-center">' . $proposition->getLibelle() . '</th>';
                                                $nbColonne++;
                                                $propositionType = $proposition->getTypeProposition()->getType();
                                                $listeColonnes[] = $proposition;
                                            }
                                        }
                                        //Gestion des lignes
                                        $ligne = '';
                                        foreach ($this->propositions[$question->getId()] as $proposition) {
                                            if ($proposition->getTypeProposition() == NULL) {
                                                //Colonne a rajouter a la ligne
                                                $col = '';
                                                foreach ($listeColonnes as $index => $enteteMatrice) {
                                                    $index++;
                                                    $celluleValue = '';
                                                    $celluleName = '';
                                                    $propositionType = $enteteMatrice->getTypeProposition()->getType();
                                                    if (in_array($propositionType, ['radio', 'checkbox'])) {
                                                        $celluleValue = $enteteMatrice->getId();
                                                        $celluleName = 'questionMatriceSimple[' . $proposition->getId() . ']';
                                                    }
                                                    else{
                                                        $celluleName = 'questionMatrice[' . $proposition->getId() . '][' . $enteteMatrice->getId() . ']';
                                                    }
                                                    $col .= '<td class="text-center"><input type="' . $propositionType . '" name="'.$celluleName.'" value="' . $celluleValue . '"></td>';
                                                }
                                                $ligne .= '<tr><th>' . $proposition->getLibelle() . '</th>' . $col . '</tr>';
                                            }
                                        }

                                        echo '<div class="table-responsive col-md-12 col-sm-12"> <table class="table table-bordered">';
                                        echo $colonne . '</tr>';
                                        echo $ligne;
                                        echo '</table> </div>';
                                    }
                                    else {
                                        echo
                                        '<div class = "col-md-12 col-sm-12" >
                                    <div class = "form-group"> 
                                        Aucune image trouvee
                                    </div>
                                </div>';
                                    }
                                    break;

                                case 'hierachie':
                                    if (count($this->propositions[$question->getId()]) > 0) {

                                        $nbColonne = 1; //Trouver le nombre de colonne
                                        $colonne = '<tr><td>&nbsp;</td>';
                                        foreach ($this->propositions[$question->getId()] as $proposition) {
                                            $colonne .= '<th class="text-center">' . $nbColonne++ . '</th>';
                                        }
                                        //Gestion des lignes
                                        $ligne = '';

                                        foreach ($this->propositions[$question->getId()] as $proposition) {
                                            //Colonne a rajouter a la ligne
                                            $col = '';
                                            $nbValeur = 1;
                                            for ($i = 1; $i <= $nbColonne - 1; $i++) {
                                                $col .= '<td class="text-center"><input type="radio" name="questionHierarchie[' . $proposition->getId() . '][]"></td>';

                                                $nbValeur += 1;
                                            }
                                            $ligne .= '<tr><th>' . $proposition->getLibelle() . '</th>' . $col . '</tr>';
                                        }
                                        echo '<div class="table-responsive col-md-12 col-sm-12"> <table class="table table-bordered">';
                                        echo $colonne . '</tr>';
                                        echo $ligne;
                                        echo '</table> </div>';
                                    }
                                    else {
                                        echo
                                        '<div class = "col-md-12 col-sm-12" >
                                    <div class = "form-group"> 
                                        Aucune element trouve
                                    </div>
                                </div>';
                                    }
                                    break;

                                case 'evaluationgraduee':
                                    if ($propositions = $this->propositions[$question->getId()]) {
                                        $step = $propositions[0]->getStep() === NULL ? 0 : $propositions[0]->getStep();
                                        if(!$propositions[0]->getChoixmultiple()){
                                            $sliderValue = $step;
                                        }
                                        else{
                                            $sup = $propositions[0]->getMax() ? $propositions[0]->getMax() : 1;
                                            $sliderValue = '['. $step . ','. $sup .']';
                                        }
                                        $tabLibelle = explode(';;;', $propositions[0]->getLibelle());
                                        if(count($tabLibelle) > 1){
                                            $libelleMin = $tabLibelle[0];
                                            $libelleMax = $tabLibelle[1];
                                        }
                                        else{
                                            $libelleMin = $propositions[0]->getMin();
                                            $libelleMax = $propositions[0]->getMax();
                                        }
                                        echo '<div class="col-md-12 col-sm-12">'
                                            . '<div class="col-md-1 col-sm-1 text-right"><b style="margin-right:20px;">'.$libelleMin.'</b></div>'
                                            . '<div class="col-md-10 col-sm-10"><input type="text" name="questionEvaluationGraduee[' . $propositions[0]->getId() . ']" data-provide="slider" class="col-md-12 slider" data-slider-id="green" value="" data-slider-min="'.$propositions[0]->getMin().'" data-slider-max="'.$propositions[0]->getMax().'" data-slider-step="'.$propositions[0]->getStep().'" data-slider-value="'. $sliderValue .'"/></div>'
                                            . '<div class="col-md-1 col-sm-1 text-left"><b style="margin-left:20px;">'.$libelleMax.'</b></div>'
                                            . '</div>';
                                    }
                                    else {
                                        echo '<div class = "col-md-12 col-sm-12" >
                                                <div class = "form-group"> 
                                                    Aucune element trouve
                                                </div>
                                            </div>';
                                    }
                                    break;

                                default:
                                    break;
                            }
                            ?>

                        </div>

                        <!-- /.box-body -->
                    </div>
                </div>
            <?php endforeach; ?>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <a target="_blank" href="<?php echo $this->basePath("/app/questionnaire/imprimer/" . $this->sondage->getId()); ?>"><button type="button" class="btn btn-success pull-right"> <i class="fa fa-print"></i> Imprimer ce formulaire</button></a>
            </div>
            <div class=""> </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 enqueteFooter">
                <input type="submit" value="Enregistrer" id="submitBtn" class="btn btn-primary">
                <span></span>
            </div>
        <?php endif; ?>
    </form>
<?php else: ?>
    <div class="alert alert-info alert-dismissible">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
        <h4><i class="icon fa fa-ban"></i> Enquete introuvable.</h4>

    </div>
<?php endif; ?>


<script type="text/javascript">

    jQuery(document).ready(function ($) {
        //Red color scheme for iCheck
        $('input1[type="checkbox"].flat-blue, input1[type="radio"].flat-blue').iCheck({
            checkboxClass: 'icheckbox_flat-blue',
            radioClass: 'iradio_flat-blue'
        });

        $.datetimepicker.setLocale('fr');
        $(".typeQuestionDate").datetimepicker({
            timepicker: false,
//            mask: true,
            formatDate: 'd/m/Y',
            format: 'd/m/Y'
        });

        $("#reponseSondage").submit(function (e) {
            e.preventDefault();
            
            var formData = new FormData($(this)[0]);
            sendAction(formData);
        });
    });

    function sendAction(formData) {
        var action = 'ajouter';
        var questionBaseUrl = "<?php echo $this->basePath("/app/questionnaire/"); ?>";
        var $ajoutLoader = $("#reponseSondage .enqueteFooter span");
        var $reponseSondage = jQuery("#reponseSondage");
        jQuery.ajax({
            type: "POST",
            url: questionBaseUrl + action,
            cache: false,
            data: formData,
            processData: false,
            contentType: false,
            success: function (reponse) {
                if (reponse.code === 1) {
                    location.href = "<?php echo $this->basePath("/app/questionnaire/evaluer/".$this->sondage->getId()); ?>";
                }
                $.gritter.add({
                    // heading of the notification
                    title: reponse.msg,
                    // the text inside the notification
                    image: '<?php echo $this->basePath("img/gritter/confirm.png"); ?>'
                });
            },
            error: function (err) {
                $.gritter.add({
                    // heading of the notification
                    title: "Erreur survenue, réessayer plus tard",
                    // the text inside the notification
                    image: '<?php echo $this->basePath("img/gritter/confirm.png"); ?>'
                });
                $reponseSondage.removeAttr("disabled");
                $ajoutLoader.removeClass("loader");
            },
            beforeSend: function () {
                $reponseSondage.attr("disabled", true);
                $ajoutLoader.addClass("loader");
            },
            complete: function () {
                $ajoutLoader.removeClass("loader");
            }
        });
    }

    //Pour 1er niveau de dependance
    var endHide = 0;
    function masquerQuestion(idQuestion, idQuestionAatteindre) {

        if ((idQuestion > 0 && idQuestionAatteindre > 0) && idQuestionAatteindre > idQuestion) {
            var pas;
            for (pas = eval(idQuestion + 1); pas < idQuestionAatteindre; pas++) {
                $('#question_num_' + pas).hide();
            }
            endHide = idQuestionAatteindre;
        }
        else {
            for (pas = eval(idQuestion + 1); pas < endHide; pas++) {
                $('#question_num_' + pas).show();
            }
        }



    }

</script>

<?php
$this->inlineScript()->appendFile($this->basePath('js/jquery.datetimepicker.full.min.js'));
$this->inlineScript()->appendFile($this->basePath('plugins/bootstrap-slider/bootstrap-slider.js'));
$this->headScript()->appendFile($this->basePath('plugins/iCheck/icheck.min.js'));

$this->headLink()->appendStylesheet($this->basePath('plugins/iCheck/all.css'));
$this->headLink()->appendStylesheet($this->basePath('plugins/bootstrap-slider/css/bootstrap-slider.css'));
$this->headLink()->appendStylesheet($this->basePath('css/jquery.datetimepicker.min.css'));
