<?php
/*
  ##############  Author   : AFOLABI Jamal Deen
  ##############  Email    : jamaldeen25@gmail.com
  ##############  Date     : 14 mai 2017 A  21:01:37
  ##############  File     : imprimer.phtml
  ##############  Edit Part ###################
  ##############  Date     :
  ##############  Author   :
 */
?>
<style type="text/css">
    .custom-checkbox{
        border: solid 1px #000;
        margin-top: 5px;
        padding-top: 10px;
        padding-left: 30px;
        line-height: 10px;
    }

    .col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
        position: relative;
        min-height: 1px;
        padding-left: 15px;
        padding-right: 15px;
    }

    .col-md-12 {
        width: 100%;
    }
    .col-md-11 {
        width: 91.66666667%;
    }
    .col-md-10 {
        width: 83.33333333%;
    }
    .col-md-9 {
        width: 75%;
    }
    .col-md-8 {
        width: 66.66666667%;
    }
    .col-md-7 {
        width: 58.33333333%;
    }
    .col-md-6 {
        width: 50%;
    }
    .col-md-5 {
        width: 41.66666667%;
    }
    .col-md-4 {
        width: 33.33333333%;
    }
    .col-md-3 {
        width: 25%;
    }
    .col-md-2 {
        width: 16.66666667%;
    }
    .col-md-1 {
        width: 8.33333333%;
    }

    .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
        float: left;
    }

    .table tr td, .table tr th {
        border: 1px solid #000;
        padding: 8px;
        line-height: 1.42857143;
        vertical-align: top;
        border-top: 1px solid #000;
    }

    .text-center{
        text-align: center;
    }

    .img-lg {
        width: 100px;
        height: 100px;
    }

    .row {
        margin-right: -15px;
        margin-left: -15px;
    }
    
    .margin-bottom{
        margin-bottom: 15px;
    }
</style>

<?php if ($sondage): ?>
    <div class="row">
        <div class="col-md-5">
            <div class="form-group">
                <label for="fullName">Personne enqu&ecirc;t&eacute;e </label>
                <input type="text" class="form-control" id="fullName" name="fullName" placeholder="Nom du participant">
            </div>
            <div class="form-group">
                <label for="sexe">Sexe </label>
                <div class="radio">
                    <label>
                        <input type="radio" class="form-control" />&nbsp;Masculin
                    </label>
                    <label>
                        <input type="radio" class="form-control" />&nbsp;Féminin
                    </label>
                </div>
            </div>
        </div>
        <div class="col-md-5">
            <div class="form-group">
                <label for="contact">Contact </label>
                <input type="text" class="form-control" name="contact" id="contact" placeholder="Contact">
            </div>
            <div class="form-group">
                <label for="email">Email </label>
                <input type="email" class="form-control" id="email" name="email" placeholder="Email">
            </div>
        </div>
    </div>

    <?php if (count($questions) > 0) : $compteur = 1; ?>
        <?php
        foreach ($questions as $question) :
            $typeDeQuestion = $question->getTypeQuestion()->getType();
            ?>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" id="question_num_<?php echo $question->getId(); ?>">
                <div class="box box-info">
                    <div class="box-header">
                        <h4 class="box-title"> <span class="text-blue text-bold">Q.<?php echo $compteur++; ?></span>  - <?php echo $question->getLibelle(); ?></h4>
                    </div>
                    <div class="box-body">
                        <?php
                        switch ($typeDeQuestion) {
                            case "information":
                                echo '<span class="label label-default">Information</span>';
                                break;

                            case "date":
                                echo
                                '<div>......../......../.............</div>';
                                break;

                            case "textarea":
                                echo
                                '<div class="form-group">
                                    <label class="control-label">' . $question->getLibelle() . '</label>
                                    <textarea rows="6" class="form-control input-lg">&nbsp;</textarea>
                                </div>';
                                break;

                            case "text":
                                echo
                                '<div class="form-group">
                                    <label class="control-label">' . $question->getLibelle() . '</label>
                                    <input type="text" class="form-control input-lg" />
                                </div>';
                                break;

                            case "checkbox":
                                if (count($propositions[$question->getId()]) > 0) {
                                    echo '<div style="width:100%;" >';
                                    foreach ($propositions[$question->getId()] as $proposition) {
                                        echo '<div class="checkbox">
                                                <label>
                                                    <span class="custom-checkbox">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>&nbsp;' . $proposition->getLibelle() . '
                                                </label>
                                              </div>';
                                    }
                                    echo '</div>';
                                }
                                break;

                            case "radio":
                                if (count($propositions[$question->getId()]) > 0) {
                                    echo '<div style="width:100%;" >';
                                    foreach ($propositions[$question->getId()] as $proposition) {
                                        echo '<div class="radio">
                                                <label>
                                                    <input type="radio" class="form-control" />&nbsp;' . $proposition->getLibelle() . '
                                                </label>
                                              </div>';
                                    }
                                    echo '</div>';
                                }
                                break;

                            case "illustrationradio":
                                $lien = $question->getLien() ? $question->getLien() : 'enquete/image/default.png';
                                $html = '<table><tr><td>
                                            <img class="img-thumbnail img-lg" src="' . $url . '/' . $lien . '"/></td>';
                                if (count($propositions[$question->getId()]) > 0) {
                                    $html .= '<td style="padding-left: 20px;">';
                                    $html .= '<div class="form-group">';
                                    foreach ($propositions[$question->getId()] as $proposition) {
                                        $html .= '<div class="radio"><label><input type="radio" class="form-control" />&nbsp;' . $proposition->getLibelle() . '</label></div>';
                                    }
                                    $html .= '</div>';
                                    $html .= '</td>';
                                }
                                $html .= '</tr>';
                                $html .= '</table>';
                                echo $html;
                                break;

                            case "illustrationcheckbox":
                                $lien = $question->getLien() ? $question->getLien() : 'enquete/image/default.png';
                                echo '<table><tr><td>
                                        <img class="img-thumbnail img-lg" src="' . $url . '/' . $lien . '"/></td>';
                                if (count($propositions[$question->getId()]) > 0) {
                                    echo '<td style="padding-left: 20px;">';
                                    foreach ($propositions[$question->getId()] as $proposition) {
                                        echo '<div class="checkbox">
                                                <label><span class="custom-checkbox">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>&nbsp;' . $proposition->getLibelle() . '</label><br /><br />
                                              </div>';
                                    }
                                    echo '</td>';
                                }
                                echo '</tr></table>';
                                break;

                            case "imagecheckbox":
                                if (count($propositions[$question->getId()]) > 0) {
                                    echo '<div class="row">';
                                    foreach ($propositions[$question->getId()] as $proposition) {
                                        $image = $proposition->getLibelle();
                                        echo '<div class="col-md-2">
                                                <div class="form-group"> 
                                                    <span class="custom-checkbox">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                                                    <img class="img-thumbnail img-lg" src="' . $url . '/' . $image . '"/>
                                                </div>
                                              </div>';
                                    }
                                    echo '</div>';
                                }
                                
                                break;

                            case "imageradio":
                                if (count($propositions[$question->getId()]) > 0) {
                                    echo '<div class="row">';
                                    foreach ($propositions[$question->getId()] as $proposition) {
                                        $image = $proposition->getLibelle();
                                        echo '<div class="col-md-2">
                                                <div class="form-group"> 
                                                    <input type="radio" />
                                                    <img class="img-thumbnail img-lg" src="' . $url . '/' . $image . '"/>
                                                </div>
                                              </div>';
                                    }
                                    echo '</div>';
                                }
                                
                                break;

                            case "matrice":

                                if (count($propositions[$question->getId()]) > 0) {

                                    //Gestion des colonnes
                                    $propositionType = ''; //Trouver le nombre de colonne
                                    $nbColonne = 0; //Trouver le nombre de colonne
                                    $colonne = '<tr class="text-center"><td>&nbsp;</td>';
                                    foreach ($propositions[$question->getId()] as $proposition) {
                                        if ($proposition->getTypeProposition() != NULL) {
                                            $colonne .= '<th class="text-center">' . $proposition->getLibelle() . '</th>';
                                            $nbColonne++;
                                            $propositionType = $proposition->getTypeProposition()->getType();
                                        }
                                    }
                                    //Gestion des lignes
                                    $ligne = '';

                                    foreach ($propositions[$question->getId()] as $proposition) {
                                        if ($proposition->getTypeProposition() == NULL) {
                                            //Collone a rajouter a la ligne
                                            $col = '';
                                            for ($i = 1; $i <= $nbColonne; $i++) {
                                                $libelleName = 'matriceName[]';
                                                if ($propositionType == 'radio') {
                                                    $col .= '<td class="text-center"><input type="radio" class="form-control" /></td>';
                                                } elseif ($propositionType == 'checkbox') {
                                                    $col .= '<td class="text-center"><span class="custom-checkbox">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></td>';
                                                } else {
                                                    $col .= '<td>&nbsp;</td>';
                                                }
                                            }
                                            $ligne .= '<tr><th>' . $proposition->getLibelle() . '</th>' . $col . '</tr>';
                                        }
                                    }

                                    echo '<div style="width:100%;"> <table class="table table-bordered"><thead>';
                                    echo $colonne . '</tr><thead><tbody>';
                                    echo $ligne;
                                    echo '</tbody></table> </div>';
                                }
                                break;

                            case 'hierachie':
                                if (count($propositions[$question->getId()]) > 0) {

                                    $nbColonne = 1; //Trouver le nombre de colonne
                                    $colonne = '<tr><td>&nbsp;</td>';
                                    foreach ($propositions[$question->getId()] as $proposition) {
                                        $colonne .= '<th class="text-center">' . $nbColonne++ . '</th>';
                                    }
                                    //Gestion des lignes
                                    $ligne = '';

                                    foreach ($propositions[$question->getId()] as $proposition) {
                                        //Collone a rajouter a la ligne
                                        $col = '';
                                        $nbValeur = 1;
                                        for ($i = 1; $i <= $nbColonne - 1; $i++) {
                                            $col .= '<td  style="text-align: center;"><input type="radio" name="' . $question->getTypeQuestion()->getType() . '_' . $nbValeur . '"></td>';

                                            $nbValeur += 1;
                                        }
                                        $ligne .= '<tr><th style="text-align: left;">' . $proposition->getLibelle() . '</th>' . $col . '</tr>';
                                    }
                                    echo '<div style="width:100%;"> <table style="width:100%;" class="table table-bordered">';
                                    echo $colonne . '</tr>';
                                    echo $ligne;
                                    echo '</table> </div>';
                                }
                                break;
                            case 'evaluationgraduee':
                                if ($tabPropositions = $propositions[$question->getId()]) {
                                    $tabLibelle = explode(';;;', $tabPropositions[0]->getLibelle());
                                    if (count($tabLibelle) > 1) {
                                        $libelleMin = $tabLibelle[0] . ' (' . $tabPropositions[0]->getMin() . ')';
                                        $libelleMax = $tabLibelle[1] . ' (' . $tabPropositions[0]->getMax() . ')';
                                    } else {
                                        $libelleMin = '<input type="text" class="form-control" />Valeur minimale: '. $tabPropositions[0]->getMin();
                                        $libelleMax = '<input type="text" class="form-control" />Valeur maximale: '. $tabPropositions[0]->getMax();
                                    }
                                    echo '<div class="col-md-12" style="border-bottom: solid 1px #ddd;">'
                                    . '<div style="float: left; width: 150px; text-align:left;">' . $libelleMin . '</div>'
                                    . '<div style="float: right; width: 150px; text-align:right;">' . $libelleMax . '</div>'
                                    . '</div>';
                                }
                                break;
                            default:
                                break;
                        }
                        ?>

                    </div>

                    <!-- /.box-body -->
                </div>
            </div>
        <?php endforeach; ?>

    <?php endif; ?>
<?php else: ?>
    <div class="alert alert-info alert-dismissible">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
        <h4><i class="icon fa fa-ban"></i> Enquete introuvable.</h4>

    </div>
<?php endif; ?>