<?php
/*
  ##############  Author   : AFOLABI Jamal Deen
  ##############  Email    : jamaldeen25@gmail.com
  ##############  Date     : 2 mai 2017 A  06:19:08
  ##############  File     : index.phtml
  ##############  Edit Part ###################
  ##############  Date     :
  ##############  Author   :
 */
?>
<?php if (count($this->listeGroupes) > 0) : ?>
    <?php foreach ($this->listeGroupes as $groupe) : ?>
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
            <!-- Widget: user widget style 1 -->
            <div class="box box-widget widget-user-2">
                <!-- Add the bg color to the header using any of the bg-* classes -->
                <div class="widget-user-header bg-yellow">
                    <h3 class="widget-user-username"><?php echo $groupe->getLibelle(); ?></h3>
                    <h5 class="widget-user-desc"><?php echo $groupe->getCreatedAt()->format("d/m/Y   H:i:s"); ?></h5>
                    <h5 class="widget-user-desc">Nombre d'enquete <span class="badge bg-blue"><?php echo $groupe->getSondages(); ?></span></h5>
                    <h6 class="text-center"><a href="<?php echo $this->basePath('/app/questionnaire/sondage/'.$groupe->getId()); ?>" class="btn btn-warning btn-xs"> Enquete </a></h6>
                </div>
            </div>
            <!-- /.widget-user -->
        </div>
    <?php endforeach; ?>
<?php endif; ?>
