<?php
/*
  ##############  Author   : AFOLABI Jamal Deen
  ##############  Email    : jamaldeen25@gmail.com
  ##############  Date     : 2 mai 2017 A  23:16:46
  ##############  File     : sondage.phtml
  ##############  Edit Part ###################
  ##############  Date     :
  ##############  Author   :
 */
?>
<h2 class="page-header pull-right">Liste des enquetes du groupe : <b><?php echo $this->groupe->getLibelle(); ?></b></h2>
<div class="clearfix"></div>
<?php if (count($this->sondages) > 0) :  $compteur = 1; ?>
    <?php foreach ($this->sondages as $sondage) : ?>
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
            <!-- small box -->
            <div class="small-box bg-gray">
                <div class="inner">
                    <h3><sup style="font-size: 20px"><?php echo $compteur++; ?></sup></h3>

                    <p><?php echo $sondage->getLibelle(); ?></p>
                </div>
                <div class="icon">
                    <i class="ion ion-stats-bars"></i>
                </div>
                <a href="<?php echo $this->basePath('/app/questionnaire/evaluer/'.$sondage->getId()); ?>" class="small-box-footer">Voir le questionnaire <i class="fa fa-search"></i></a>
            </div>
        </div>
    <?php endforeach; ?>
<?php endif; ?>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">