<?php
/*
  ##############  Author   : AFOLABI Jamal Deen
  ##############  Email    : jamaldeen25@gmail.com
  ##############  Date     : 25 avr. 2017 A  06:16:40
  ##############  File     : enquete-groupe.phtml
  ##############  Edit Part ###################
  ##############  Date     :
  ##############  Author   :
 */
?>
<div id="toolbar">
    <div class="row">
        <div class="col-md-12">
            <select id="groupeFilter" class="form-control">
                <option value="0"> -- Filtrer par groupe</option>
            </select>
        </div>
<!--        <div class="col-md-2 hidden">
            <button type="button" class="btn btn-success btn-sm"> Imprimer </button>
        </div>-->
    </div>
</div>
<table id="table" class="table table-info table-striped box"
       data-toggle="table"
       data-toolbar="#toolbar"
       data-unique-id="id"
       data-query-params="queryParam"
       data-show-columns="true"
       data-url="<?php echo $this->url('app/sondage', array('action' => 'lister')); ?>"
       data-side-pagination="server"
       data-pagination="true"
       data-page-list="[10, 20, 50, 100, 200]"
       data-search="true">
    <thead>
        <tr>
            <th data-field="libelle">Equete</th>
            <th data-field="groupe.libelle">Groupe</th>
            <th data-field="etat" data-formatter="etatFormatter" class="text-center" style="width: 100px;">Etat</th>
            <th data-field="id" data-formatter="optionFormatter" data-width="100px" class="text-center"><i class="fa fa-wrench"></i></th>
        </tr>
    </thead>
</table>

<script type="text/javascript">
    var $table = jQuery('#table');
    var statistiqueBaseUrl = "<?php echo $this->basePath("/app/statistique/"); ?>";

    jQuery(document).ready(function ($) {
        $("#groupeFilter").change(function () {
            $table.bootstrapTable('refresh');
        });

        //Liste des groupe
        $.getJSON("<?php echo $this->basePath("/app/groupe/lister"); ?>", function (reponse) {
            $.each(reponse.rows, function (index, groupe) {
                $("#groupeFilter").append('<option value="' + groupe.id + '">' + groupe.libelle + '</option>');
            });
        });

        $table.on('load-success.bs.table', function (e, data) {
            rows = data.rows;
        });

    });

    function etatFormatter(etat) {
        if (etat === true)
            return '<i class="glyphicon glyphicon-ok text-primary"></i>';
        else
            return '<i class="glyphicon glyphicon-remove text-danger"></i>';
    }

    function optionFormatter(id, row, index) {
        return '<button class="btn btn-xs" data-placement="left" data-toggle="tooltip" data-original-title="Voir plus"><a href="' + statistiqueBaseUrl + 'enquete/' + id + '"><i class="fa fa-eye"></i></button>';
    }

    function queryParam(params) {
        params.groupe = $("#groupeFilter").val();
        return params;
    }
</script>

<?php
$this->headScript()->appendFile($this->basePath('js/jquery.validate.min.js'));
$this->headScript()->appendFile($this->basePath('plugins/bootstrap-table/bootstrap-table.js'));
$this->headScript()->appendFile($this->basePath('plugins/bootstrap-table/locale/bootstrap-table-fr-FR.js'));
$this->headLink()->appendStylesheet($this->basePath('plugins/bootstrap-table/bootstrap-table.css'));
