<?php
/*
  ##############  Author   : AFOLABI Jamal Deen
  ##############  Email    : jamaldeen25@gmail.com
  ##############  Date     : 25 avr. 2017 A  06:16:57
  ##############  File     : enquete-participant.phtml
  ##############  Edit Part ###################
  ##############  Date     : wkouakou
  ##############  Author   : 11/02/2018
 */
?>
<div id="toolbar">
    <div class="row">
        <form action="<?php echo $this->basePath("/app/statistique/imprimer-enquete-participant"); ?>" target="_blank" method="POST">
            <div class="col-md-5">
                <select id="sondageFilter" name="sondageFilter" class="form-control">
                    <option value="0"> -- Filtrer par Enquete</option>
                </select>
            </div>
            <div class="col-md-5">
                <select id="genreFilter" name="genreFilter" class="form-control">
                    <option value="0"> -- Filtrer par genre</option>
                    <option value="1">Masculin</option>
                    <option value="2">Feminin</option>
                </select>
            </div>
            <div class="col-md-2">
                <button type="submit" class="btn btn-success btn-sm">Imprimer</button>
            </div>
        </form>
    </div>
</div>

<table id="table" class="table table-info table-striped box"
       data-toggle="table"
       data-toolbar="#toolbar"
       data-unique-id="id"
       data-query-params="queryParam"
       data-show-columns="true"
       data-url="<?php echo $this->url('app/statistique', array('action' => 'participer')); ?>"
       data-side-pagination="server"
       data-pagination="true"
       data-page-list="[10, 20, 50, 100, 200]"
       data-search="true">
    <thead>
        <tr>
            <th data-field="participant.nom">Participant</th>
            <th data-field="participant.sexe">Sexe</th>
            <th data-field="participant.contact">Contact</th>
            <th data-field="participant.email">Email</th>
            <th data-field="sondage.libelle">Enqu&ecirc;te</th>
            <!--<th data-field="participant.etat" data-formatter="etatFormatter" class="text-center" style="width: 100px;">Etat</th>-->
            <!--<th data-field="id" class="menu-option" data-formatter="optionFormatter"><i class="fa fa-wrench"></i></th>-->
        </tr>
    </thead>
</table>

<script type="text/javascript">
    var $table = jQuery('#table');

    jQuery(document).ready(function ($) {

        $("#genreFilter").change(function () {
            $table.bootstrapTable('refresh');
        });
        $("#sondageFilter").change(function () {
            $table.bootstrapTable('refresh');
        });

        //Liste des groupe
//        $.getJSON("<?php // echo $this->basePath("/app/groupe/lister");  ?>", function (reponse) {
//            $.each(reponse.rows, function (index, groupe) {
//                $("#groupeFilter").append('<option value="' + groupe.id + '">' + groupe.libelle + '</option>');
//            });
//        });
        //Liste des sondages
        $.getJSON("<?php echo $this->basePath("/app/sondage/lister"); ?>", function (reponse) {
            $.each(reponse.rows, function (index, sondage) {
                $("#sondageFilter").append('<option value="' + sondage.id + '">' + sondage.libelle + '</option>');
            });
        });

        $table.on('load-success.bs.table', function (e, data) {
            rows = data.rows;
        });

    });

    function etatFormatter(etat) {
        if (etat === true)
            return '<i class="glyphicon glyphicon-ok text-primary"></i>';
        else
            return '<i class="glyphicon glyphicon-remove text-danger"></i>';
    }

    function queryParam(params) {
        params.genre = $("#genreFilter").val();
        params.sondage = $("#sondageFilter").val();
        return params;
    }
</script>

<?php
$this->headScript()->appendFile($this->basePath('js/jquery.validate.min.js'));
$this->headScript()->appendFile($this->basePath('plugins/bootstrap-table/bootstrap-table.js'));
$this->headScript()->appendFile($this->basePath('plugins/bootstrap-table/locale/bootstrap-table-fr-FR.js'));
$this->headLink()->appendStylesheet($this->basePath('plugins/bootstrap-table/bootstrap-table.css'));
