<?php
/*
  ##############  Author   : AFOLABI Jamal Deen
  ##############  Email    : jamaldeen25@gmail.com
  ##############  Date     : 5 juil. 2017 A  07:33:18
  ##############  File     : enquete.phtml
  ##############  Edit Part ###################
  ##############  Date     :
  ##############  Author   :
 */
?>
<?php if ($this->sondage): ?>
    <div class="box">
        <div class="box-header">
            <h3 class="box-title">Statistique de l'enquete : <b><?php echo $this->sondage->getLibelle(); ?></b></h3>
            <div class="box-tools">
                <span class="badge bg-green"><?php echo $this->sondage->getNombreParticipant(); ?> participant(s)</span>
            </div>
        </div>
        <!-- /.box-header -->
        <div class="box-body no-padding">
            <table class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th style="width: 10px">#</th>
                        <th>Questions <span class="badge bg-aqua"><?= count($this->questions); ?></span></th>
                        <th class="text-center">Taux de participation</th>
                        <th style="width: 10px"><i class="fa fa-bar-chart"></i></th>
                    </tr>
                </thead>

                <?php if (count($this->questions) > 0) : $compteur = 1; ?>
                    <tbody>
                        <?php foreach ($this->questions as $question) : ?>
                            <tr>
                                <th style="width: 10px">Q.<?php echo $compteur++; ?></th>
                                <th>
                                    <?php echo $question->getLibelle();
                                    echo $question->getLien() ? '<img style="width: 60px; height: 30px; margin-left:20px;" src="'.$this->basePath($question->getLien()).'" data-alt="'.$question->getLien().'" />' : '';
                                    ?>
                                    <?php
                                    $nombreProposition = 0;
                                    switch ($question->getTypeQuestion()->getType()) {
                                        case 'radio':
                                        case 'checkbox':
                                        case 'illustrationcheckbox':
                                        case 'illustrationradio':
                                            $line = '';
                                            ?>
                                            <?php foreach ($this->propositions[$question->getId()] as $proposition) : ?>
                                                <br>    
                                                <div class="row">
                                                    <div class="col-md-11">
                                                        <?php
                                                        echo $proposition->getLibelle();
                                                        ?>
                                                    </div>
                                                    <div class="col-md-1">
                                                        <span class="badge bg-blue"><?php
                                                            $nbReponse = count($this->reponses[$proposition->getId()]);
                                                            $nombreProposition += $nbReponse;
                                                            echo $nbReponse;
                                                            $line .= '<tr><th>'.$proposition->getLibelle().'</th><td>'.$nbReponse.'</td></tr>';
                                                            ?></span>
                                                    </div>
                                                </div>
                                                <?php
                                            endforeach;
                                            echo $line ? '<table class="hidden" id="table' . $question->getId() . '"><thead><tr><th></th><th></th></tr></thead><tbody>'.$line.'</tbody></table>' : '';
                                            break;
                                        case 'imagecheckbox':
                                        case 'imageradio':
                                            $line = '';
                                            ?>
                                            <?php foreach ($this->propositions[$question->getId()] as $proposition) : ?>
                                                <br>    
                                                <div class="row">
                                                    <div class="col-md-11">
                                                        <img style="width: 60px; height: 30px;" src="<?php echo $this->basePath($proposition->getLibelle()); ?>" data-alt="<?php echo $proposition->getLibelle(); ?>" />
                                                    </div>
                                                    <div class="col-md-1">
                                                        <span class="badge bg-blue"><?php
                                                            $nbReponse = count($this->reponses[$proposition->getId()]);
                                                            $nombreProposition += $nbReponse;
                                                            echo $nbReponse;
                                                            $line .= '<tr><th>'.$proposition->getLibelle().' <img style="width: 60px; height: 30px;" src="'.$this->basePath($proposition->getLibelle()).'" data-alt="'.$proposition->getLibelle().'"/></th><td>'.$nbReponse.'</td></tr>';
                                                            ?></span>
                                                    </div>
                                                </div>
                                                <?php
                                            endforeach;
                                            echo $line ? '<table class="hidden" id="table' . $question->getId() . '"><thead><tr><th>Image</th><th></th></tr></thead><tbody>'.$line.'</tbody></table>' : '';
                                            break;
                                        case 'matrice':
                                            ?>
                                            <?php
                                            //Gestion des colonnes
                                            $propositionType = ''; //Trouver le nombre de colonne
                                            $nbColonne = 0; //Trouver le nombre de colonne
                                            $colonne = '<thead><tr><th></th>';
                                            $listeColonnes = [];
                                            foreach ($this->propositions[$question->getId()] as $proposition) {
                                                if ($proposition->getTypeProposition() != NULL) {
                                                    $colonne .= '<th class="text-center">' . $proposition->getLibelle() . '</th>';
                                                    $nbColonne++;
                                                    $propositionType = $proposition->getTypeProposition()->getType();
                                                    $listeColonnes[] = $proposition;
                                                }
                                            }
                                            //Gestion des lignes
                                            $ligne = '';
                                            foreach ($this->propositions[$question->getId()] as $proposition) {
                                                if ($proposition->getTypeProposition() == NULL) {
                                                    //Colonne a rajouter a la ligne
                                                    $col = '';
                                                    foreach ($listeColonnes as $index => $enteteMatrice) {
                                                        $index++;
                                                        $celluleValue = '';
                                                        $celluleName = '';
                                                        $propositionType = $enteteMatrice->getTypeProposition()->getType();
                                                        if (in_array($propositionType, ['radio', 'checkbox'])) {
                                                            $matriceReponses = $this->reponses[$proposition->getId()];
                                                            $nbReponseMatrice = 0;
                                                            foreach ($matriceReponses as $reponse) {
                                                                if ($reponse->getColonne() !== NULL && $reponse->getColonne()->getId() == $enteteMatrice->getId()) {
                                                                    $nbReponseMatrice++;
                                                                }
                                                            }
                                                            $nombreProposition += $nbReponseMatrice;
                                                            //$celluleValue = $nbReponseMatrice ? '<span class="badge bg-blue">' . $nbReponseMatrice . '</span>' : '0';
                                                            $celluleValue = $nbReponseMatrice ? $nbReponseMatrice : '0';
                                                        }
                                                        //else {
                                                        //$celluleName = 'questionMatrice[' . $proposition->getId() . '][' . $enteteMatrice->getId() . ']';
                                                        //}
                                                        $col .= '<td class="text-center">' . $celluleValue . '</td>';
                                                    }
                                                    $ligne .= '<tr><th>' . $proposition->getLibelle() . '</th>' . $col . '</tr>';
                                                }
                                            }

                                            echo '<div class="table-responsive col-md-12 col-sm-12"> <table id="table' . $question->getId() . '" class="table table-bordered">';
                                            echo $colonne . '</tr></thead><tbody>';
                                            echo $ligne;
                                            echo '</tbody></table> </div>';
                                            break;
                                            ?>
                                            <br>    
                                            <div class="row">
                                                <div class="col-md-11">
                                                    <?php echo $proposition->getLibelle(); ?>
                                                </div>
                                                <div class="col-md-1">
                                                    <span class="badge bg-blue"><?php
                                                        $nbReponse = count($this->reponses[$proposition->getId()]);
                                                        $nombreProposition += $nbReponse;
                                                        echo $nbReponse;
                                                        ?></span>
                                                </div>
                                            </div>
                                            <?php
                                            break;
                                        default :
                                            //echo '<span class="badge bg-blue pull-right">-</span>';
                                            break;
                                    }
                                    ?>

                                </th>
                                <th class="text-center"><span class="badge bg-green"><?= $nombreProposition >= $this->sondage->getNombreParticipant() ? "100" : ceil(100 * $nombreProposition / $this->sondage->getNombreParticipant()); ?> %</span></th>
                                <th style="width: 10px"><a href="#" data-id="table<?php echo $question->getId(); ?>" data-sondage="<?php echo $sondage->getlibelle(); ?>" data-label="<?php echo $question->getlibelle(); ?>" onclick="javascript:drawChart(this);" data-placement="left" data-toggle="tooltip" data-original-title="Graphe"><i class="fa  fa-bar-chart"></i></a></th>
                            </tr>
                        <?php endforeach; ?>
                    </tbody>
                <?php endif; ?>

            </table>
        </div>
        <!-- /.box-body -->
    </div>
<?php else: ?>
    <div class="alert alert-info alert-dismissible">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
        <h4><i class="icon fa fa-ban"></i> Enquete introuvable.</h4>
    </div>
<?php endif; ?>



<div class="modal fade bs-modal-charts" id="chartCtrl" ng-controller="chartCtrl" role="dialog" data-backdrop="static">
    <div class="modal-dialog" style="width: 90%;">
        <div class="modal-content">
            <div class="modal-header bg-primary">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <span class="circle">
                    <i class="fa fa-bar-chart fa-2x"></i>
                    <b>{{libelle}}</b>
                </span>
            </div>
            <div class="modal-body">
                <div id="chartContainer" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    appStock.controller('chartCtrl', function ($scope) {
        $scope.populateForm = function (libelle) {
            $scope.libelle = libelle;
        };
    });

    function drawChart(obj) {
        var tableId = $(obj).data("id");
        var sondage = $(obj).data("sondage");
        var libelle = $(obj).data("label");
        if ($("table#" + tableId).length) {
            var $scope = angular.element(document.getElementById("chartCtrl")).scope();
            $scope.$apply(function () {
                $scope.populateForm(sondage);
            });
            $(".bs-modal-charts").modal("show");
            $('#chartContainer').highcharts({
                chart: {
                    type: 'column'
                },
                xAxis: {
                    type: 'category',
                    useHTML: true,
                },
                title: {
                    text: libelle
                },
                data: {
                    table: tableId
                }
            });
        }
    }
</script>

<?php
$this->headScript()->appendFile($this->basePath('plugins/highcharts/js/highcharts.js'));
$this->headScript()->appendFile($this->basePath('plugins/highcharts/js/modules/data.js'));
$this->headScript()->appendFile($this->basePath('plugins/highcharts/js/modules/exporting.js'));
$this->headLink()->appendStylesheet($this->basePath('plugins/highcharts/css/highcharts.css'));
