<?php
/*
  ##############  Author   : AFOLABI Jamal Deen
  ##############  Email    : jamaldeen25@gmail.com
  ##############  Date     : 14 mai 2017 A  21:01:37
  ##############  File     : imprimer.phtml
  ##############  Edit Part ###################
  ##############  Date     :
  ##############  Author   :
 */
?>
<style type="text/css">
    .custom-checkbox{
        border: solid 1px #000;
        margin-top: 5px;
        padding-top: 10px;
        padding-left: 30px;
        line-height: 10px;
    }

    .col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
        position: relative;
        min-height: 1px;
        padding-left: 15px;
        padding-right: 15px;
    }

    .col-md-12 {
        width: 100%;
    }
    .col-md-11 {
        width: 91.66666667%;
    }
    .col-md-10 {
        width: 83.33333333%;
    }
    .col-md-9 {
        width: 75%;
    }
    .col-md-8 {
        width: 66.66666667%;
    }
    .col-md-7 {
        width: 58.33333333%;
    }
    .col-md-6 {
        width: 50%;
    }
    .col-md-5 {
        width: 41.66666667%;
    }
    .col-md-4 {
        width: 33.33333333%;
    }
    .col-md-3 {
        width: 25%;
    }
    .col-md-2 {
        width: 16.66666667%;
    }
    .col-md-1 {
        width: 8.33333333%;
    }

    .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
        float: left;
    }

    .table tr td, .table tr th {
        border: 1px solid #000;
        padding: 8px;
        line-height: 1.42857143;
        vertical-align: top;
        border-top: 1px solid #000;
    }

    .text-center{
        text-align: center;
    }

    .img-lg {
        width: 100px;
        height: 100px;
    }

    .row {
        margin-right: -15px;
        margin-left: -15px;
    }

    .margin-bottom{
        margin-bottom: 15px;
    }
</style>
<p>
    <b>Filtre: </b> <?= !$critereEnquete && !$genre ? '<b>Aucun</b>' : ''; ?> <?= $critereEnquete ? '<b>'.$critereEnquete.'</b>' : ''; ?> <?= $genre ? '<br />Sexe: ' . '<b>'.$genre.'</b>' : ''; ?>
</p>

<?php if ($listeParticipes) : $i = 0; ?>
    <table class="table table-info table-striped box">
        <thead>
            <tr>
                <th>#</th>
                <th>Participant</th>
                <th>Sexe</th>
                <th>Contact</th>
                <th>Email</th>
                <?php if ($sondage): ?><th>Enqu&ecirc;te</th><?php endif; ?>
            </tr>
        </thead>
        <tbody>
            <?php foreach ($listeParticipes as $participer) : ?>
                <tr>
                    <td><?= ++$i; ?></td>
                    <td><?= $participer->getParticipant()->getNom(); ?></td>
                    <td><?= $participer->getParticipant()->getSexe(); ?></td>
                    <td><?= $participer->getParticipant()->getContact(); ?></td>
                    <td><?= $participer->getParticipant()->getEmail(); ?></td>
                    <?php if ($sondage): ?><td><?= $participer->getSondage()->getLibelle(); ?></td><?php endif; ?>
                </tr>
            <?php endforeach; ?>
        </tbody>
    </table>
<?php else: ?>
    <div class="alert alert-info alert-dismissible">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
        <h4><i class="icon fa fa-ban"></i> Enquete introuvable.</h4>
    </div>
<?php endif;