<?php
/*
  ##############  Author   : AFOLABI Jamal Deen
  ##############  Email    : jamaldeen25@gmail.com
  ##############  Date     : 15 avr. 2017 A  15:41:18
  ##############  File     : index.phtml
  ##############  Edit Part ###################
  ##############  Date     :
  ##############  Author   :
 */
?>
<div id="toolbar">
    <select id="groupeFilter" class="form-control select2" style="width: 100%;">
        <option value="0"> -- Filtrer par Groupe --</option>
    </select>
</div>
<table id="table" class="table table-info table-striped box"
       data-toggle="table"
       data-toolbar="#toolbar"
       data-unique-id="id"
       data-query-params="queryParam"
       data-show-columns="true"
       data-url="<?php echo $this->url('app/sondage', array('action' => 'lister')); ?>"
       data-side-pagination="server"
       data-pagination="true"
       data-page-list="[10, 20, 50, 100, 200]"
       data-search="true">
    <thead>
        <tr>
            <th data-field="libelle">Equete</th>
            <th data-field="groupe.libelle">Groupe</th>
            <th data-field="participants" class="text-center">Participants</th>
            <th data-field="etat" data-formatter="etatFormatter" class="text-center" style="width: 100px;">Etat</th>
            <th data-field="id" data-formatter="optionFormatter" class="text-center"><i class="fa fa-wrench"></i></th>
        </tr>
    </thead>
</table>

<div class="modal fade bs-modal-ajout" role="dialog" data-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-primary">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <span class="circle">
                    <i class="glyphicon"></i>
                    Gestion des Enquetes
                </span>
            </div>
            <div class="modal-body">
                <form id="formAjout" ng-controller="formCtrl" class="form-horizontal" action="sondage/ajouter" method="post">
                    <input type="text" class="hidden" ng-hide="true" ng-model="sondage.id" name="idSondage" value="" />
                    <div class="box-body">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <div class="form-group">
                                <label for="libelle" class="control-label">Libelle enquete *</label>
                                <input type="text" class="form-control" ng-model="sondage.libelle" id="libelle" name="libelle" placeholder="Libelle de l'enquete" required>
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8"> 
                                        <label for="groupe" class="control-label">Groupe</label>
                                        <select ng-model="sondage.groupe.id" class="form-control select2" style="width: 100%;" id="groupe" name="groupe">
                                        <option value="" ng-show="false" ng-disabled="true">-- Selectionner un groupe --</option>
                                            <?php foreach ($this->listeGroupes as $groupe) : ?>
                                                <option value="<?php echo $groupe->getId(); ?>"><?php echo $groupe->getLibelle(); ?></option>
                                            <?php endforeach; ?>
                                        </select>
                                    </div>
                                    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4"> 
                                        <label for="etat" class="control-label"> Etat </label><br>
                                        <input type="checkbox" name="etat" ng-model="sondage.etat" id="etat" value="1" checked=""/>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <span></span><button type="submit" class="btn btn-primary btn-sm "><?php echo $this->translate('Enregistrer'); ?> <i class="fa fa-angle-right ml5"></i></button>
                    </div> 
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal deleteModal  fade bs-delete-modal-static" role="dialog" data-backdrop="static">
    <div class="modal-dialog ">
        <div class="modal-content deleteModal-style">
            <div class="modal-header ">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <span class="circle bg-danger">
                    <i class="fa fa-question-circle"></i>
                    Confimation
                </span>
            </div>
            <div class="modal-body " id="deleteCtrl" ng-controller="deleteCtrl">
                <form id="formDelete" action="sondage/supprimer" method="post">
                    <input type="text" class="hidden" ng-hide="true" ng-model="sondage.id" name="idSondage" value="" />
                    <div class="clearfix">
                        <div class="text-center" id="question"><i class="fa fa-question-circle fa-2x"></i> Etes vous certains de vouloir supprimer ce sondage<br /><b>{{infoDelete}}</b></div>
                        <div class="text-center vertical" id="processing">Suppression en cours</div>
                        <div class="pull-right">
                            <button type="button" data-dismiss="modal" class="btn btn-default btn-sm"><?php echo $this->translate('Non'); ?> </button>
                            <button type="submit" class="btn btn-danger btn-sm "><?php echo $this->translate('Oui'); ?></button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal  questionModal  fade bs-question-modal-static" role="dialog" data-backdrop="static">
    <div class="modal-dialog" style="width: 80%;">
        <div class="modal-content deleteModal-style" ng-controller="questionCtrl">
            <div class="modal-header bg-primary">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <span class="circle">
                    <i class="fa fa-question-circle fa-2x"></i>
                    Creer des questions pour l'enquete - <b style="font-size: 16px;">{{infoSondage}}</b>
                </span>
            </div>
            <div class="modal-body " id="questionCtrl">
                <form id="formQuestion" action="sondage/question" method="post">
                    <input type="text" class="hidden" ng-hide="true" ng-model="sondage.id" name="idSondage" value="" />
                    <div class="box-body">
                        <div class="form-group">
                            <label for="" class="control-label">Creation des questions *</label>
                        </div>
                        <div id="libelleClone">
                            <div class="form-group libellePere">
                                <div class="row">
                                    <div class="col-md-5">
                                        <input type="text" name="libelle[]" class="form-control"  placeholder="Libelle de le la question" required="required" autocomplete="off"/>
                                    </div>
                                    <div class="col-md-5">
                                        <select class="form-control typeQuestion select2" name="typeQuestion[]" id="typeQuestion_0" required>
                                            <?php if (count($this->typeQuestions) > 0): ?>
                                                <?php foreach ($this->typeQuestions as $typeQuestion): ?>
                                                    <option data-type="<?php echo $typeQuestion->getType(); ?>" value="<?php echo $typeQuestion->getId(); ?>"> <?php echo $typeQuestion->getLibelle(); ?> </option>
                                                <?php endforeach; ?>
                                            <?php endif; ?>
                                        </select>
                                    </div>
                                    <div class="col-md-2">
                                        <label class="control-label pull-left"><a href="#" class="remove">supprimer</a></label>
                                    </div>
                                </div>
                                <!--                                <div class="row">
                                                                    <div class="col-md-6">
                                
                                                                    </div>
                                                                    <div class="col-md-6">
                                
                                                                    </div>
                                                                </div>-->


                            </div>
                        </div>
                        <a href="#" style="font-size: 11px;" class="addsection btn btn-xs btn-default">Ajouter une autre question</a>
                    </div>
                    <div class="modal-footer">
                        <span></span><button type="submit" class="btn btn-primary btn-sm "><?php echo $this->translate('Enregistrer'); ?> <i class="fa fa-angle-right ml5"></i></button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    var sondageBaseUrl = "<?php echo $this->basePath("/app/sondage/"); ?>";
    var participerBaseUrl = "<?php echo $this->basePath("/app/participer/"); ?>";
    var action = 'ajouter', $table = jQuery('#table'), rows;
    appStock.controller('formCtrl', function ($scope) {
        $scope.populateForm = function (sondage) {
            $scope.sondage = sondage;
        };
        $scope.initForm = function () {
            $scope.sondage = {};
        };
    }).controller('deleteCtrl', function ($scope) {
        $scope.populateForm = function (sondage) {
            $scope.sondage = sondage;
            $scope.infoDelete = sondage.libelle;
        };
    }).controller('questionCtrl', function ($scope) {
        $scope.populateForm = function (sondage) {
            $scope.sondage = sondage;
            $scope.infoSondage = sondage.libelle;
        };
    });

    jQuery(document).ready(function ($) {
        $("#groupeFilter").change(function () {
            $table.bootstrapTable('refresh');
        });

        $(".loader, .loader-delete, #processing").hide();
        $("#formAjout").submit(function (e) {
            e.preventDefault();
            var $valid = $(this).valid();
            if (!$valid) {
                $validator.focusInvalid();
                return false;
            }
            sendAction($(this).serialize());
        });
        
//        $(".typeQuestion").change(function () {
//            var statusType = $(this).find(':selected').attr('data-type');
//            var statusId   = $(this).attr('id'); alert(statusId);
//            if(statusType === 'hierachie'){
//                alert(statusType);
//            }
//        });

//        $('.bs-modal-ajout').on('hidden.bs.modal', function (e) {
//            action = "ajouter";
//            var $scope = angular.element(document.getElementById("formAjout")).scope();
//            $scope.$apply(function () {
//                $scope.initForm();
//            });
//        });

        $table.on('load-success.bs.table', function (e, data) {
            rows = data.rows;
        });

        $("#formQuestion").submit(function (e) {
            var $ajoutLoader = $("#formQuestion .modal-footer span");
            var $formAjout = jQuery("#formQuestion");
            e.preventDefault();
            var formData = $(this).serialize();
            $.ajax({
                type: "POST",
                url: '<?php echo $this->basePath("/app/sondage/questions"); ?>',
                cache: false,
                data: formData,
                success: function (reponse) {
                    if (reponse.code === 1) {
                        var $scope = angular.element(document.getElementById("formQuestion")).scope();
                        $scope.$apply(function () {
                            $scope.initForm();
                        });
                        $table.bootstrapTable('refresh');
                        location.href = '<?php echo $this->basePath("/app/question"); ?>';
                    }
                    $.gritter.add({
                        // heading of the notification
                        title: reponse.msg,
                        // the text inside the notification
                        image: '<?php echo $this->basePath("/img/gritter/confirm.png"); ?>'
                    });
                },
                error: function () {
                    $formAjout.removeAttr("disabled");
                    $ajoutLoader.removeClass("loader");
                },
                beforeSend: function () {
                    $formAjout.attr("disabled", true);
                    $ajoutLoader.addClass("loader");
                },
                complete: function () {
                    $ajoutLoader.removeClass("loader");
                }
            });
        });

        $("#formDelete").submit(function (e) {
            e.preventDefault();
            var formData = $(this).serialize();
            $.ajax({
                type: "POST",
                url: sondageBaseUrl + action,
                cache: false,
                data: formData,
                success: function (reponse) {
                    if (reponse.code === 1) {
                        $table.bootstrapTable('remove', {
                            field: 'id',
                            values: [reponse.data.id]
                        });
                    }
                    $.gritter.add({
                        // heading of the notification
                        title: reponse.msg,
                        // the text inside the notification
                        image: '../img/gritter/confirm.png',
                    });
                },
                error: function () {
                    $(".loader-delete").hide();
                    $('#processing').hide();
                    $('#processing').show();
                },
                beforeSend: function () {
                    $("#formDelete").attr("disabled", true);
                    $('#processing').show();
                    $("#question").hide();
                },
                complete: function () {
                    $("#formDelete").removeAttr("disabled");
                    $('#processing').hide();
                    $("#question").show();
                    $(".bs-delete-modal-static").modal('hide');
                }
            });
        });

        // Wizard With Form Validation
        var $validator = jQuery("#formAjout").validate({
            highlight: function (formElement, label) {
                jQuery(label).closest('.form-group').removeClass('has-success').addClass('has-error');
            },
            success: function (label, formElement) {
                jQuery(label).closest('.form-group').removeClass('has-error');
                $(label).remove();
            }
        });

        //Liste des type hopitaux
        $.getJSON("<?php echo $this->basePath("/app/groupe/lister"); ?>", function (reponse) {
            $.each(reponse.rows, function (index, groupe) {
                $("#groupeFilter").append('<option value="' + groupe.id + '">' + groupe.libelle + '</option>');
            });
        });

        var template = $('#libelleClone div.libellePere:first').clone();
        $('#libelleClone div.libellePere a.remove:first').hide();

        //add new section clone 
        $(".addsection").on('click', function () {
            var nbQuestion = $('#libelleClone div.libellePere').length;
            template.clone().appendTo('#libelleClone');
            $("#libelleClone div.libellePere:last .typeQuestion").attr("id", "typeQuestion_" + nbQuestion);
            return false;
        });
        
        //remove section clone
        $('#libelleClone').on('click', '.remove', function () {
            //fade out section
            $(this).parent().fadeOut(300, function () {
                //remove parent element (main section)
                $(this).parent().parent().parent().empty();
                return false;
            });
            return false;
        });
    });

    function updateRow(idSondage, index) {
        var $scope = angular.element(document.getElementById("formAjout")).scope();
        var sondage = _.findWhere(rows, {id: idSondage});
        action = "modifier";
        $scope.$apply(function () {
            $scope.populateForm(sondage);
        });
        $("#groupe").select2({val: sondage.groupe.id});
        $(".bs-modal-ajout").modal("show");
    }

    function deleteRow(idSondage, index) {
        var sondage = _.findWhere(rows, {id: idSondage});
        var $scope = angular.element(document.getElementById("deleteCtrl")).scope();
        action = "supprimer";
        $scope.$apply(function () {
            $scope.populateForm(sondage);
        });
        $(".bs-delete-modal-static").modal("show");
    }

    function addQuestion(idSondage, index) {
        var sondage = _.findWhere(rows, {id: idSondage});
        var $scope = angular.element(document.getElementById("questionCtrl")).scope();
        action = "question";
        $scope.$apply(function () {
            $scope.populateForm(sondage);
        });
        $(".bs-question-modal-static").modal("show");
    }

    function sendAction(formData) {
        var $ajoutLoader = $("#formAjout .modal-footer span");
        var $formAjout = jQuery("#formAjout");
        jQuery.ajax({
            type: "POST",
            url: sondageBaseUrl + action,
            cache: false,
            data: formData,
            success: function (reponse) {
                if (reponse.code === 1) {
                    if (action === 'modifier') {
                        $table.bootstrapTable('updateByUniqueId', {
                            id: reponse.data.id,
                            row: reponse.data
                        });
                        $(".bs-modal-ajout").modal("hide");
                    }
                    else { //add
                        var $scope = angular.element(document.getElementById("formAjout")).scope();
                        $scope.$apply(function () {
                            $scope.initForm();
                        });
                        $table.bootstrapTable('refresh');
                        location.href= sondageBaseUrl+"question/"+reponse.data.id;
                    }
                }
                $.gritter.add({
                    // heading of the notification
                    title: reponse.msg,
                    // the text inside the notification
                    image: '../img/gritter/confirm.png',
                });
            },
            error: function (err) {
                $.gritter.add({
                    // heading of the notification
                    title: "Erreur survenue, réessayer plus tard",
                    // the text inside the notification
                    image: '../img/gritter/confirm.png',
                });
                $formAjout.removeAttr("disabled");
                $ajoutLoader.removeClass("loader");
            },
            beforeSend: function () {
                $formAjout.attr("disabled", true);
                $ajoutLoader.addClass("loader");
            },
            complete: function () {
                $ajoutLoader.removeClass("loader");
            }
        });
    }

    function optionFormatter(id, row, index) {
        return '<button class="btn btn-xs btn-primary" data-placement="left" data-toggle="tooltip" data-original-title="Modifier" onClick="javascript:updateRow(' + id + ',' + index + ');"><i class="fa fa-edit"></i></button>\n\
                <button class="btn btn-xs btn-danger" data-placement="left" data-toggle="tooltip" data-original-title="Supprimer" onClick="javascript:deleteRow(' + id + ',' + index + ');"><i class="fa fa-trash"></i></button>\n\
                <a href="' + sondageBaseUrl + 'question/' + id + '" class="btn btn-xs btn-info" data-placement="left" data-toggle="tooltip" data-original-title="Ajouter des questions"><i class="fa fa-question"></i></a>\n\
                <a href="' + participerBaseUrl + 'index/' + id + '" class="btn btn-xs btn-warning" data-placement="left" data-toggle="tooltip" data-original-title="Ajouter des participants"><i class="fa fa-users"></i></a>';
    }

    function etatFormatter(etat) {
        if (etat === true)
            return '<i class="glyphicon glyphicon-ok text-primary"></i>';
        else
            return '<i class="glyphicon glyphicon-remove text-danger"></i>';
    }

    function queryParam(params) {
        params.groupe = $("#groupeFilter").val();
        return params;
    }
</script>

<?php
$this->headScript()->appendFile($this->basePath('js/jquery.validate.min.js'));
$this->headScript()->appendFile($this->basePath('plugins/bootstrap-table/bootstrap-table.js'));
$this->headScript()->appendFile($this->basePath('plugins/bootstrap-table/locale/bootstrap-table-fr-FR.js'));
$this->headLink()->appendStylesheet($this->basePath('plugins/bootstrap-table/bootstrap-table.css'));
