<?php
/*
  ##############  Author   : AFOLABI Jamal Deen
  ##############  Email    : jamaldeen25@gmail.com
  ##############  Date     : 16 juil. 2017 A  12:40:28
  ##############  File     : question.phtml
  ##############  Edit Part ###################
  ##############  Date     :
  ##############  Author   :
 */
?>
<?php if ($this->code > 0): ?>
    <section class="content">
        <div class="row">
            <div class="col-md-3">

                <!-- About Me Box -->
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title text-bold"><i class="fa fa-search margin-r-5"></i> <?php echo $this->sondage->getLibelle(); ?></h3>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <ul class="list-group list-group-unbordered">
                            <li class="list-group-item">
                                <b>Groupe</b> <a class="pull-right"><?php echo $this->sondage->getGroupe()->getLibelle(); ?></a>
                            </li>
                            <li class="list-group-item">
                                <b>Questions</b> <a class="pull-right"><?php echo $this->nbQuestion; ?></a>
                            </li>
                            <li class="list-group-item">
                                <b>Participants</b> <a class="pull-right"><?php echo $this->nbParticipant; ?></a>
                            </li>
                        </ul>
                        <a href="<?php echo $this->basePath('app/sondage'); ?>" class="btn btn-primary btn-block"><b>retour a la liste des enquetes</b></a>
                    </div>
                    <!-- /.box-body -->
                </div>
                <!-- /.box -->
            </div>
            <!-- /.col -->
            <div class="col-md-9">
                <div class="nav-tabs-custom">
                    <ul class="nav nav-tabs">
                        <li class="active"><a href="#activity" data-toggle="tab" aria-expanded="true">
                            Questions 
                            <button id="btnAddQuestion" type="button" class="btn btn-primary btn-xs" data-placement="top" data-toggle="tooltip" data-original-title="<?php echo $this->translate('Ajouter une question'); ?>"> <i class="fa fa-plus"></i> </button></a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active" id="activity">
                            <table id="table" class="table table-info table-striped box"
                                   data-toggle="table"
                                   data-toolbar="#toolbar"
                                   data-unique-id="id"
                                   data-show-columns="false"
                                   data-url="<?php echo $this->url('app/question', array('action' => 'lister'), array('query' => array("sondage" => $this->sondage->getId()))); ?>"
                                   data-side-pagination="server"
                                   data-pagination="true"
                                   data-page-list="[10, 20, 50, 100, 200]"
                                   data-search="false">
                                <thead>
                                    <tr>
                                        <th data-field="libelle">Question</th>
                                        <th data-field="typeQuestion.libelle">T.Question</th>
                                        <th data-field="question.libelle">Depend question</th>
                                        <th data-field="proposition.libelle">Depend reponse</th>
                                        <!--<th data-field="id" class="menu-option" data-formatter="optionFormatter"><i class="fa fa-wrench"></i></th>-->
                                    </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                    <!-- /.tab-content -->
                </div>
                <!-- /.nav-tabs-custom -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </section>
<?php else: ?>
    <div class="alert alert-danger alert-dismissible">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
        <h4><i class="icon fa fa-ban"></i> Erreur!</h4>
        <?php echo $this->msg; ?>
    </div>
<?php endif; ?>

<div class="modal fade bs-modal-ajout" role="dialog" data-backdrop="static">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header bg-primary">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <span class="circle">
                    <i class="fa fa-search"></i>
                    Gestion des questions
                </span>
            </div>
            <div class="modal-body">
                <form id="formAjout" action="sondage/questions" method="post" enctype="multipart/form-data">
                    <input type="hidden" class="hidden" name="idSondage" value="<?php echo $this->sondage->getId(); ?>" />
                    <div class="box-body">
                        <div id="libelleClone">
                            <div class="form-group libellePere">
                                <div class="row">
                                    <div class="col-md-5">
                                        <div class="form-group">
                                            <label for="">Type de la question</label>
                                            <select class="form-control typeQuestion select2" name="typeQuestion" id="typeQuestion" required>
                                                <?php if (count($this->typeQuestions) > 0): ?>
                                                    <option value="0">--- Selectionner le type de question ---</option>
                                                    <?php foreach ($this->typeQuestions as $typeQuestion): ?>
                                                        <option data-type="<?php echo $typeQuestion->getType(); ?>" value="<?php echo $typeQuestion->getId(); ?>"> <?php echo $typeQuestion->getLibelle(); ?> </option>
                                                    <?php endforeach; ?>
                                                <?php endif; ?>
                                            </select>
                                        </div>
                                        <div id="libelleQuestion">

                                        </div>
                                    </div>
                                    <div class="col-md-7" id="libelleProposition">
                                        
                                    </div>
                                </div>
                                <hr/>
                                <div class="row" id="evaluationGradueeZone">
                                    <div class="col-md-12">
                                        <div class="checkbox">
                                            <label>
                                                <input name="choixMultiple" type="checkbox"> Possibilit&eacute; de choisir un intervalle comme proposition de r&eacute;ponse (Choix multiple)
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6" id="libelleLigne">
                                        
                                    </div>
                                    <div class="col-md-6" id="libelleColonne">
                                        
                                    </div>
                                </div>
                                <div class="row" id="matriceZone">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <button type="button" onClick="javascript:propositionReponseLigne()" class="btn btn-block btn-info btn-xs">Ajouter une nouvelle ligne</button>
                                        </div> 
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <button type="button" onClick="javascript:propositionReponseColonne()" class="btn btn-block btn-info btn-xs">Ajouter une nouvelle colonne</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <span></span><button type="submit" class="btn btn-primary btn-sm "><?php echo $this->translate('Enregistrer'); ?> <i class="fa fa-angle-right ml5"></i></button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    var sondageBaseUrl = "<?php echo $this->basePath("/app/sondage/"); ?>";
    var questionBaseUrl = "<?php echo $this->basePath("/app/question/"); ?>";
    var action = 'ajouter', $table = jQuery('#table'), rows, htmlRenderPropositionReponse, htmlRenderPropositionLigne, htmlRenderPropositionColonne, listeTypeProposition=[];

    jQuery(document).ready(function ($) {
        $('#matriceZone, #evaluationGradueeZone').hide();
        $("#btnAddQuestion").on("click", function () {
            $(".bs-modal-ajout").modal("show");
        });
        
        $.getJSON("<?php echo $this->basePath("/app/type-proposition/"); ?>lister?limit=20", function (reponse) {
            listeTypeProposition = reponse.rows;
        });
        
        
        $("#typeQuestion").on("change", function () {
            $('#libelleQuestion, #libelleLigne, #libelleColonne, #libelleProposition').html('');
            $('#matriceZone, #evaluationGradueeZone').hide();
            
            if (this.value > 0) {
                var statusType = $(this).find(':selected').data('type');
                switch (statusType) {
                    case "information":
                        var templateText        = $('#informationTemplate').html();
                        var htmlRenderQuestion  = Mustache.render(templateText, {libelle:"Libelle de la question", name:"libelleQuestion"});
                        $("#libelleQuestion").html(htmlRenderQuestion);
                        break;
                    case "radio":
                    case "checkbox":
                    case "hierachie":
                        var templateText = $('#texteTemplate').html();
                        var htmlRenderQuestion    = Mustache.render(templateText, {btnProposition:true, lien: false, libelle:"Libelle de la question", name:"libelleQuestion"});
                        $("#libelleQuestion").html(htmlRenderQuestion);
                        var htmlRenderProposition = Mustache.render(templateText, {lien: false, libelle:"Libelle de la proposition de reponse", name:"libelleProposition[]"});
                        $("#libelleProposition").html(htmlRenderProposition);
                        htmlRenderPropositionReponse = htmlRenderProposition;
                        break;
                    case "date":
                    case "text":
                    case "textarea":
                        var templateText = $('#texteTemplate').html();
                        var htmlRenderQuestion    = Mustache.render(templateText, {lien: false, libelle:"Libelle de la question", name:"libelleQuestion"});
                        $("#libelleQuestion").html(htmlRenderQuestion);
                        break;
                    case "illustrationradio":
                    case "illustrationcheckbox":
                        var templateText = $('#texteTemplate').html();
                        var htmlRenderQuestion    = Mustache.render(templateText, {btnProposition:true, lien: true, libelle:"Libelle de la question", name:"libelleQuestion"});
                        $("#libelleQuestion").html(htmlRenderQuestion);
                        var htmlRenderProposition = Mustache.render(templateText, {lien: false, libelle:"Libelle de la la proposition de reponse", name:"libelleProposition[]"});
                        $("#libelleProposition").html(htmlRenderProposition);
                        htmlRenderPropositionReponse = htmlRenderProposition;
                        break;
                    case "imageradio":
                    case "imagecheckbox":
                        var templateText  = $('#texteTemplate').html();
                        var templateImage = $('#imageTemplate').html();
                        var htmlRenderQuestion    = Mustache.render(templateText, {btnProposition:true, lien: false, libelle:"Libelle de la question", name:"libelleQuestion"});
                        $("#libelleQuestion").html(htmlRenderQuestion);
                        var htmlRenderProposition = Mustache.render(templateImage);
                        $("#libelleProposition").html(htmlRenderProposition);
                        htmlRenderPropositionReponse = htmlRenderProposition;
                        break;
                    case "matrice":
                        $('#matriceZone').show();
                        var templateText = $('#texteTemplate').html();
                        var htmlRenderQuestion    = Mustache.render(templateText, {btnProposition:false, lien: false, libelle:"Libelle de la matrice", name:"libelleQuestion"});
                        $("#libelleQuestion").html(htmlRenderQuestion);
                        
                        var htmlRenderLigne     = Mustache.render(templateText, {libelle:"Libelle de la ligne", name:"libelleLigne[]"});
                        $("#libelleLigne").html(htmlRenderLigne);
                        htmlRenderPropositionLigne = htmlRenderLigne;
                        
                        var htmlRenderColonne    = Mustache.render(templateText, {libelle:"Libelle de la colone", name:"libelleColone[]"});
                        $("#libelleColonne").html(htmlRenderColonne);
                        htmlRenderPropositionColonne = htmlRenderColonne;
                        //console.log(listeTypeProposition);
                        var templateTypeProposition = $('#typeMatriceTemplate').html();
                        //var data = {rows: listeTypeProposition};
                        $("#libelleProposition").html(templateTypeProposition);

                        break;
                    case "evaluationgraduee" :
                        $('#evaluationGradueeZone').show();
                        var templateText  = $('#texteTemplate').html();
                        var htmlRenderQuestion    = Mustache.render(templateText, {btnProposition:false, lien: false, libelle:"Libelle de la question", name:"libelleQuestion"});
                        $("#libelleQuestion").html(htmlRenderQuestion);
                        
                        var htmlRenderProposition = Mustache.render(templateText, {lien: false, libelle:"Echelle", name:"libelleProposition[]"});
                        $("#libelleProposition").html(htmlRenderProposition);
                        
                        var htmlRenderLigne = Mustache.render(templateText, {lien: false, libelle:"Libellé de la valeur minimale", name:"libelleProposition[]"});
                        htmlRenderLigne    += Mustache.render(templateText, {libelle:"Valeur minimale", name:"libelleLigne[]"});
                        $("#libelleLigne").html(htmlRenderLigne);
                        
                        var htmlRenderColonne = Mustache.render(templateText, {lien: false, libelle:"Libellé de la valeur maximale", name:"libelleProposition[]"});
                        htmlRenderColonne    += Mustache.render(templateText, {libelle:"Valeur maximale", name:"libelleColone[]"});
                        $("#libelleColonne").html(htmlRenderColonne);
                        break;
                    default :
                        break;
                }
            }
        });

        $(".select2").select2({width: '100%'});

        $(".loader, .loader-delete, #processing").hide();
        $("#formAjout").submit(function (e) {
            e.preventDefault();
            var $valid = $(this).valid();
            if (!$valid) {
                $validator.focusInvalid();
                return false;
            }
            var formData = new FormData($(this)[0]);
            sendAction(formData);
        });


        $table.on('load-success.bs.table', function (e, data) {
            rows = data.rows;
        });
    });
    
    function lignePropositionReponse(){
        $("#libelleProposition").append(htmlRenderPropositionReponse);
    }
    
    function propositionReponseLigne(){
        $("#libelleLigne").append(htmlRenderPropositionLigne);
    }
    
    function propositionReponseColonne(){
        $("#libelleColonne").append(htmlRenderPropositionColonne);
    }
    

    function sendAction(formData) {
        action = 'ajouter-question-propositions';
        var $ajoutLoader = $("#formAjout .modal-footer span");
        var $formAjout = jQuery("#formAjout");
        jQuery.ajax({
            type: "POST",
            url: questionBaseUrl + action,
            cache: false,
            data: formData,
            processData: false, 
            contentType: false,
            success: function (reponse) {
                if (reponse.code === 1) {
                    if (action === 'modifier') {
                        $table.bootstrapTable('updateByUniqueId', {
                            id: reponse.data.id,
                            row: reponse.data
                        });
                        $(".bs-modal-ajout").modal("hide");
                    }
                    else { //add
                        $table.bootstrapTable('refresh');
                        $('#libelleQuestion, #libelleLigne, #libelleColonne, #libelleProposition').html('');
                        $('#matriceZone, #evaluationGradueeZone').hide();
                        $('#typeQuestion').val("");
                    }
                }
                $.gritter.add({
                    // heading of the notification
                    title: reponse.msg,
                    // the text inside the notification
                    image: '<?php echo $this->basePath("img/gritter/confirm.png"); ?>'
                });
            },
            error: function (err) {
                $.gritter.add({
                    // heading of the notification
                    title: "Erreur survenue, réessayer plus tard",
                    // the text inside the notification
                    image: '<?php echo $this->basePath("img/gritter/confirm.png"); ?>'
                });
                $formAjout.removeAttr("disabled");
                $ajoutLoader.removeClass("loader");
            },
            beforeSend: function () {
                $formAjout.attr("disabled", true);
                $ajoutLoader.addClass("loader");
            },
            complete: function () {
                $ajoutLoader.removeClass("loader");
            }
        });
    }

    function optionFormatter(id, row, index) {
        return '<button class="btn btn-xs btn-primary" data-placement="left" data-toggle="tooltip" data-original-title="Modifier" onClick="javascript:updateRow(' + id + ',' + index + ');"><i class="fa fa-edit"></i></button>\n\
                <button class="btn btn-xs btn-danger" data-placement="left" data-toggle="tooltip" data-original-title="Supprimer" onClick="javascript:deleteRow(' + id + ',' + index + ');"><i class="fa fa-trash"></i></button>';
    }
</script>


<script id="texteTemplate" type="text/template">
    <div class="form-group">
        <label>{{libelle}}</label>
        <input type="text" name="{{name}}" class="form-control"  placeholder="{{libelle}}" required="required" autocomplete="off"/>
    </div>  
    
    {{#lien}}
    <div class="form-group">
        <label>Lien de l'image</label>
        <input type="file" name="lien" class="form-control" required="required"/>
    </div>  
    {{/lien}}
            
    {{#btnProposition}}
    <div class="form-group">
        <button type="button" onClick="javascript:lignePropositionReponse()" class="btn btn-block btn-info btn-xs">Ajouter une autre proposition de reponse</button>
    </div>  
    {{/btnProposition}}
</script>

<script id="informationTemplate" type="text/template">
    <div class="form-group">
        <label>{{libelle}}</label>
        <textarea name="{{name}}" class="form-control"  placeholder="{{libelle}}" required="required"></textarea>
    </div>
</script>

<script id="imageTemplate" type="text/template">
    <div class="form-group">
        <label>Lien de l'image</label>
        <input type="file" name="tabLien[]" class="form-control" required="required"/>
    </div>  
</script>

<script id="typeMatriceTemplate" type="text/template">
    <div class="form-group">
        <label>Type de la matrice</label>
        <select class="form-control select2" name="typeProposition" required>
                <?php if (count($this->typePropositions) > 0): ?>
                    <?php foreach ($this->typePropositions as $typeProposition): ?>
                        <option value="<?php echo $typeProposition->getId(); ?>"> <?php echo $typeProposition->getLibelle(); ?> </option>
                    <?php endforeach; ?>
                <?php endif; ?>
        </select>
    </div>
</script>
<?php
$this->headScript()->appendFile($this->basePath('js/jquery.validate.min.js'));
$this->headScript()->appendFile($this->basePath('plugins/bootstrap-table/bootstrap-table.js'));
$this->headScript()->appendFile($this->basePath('plugins/bootstrap-table/locale/bootstrap-table-fr-FR.js'));
$this->headScript()->appendFile($this->basePath('js/mustache.min.js'));
$this->headLink()->appendStylesheet($this->basePath('plugins/bootstrap-table/bootstrap-table.css'));
