<?php
/*
  ##############  Author   : AFOLABI Jamal Deen
  ##############  Email    : jamaldeen25@gmail.com
  ##############  Date     : 15 avr. 2017 A  18:00:23
  ##############  File     : index.phtml
  ##############  Edit Part ###################
  ##############  Date     :
  ##############  Author   :
 */
?>
<div id="toolbar">
    <select id="sondageFilter" class="form-control select2">
        <option value="0"> -- Filtrer par Enquete</option>
    </select>
</div>
<table id="table" class="table table-info table-striped box"
       data-toggle="table"
       data-toolbar="#toolbar"
       data-unique-id="id"
       data-query-params="queryParam"
       data-show-columns="true"
       data-url="<?php echo $this->url('app/question', array('action' => 'lister')); ?>"
       data-side-pagination="server"
       data-pagination="true"
       data-page-list="[10, 20, 50, 100, 200]"
       data-search="true">
    <thead>
        <tr>
            <th data-field="libelle">Question</th>
            <th data-field="sondage.libelle">Enquete</th>
            <th data-field="question.libelle" data-visible="false">Depend question</th>
            <th data-field="proposition.libelle" data-visible="false">Depend reponse</th>
            <th data-field="typeQuestion.libelle">T.Question</th>
            <th data-field="etat" data-formatter="etatFormatter" class="text-center" style="width: 100px;">Etat</th>
            <th data-field="id" class="menu-option" data-formatter="optionFormatter"><i class="fa fa-wrench"></i></th>
        </tr>
    </thead>
</table>

<div class="modal fade bs-modal-ajout" role="dialog" data-backdrop="static">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <span class="circle bg-primary">
                    <i class="glyphicon"></i>
                    Gestion des Questions
                </span>
            </div>
            <div class="modal-body" id="formCtrl" ng-controller="formCtrl">
                <form id="formAjout" class="form-horizontal" action="question/ajouter" method="post">
                    <input type="text" class="hidden" ng-hide="true" ng-model="question.id" name="idQuestion" value="" />
                    <div class="box-body">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <div class="form-group">
                                <label for="libelle" class="control-label">Libelle question *</label>
                                <input type="text" class="form-control" ng-model="question.libelle" id="libelle" name="libelle" placeholder="Libelle de la question" required>
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                        <label for="sondage" class="control-label">Enquete *</label>
                                        <select ng-model="question.sondage.id" class="form-control select2" style="width: 100%;" id="sondage" name="sondage" required>
                                            <option value="" ng-show="false" ng-disabled="true">-- Selectionner une enquete --</option>
                                            <?php foreach ($this->listeEnquetes as $enquete) : ?>
                                                <option value="<?php echo $enquete->getId(); ?>"><?php echo $enquete->getLibelle(); ?></option>
                                            <?php endforeach; ?>
                                        </select>
                                    </div>
                                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                        <label for="typeQuestion" class="control-label">Type question *</label>
                                        <select ng-model="question.typeQuestion.id" class="form-control select2" style="width: 100%;" id="typeQuestion" name="typeQuestion" required>
                                            <option value="" ng-show="false" ng-disabled="true">-- Selectionner un type de question --</option>
                                            <?php foreach ($this->listeTypesQuestion as $typeQuestion) : ?>
                                                <option data-type="<?php echo $typeQuestion->getType(); ?>" value="<?php echo $typeQuestion->getId(); ?>"><?php echo $typeQuestion->getLibelle(); ?></option>
                                            <?php endforeach; ?>
                                        </select>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group" id="showHierachieSide" style="display: none;">
                                <div class="col-md-4">
                                    <div class="has-warning">
                                        <label class="control-label" for="nbLigneMatrice"><i class="fa fa-sort-up"></i> Nombre de ligne</label>
                                        <input required="" type="number" min="1" class="form-control" id="nbLigneMatrice" placeholder="Enter le nombre de lignes">
                                    </div>
                                    <br>
                                    <div id="showHierachieLigne" style="display: none;">
                                        
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="has-warning">
                                        <label class="control-label" for="nbColonneMatrice"><i class="fa fa-sort-up"></i> Nombre de colonne</label>
                                        <input required="" type="number" min="1" class="form-control" id="nbColonneMatrice" placeholder="Enter le nombre de colonnes">
                                    </div>
                                    <br>
                                    <div id="showHierachieColonne" style="display: none;">
                                        
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="has-warning">
                                        <label class="control-label">Cliquer pour</label><br>
                                        <button type="button" id="creerMatricre" class="btn btn-warning btn-xs">Afficher</button>
                                        <span id="errorDisplay" class="help-block" style="color: red; display: none;">Verifier ligne et colonne</span>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="row">
                                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                        <label for="question" class="control-label">Question de dependance</label>
                                        <select ng-model="question.question.id" class="form-control select2" style="width: 100%;" id="question" name="question">
                                            <option value="" ng-show="false" ng-disabled="true">-- Selectionner une question --</option>
                                            <?php foreach ($this->listeQuestions as $question) : ?>
                                                <option value="<?php echo $question->getId(); ?>"><?php echo $question->getLibelle(); ?></option>
                                            <?php endforeach; ?>
                                        </select>
                                    </div>
                                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                        <label for="proposition" class="control-label">Proposition de dependance</label>
                                        <select ng-model="question.proposition.id" class="form-control select2" style="width: 100%;" id="proposition" name="proposition">
                                            <option value="" ng-show="false" ng-disabled="true">-- Selectionner une proposition --</option>
                                            <?php foreach ($this->listePropositions as $proposition) : ?>
                                                <option value="<?php echo $proposition->getId(); ?>"><?php echo $proposition->getLibelle(); ?></option>
                                            <?php endforeach; ?>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4"> 
                                        <label for="etat" class="control-label"> Etat </label><br>
                                        <input type="checkbox" name="etat" ng-model="question.etat" id="etat" value="1" checked=""/>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <span></span><button type="submit" class="btn btn-primary btn-sm "><?php echo $this->translate('Enregistrer'); ?> <i class="fa fa-angle-right ml5"></i></button>
                    </div> 
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal deleteModal  fade bs-delete-modal-static" role="dialog" data-backdrop="static">
    <div class="modal-dialog ">
        <div class="modal-content deleteModal-style">
            <div class="modal-header ">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <span class="circle bg-danger">
                    <i class="fa fa-question-circle"></i>
                    Confimation
                </span>
            </div>
            <div class="modal-body " id="deleteCtrl" ng-controller="deleteCtrl">
                <form id="formDelete" action="question/supprimer" method="post">
                    <input type="text" class="hidden" ng-hide="true" ng-model="question.id" name="idQuestion" value="" />
                    <div class="clearfix">
                        <div class="text-center" id="question"><i class="fa fa-question-circle fa-2x"></i> Etes vous certains de vouloir supprimer ce question<br /><b>{{infoDelete}}</b></div>
                        <div class="text-center vertical" id="processing">Suppression en cours</div>
                        <div class="pull-right">
                            <button type="button" data-dismiss="modal" class="btn btn-default btn-sm"><?php echo $this->translate('Non'); ?> </button>
                            <button type="submit" class="btn btn-danger btn-sm "><?php echo $this->translate('Oui'); ?></button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal  questionModal  fade bs-proposition-modal-static" role="dialog" data-backdrop="static">
    <div class="modal-dialog" style="width: 80%;">
        <div class="modal-content deleteModal-style" ng-controller="propositionCtrl">
            <div class="modal-header bg-primary">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <span class="circle">
                    <i class="fa fa-archive fa-2x"></i>
                    Creer des propositions de reponse pour la question - <b>{{infoSondage}}</b>
                </span>
            </div>
            <div class="modal-body " id="propositionCtrl">
                <div class="row">
                    <div class="col-sm-6 col-lg-6 col-md-6">
                        <table id="tableProposition" class="table table-info table-striped box"
                            data-toggle="table"
                            data-unique-id="id"
                            data-query-params="queryPropositionParam"
                            data-url="<?php echo $this->url('app/proposition', array('action' => 'lister')); ?>"
                            data-side-pagination="server"
                            data-pagination="true"
                            data-page-size="5"
                            data-page-list="[5, 10, 20, 50, 100, 200]">
                            <thead>
                                <tr>
                                    <th data-field="libelle">Proposition de reponse</th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                    <div class="col-sm-6 col-lg-6 col-md-6">
                        <form id="formProposition" action="question/reponses" method="post">
                            <input type="text" class="hidden" ng-hide="true" ng-model="question.id" ng-init="-1" id="idQuestion" name="idQuestion" />
                            <div class="box-body">
                                <div class="form-group">
                                    <label for="" class="control-label">Creation des reponses *</label>
                                </div>
                                <div id="libelleClone">
                                    <div class="form-group libellePere">
                                        <input type="text" name="libelle[]" class="form-control"  placeholder="Libelle de la proposition de reponse" required autocomplete="off"/>
                                        <label class="control-label pull-right"><a href="#" class="remove">supprimer</a></label>
                                    </div>
                                </div>
                                <a href="#" style="font-size: 11px;" class="addsection btn btn-xs btn-default">Ajouter une autre proposition</a>
                            </div>
                            <div class="modal-footer">
                                <span></span><button type="submit" class="btn btn-primary btn-sm "><?php echo $this->translate('Enregistrer'); ?> <i class="fa fa-angle-right ml5"></i></button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    var questionBaseUrl = "<?php echo $this->basePath("/app/question/"); ?>";
    var action = 'ajouter', $table = jQuery('#table'), rows;
    appStock.controller('formCtrl', function ($scope) {
        $scope.populateForm = function (question) {
            $scope.question = question;
        };
        $scope.initForm = function () {
            $scope.question = {};
        };
    }).controller('deleteCtrl', function ($scope) {
        $scope.populateForm = function (question) {
            $scope.question = question;
            $scope.infoDelete = question.libelle;
        };
    }).controller('propositionCtrl', function ($scope) {
        $scope.populateForm = function (question) {
            $scope.question = question;
            $scope.infoSondage = question.libelle;
        };
    });

    jQuery(document).ready(function ($) {

        $("#sondageFilter").change(function () {
            $table.bootstrapTable('refresh');
        });
        $(".select2").select2({width: '100%'});

        $("#typeQuestion").change(function () {
            var statusType = $(this).find(':selected').attr('data-type');
            $("#showHierachieSide").hide();
            if (statusType === 'hierachie') {
                //alert(statusType);
                $("#showHierachieSide").show();
                $("#showHierachieSide").html();
            }
        });
        $("#creerMatricre").click(function () {
            var nbLigne = $("#nbLigneMatrice").val();
            var nbCol   = $("#nbColonneMatrice").val();
            $("#errorDisplay").hide();
            $("#showHierachieColonne").hide();
            $("#showHierachieLigne").hide();
            if (nbLigne > 0 && nbCol > 0) {
                $("#showHierachieColonne").show();
                $("#showHierachieLigne").show();
                var colonne = '';
                var ligne   = '';
                for(var i = 0; i<nbCol; i++){
                    colonne += '<div class="form-group"> <div class="col-md-12"> <input type="text" name="colones[]" class="form-control" placeholder="Libelle de colonne"></div></div>'
                }
                for(var j = 0; j<nbLigne; j++){
                    ligne +=   '<div class="form-group"> <div class="col-md-12"> <input type="text" name="lignes[]" class="form-control" placeholder="Libelle de ligne"></div></div>'
                }
                
                $("#showHierachieColonne").html(colonne);
                $("#showHierachieLigne").html(ligne);
            }
            else {
                $("#errorDisplay").show();
            }
        });


        $(".loader, .loader-delete, #processing").hide();
        $("#formAjout").submit(function (e) {
            e.preventDefault();
            var $valid = $(this).valid();
            if (!$valid) {
                $validator.focusInvalid();
                return false;
            }
            sendAction($(this).serialize());
        });

        $('.bs-modal-ajout').on('hidden.bs.modal', function (e) {
            action = "ajouter";
            var $scope = angular.element(document.getElementById("formCtrl")).scope();
            $scope.$apply(function () {
                $scope.initForm();
            });
        });

        $table.on('load-success.bs.table', function (e, data) {
            rows = data.rows;
        });

        $("#formDelete").submit(function (e) {
            e.preventDefault();
            var formData = $(this).serialize();
            $.ajax({
                type: "POST",
                url: questionBaseUrl + action,
                cache: false,
                data: formData,
                success: function (reponse) {
                    if (reponse.code === 1) {
                        $table.bootstrapTable('remove', {
                            field: 'id',
                            values: [reponse.data.id]
                        });
                    }
                    $.gritter.add({
                        // heading of the notification
                        title: reponse.msg,
                        // the text inside the notification
                        image: '<?php echo $this->basePath("/img/gritter/confirm.png"); ?>'
                    });
                },
                error: function () {
                    $(".loader-delete").hide();
                    $('#processing').hide();
                    $('#processing').show();
                },
                beforeSend: function () {
                    $("#formDelete").attr("disabled", true);
                    $('#processing').show();
                    $("#question").hide();
                },
                complete: function () {
                    $("#formDelete").removeAttr("disabled");
                    $('#processing').hide();
                    $("#question").show();
                    $(".bs-delete-modal-static").modal('hide');
                }
            });
        });

        $("#formProposition").submit(function (e) {
            var $ajoutLoader = $("#formProposition .modal-footer span");
            var $formAjout = jQuery("#formProposition");
            e.preventDefault();
            var formData = $(this).serialize();
            $.ajax({
                type: "POST",
                url: '<?php echo $this->basePath("/app/question/propositions"); ?>',
                cache: false,
                data: formData,
                success: function (reponse) {
                    if (reponse.code === 1) {
                        var $scope = angular.element(document.getElementById("formProposition")).scope();
                        $scope.$apply(function () {
                            $scope.initForm();
                        });
                        $table.bootstrapTable('refresh');
                        location.href = '<?php echo $this->basePath("/app/proposition"); ?>';
                    }
                    $.gritter.add({
                        // heading of the notification
                        title: reponse.msg,
                        // the text inside the notification
                        image: '<?php echo $this->basePath("/img/gritter/confirm.png"); ?>'
                    });
                },
                error: function () {
                    $formAjout.removeAttr("disabled");
                    $ajoutLoader.removeClass("loader");
                },
                beforeSend: function () {
                    $formAjout.attr("disabled", true);
                    $ajoutLoader.addClass("loader");
                },
                complete: function () {
                    $ajoutLoader.removeClass("loader");
                }
            });
        });

        // Wizard With Form Validation
        var $validator = jQuery("#formAjout").validate({
            highlight: function (formElement, label) {
                jQuery(label).closest('.form-group').removeClass('has-success').addClass('has-error');
            },
            success: function (label, formElement) {
                jQuery(label).closest('.form-group').removeClass('has-error');
                $(label).remove();
            }
        });

        //Liste des sondages
        $.getJSON("<?php echo $this->basePath("/app/sondage/lister");      ?>?limit=1000", function (reponse) {
            $.each(reponse.rows, function (index, sondage) {
                $("#sondageFilter").append('<option value="' + sondage.id + '">' + sondage.libelle + '</option>');
            });
        });

        //Liste des typeQuestion
//        $.getJSON("<?php // echo $this->basePath("/app/type-question/lister");      ?>?limit=1000", function (reponse) {
//            $.each(reponse.rows, function (index, typeQuestion) {
//                $("#typeQuestion").append('<option value="' + typeQuestion.id + '">' + typeQuestion.libelle + '</option>');
//            });
//        });

        //Liste des questions
//        $.getJSON("<?php // echo $this->basePath("/app/question/lister");      ?>?limit=1000", function (reponse) {
//            $.each(reponse.rows, function (index, question) {
//                $("#question").append('<option value="' + question.id + '">' + question.libelle + '</option>');
//            });
//        });

        //Liste des propositions
//        $.getJSON("<?php // echo $this->basePath("/app/proposition/lister");      ?>?limit=1000", function (reponse) {
//            $.each(reponse.rows, function (index, proposition) {
//                $("#proposition").append('<option value="' + proposition.id + '">' + proposition.libelle + '</option>');
//            });
//        });

        var template = $('#libelleClone div.libellePere:first').clone();
        $('#libelleClone div.libellePere a.remove:first').hide();

        //add new section clone 
        $(".addsection").on('click', function () {
            template.clone().appendTo('#libelleClone');
            return false;
        });

        //remove section clone
        $('#libelleClone').on('click', '.remove', function () {
            //fade out section
            $(this).parent().fadeOut(300, function () {
                //remove parent element (main section)
                $(this).parent().empty();
                return false;
            });
            return false;
        });
    });

    function updateRow(idQuestion, index) {
        var $scope = angular.element(document.getElementById("formAjout")).scope();

        var question = _.findWhere(rows, {id: idQuestion});
        action = "modifier";
        $scope.$apply(function () {
            $scope.populateForm(question);
        });
        $("#sondage").select2({val: question.sondage.id});
        $("#typeQuestion").select2({val: question.typeQuestion.id});
        $(".bs-modal-ajout").modal("show");
    }

    function deleteRow(idQuestion, index) {
        var question = _.findWhere(rows, {id: idQuestion});
        var $scope = angular.element(document.getElementById("deleteCtrl")).scope();
        action = "supprimer";
        $scope.$apply(function () {
            $scope.populateForm(question);
        });
        $(".bs-delete-modal-static").modal("show");
    }

    function addProposition(idQuestion, index) {
        var question = _.findWhere(rows, {id: idQuestion});
        var $scope = angular.element(document.getElementById("propositionCtrl")).scope();
        action = "propositions";
        $scope.$apply(function () {
            $scope.populateForm(question);
        });
        $("#tableProposition").bootstrapTable("refresh");
        $(".bs-proposition-modal-static").modal("show");
    }

    function sendAction(formData) {
        var $ajoutLoader = $("#formAjout .modal-footer span");
        var $formAjout = jQuery("#formAjout");
        jQuery.ajax({
            type: "POST",
            url: questionBaseUrl + action,
            cache: false,
            data: formData,
            success: function (reponse) {
                if (reponse.code === 1) {
                    if (action === 'modifier') {
                        $table.bootstrapTable('updateByUniqueId', {
                            id: reponse.data.id,
                            row: reponse.data
                        });
                        $(".bs-modal-ajout").modal("hide");
                    }
                    else { //add
                        var $scope = angular.element(document.getElementById("formAjout")).scope();
                        $scope.$apply(function () {
                            $scope.initForm();
                        });
                        $table.bootstrapTable('refresh');
                    }
                }
                $.gritter.add({
                    // heading of the notification
                    title: reponse.msg,
                    // the text inside the notification
                    image: '<?php echo $this->basePath("/img/gritter/confirm.png"); ?>',
                });
            },
            error: function (err) {
                $.gritter.add({
                    // heading of the notification
                    title: "Erreur survenue, réessayer plus tard",
                    // the text inside the notification
                    image: '<?php echo $this->basePath("/img/gritter/confirm.png"); ?>',
                });
                $formAjout.removeAttr("disabled");
                $ajoutLoader.removeClass("loader");
            },
            beforeSend: function () {
                $formAjout.attr("disabled", true);
                $ajoutLoader.addClass("loader");
            },
            complete: function () {
                $ajoutLoader.removeClass("loader");
            }
        });
    }

    function optionFormatter(id, row, index) {
        return '<button class="btn btn-xs btn-primary" data-placement="left" data-toggle="tooltip" data-original-title="Modifier" onClick="javascript:updateRow(' + id + ',' + index + ');"><i class="fa fa-edit"></i></button>\n\
                <button class="btn btn-xs btn-danger" data-placement="left" data-toggle="tooltip" data-original-title="Supprimer" onClick="javascript:deleteRow(' + id + ',' + index + ');"><i class="fa fa-trash"></i></button>\n\
                <button class="btn btn-xs btn-info" data-placement="left" data-toggle="tooltip" data-original-title="Ajouter des propositions de reponse a - ' + row.libelle + '" onClick="javascript:addProposition(' + id + ',' + index + ');"><i class="fa fa-archive"></i></button>';
    }

    function etatFormatter(etat) {
        if (etat === true)
            return '<i class="glyphicon glyphicon-ok text-primary"></i>';
        else
            return '<i class="glyphicon glyphicon-remove text-danger"></i>';
    }

    function queryParam(params) {
        params.sondage = $("#sondageFilter").val();
        return params;
    }

    function queryPropositionParam(params) {
        params.question = $("#idQuestion").val();
        return params;
    }
</script>

<?php
$this->headScript()->appendFile($this->basePath('js/jquery.validate.min.js'));
$this->headScript()->appendFile($this->basePath('plugins/bootstrap-table/bootstrap-table.js'));
//$this->headScript()->appendFile($this->basePath('plugins/select2/select2.full.min.js'));
$this->headScript()->appendFile($this->basePath('plugins/bootstrap-table/locale/bootstrap-table-fr-FR.js'));

//$this->headLink()->appendStylesheet($this->basePath('plugins/select2/select2.min.css'));
$this->headLink()->appendStylesheet($this->basePath('plugins/bootstrap-table/bootstrap-table.css'));
